{% extends "serviceStation/base.html" %}
{% block body %}

<div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Fuel Inventory</h1>
            <p class="lead">
                <a class="btn btn-outline-primary" href="{% url 'serviceStation:activate_whatsapp' %}" style="margin-top: 23px;margin-bottom: 0;margin-left: 30px;background-color: #25d366;color: white;border: none;">
                    <i class="fa fa-whatsapp" style="margin-right: 11px;"></i>
                    {% if request.user.activated_for_whatsapp %}
                        Deactivate Whatsapp
                    {% else %}
                        Activate Whatsapp
                    {% endif %}
                </a>
            </p>
    
        </div>
    </div>

<div class="col-md-12">
    <div class="card" style="background-color:white">

        <div class="card-header card-header-primary">
            <h4 class="card-title ">Fuel Quantities Received </h4>
        </div>
        <div class="card-body">
        
            <div class="container-fluid">
                {% if allocations %}

                <table id="example" class="table table-striped" style="width:100%">
                    <thead style="color:white; background:lightslategray">
                        <th style="color:white;">
                            Date
                        </th>

                        <th style="color:white;">
                            Action
                        </th>


                        <th style="color:white;">
                            Diesel 
                        </th>

                        <th style="color:white;">
                            Price
                        </th>
                        <th style="color:white;">
                               Petrol
                            </th>
                            <th style="color:white;">
                                 Price
                                </th>
                        
                        <th style="color:white;">
                            Payment
                        </th>
                    <tbody>
                        {% for allocation in allocations %}
                        <tr>
                            <td>{{allocation.date}}</td>
                            <td>{{allocation.action}}</td>
                            <td>{{allocation.diesel_quantity}}</td>
                            <td>{{allocation.diesel_price}}</td>
                            <td>{{allocation.petrol_quantity}}</td>
                            <td>{{allocation.petrol_price}}</td>
                            <td>{%if allocation.cash%}Cash {% else%} {%endif%} {%if allocation.usd%}USD {% else%} {%endif%} {%if allocation.ecocash%}Ecocash {% else%} {%endif%} {%if allocation.swipe%}Swipe {% else%} {%endif%}</td>
                        </tr>

                        {% endfor %}

                    </tbody>
                </table>
                {% else %}
                <p>Nothing To Show</p>
                {% endif %}
            </div>
        </div>
    </div>

</div>

{% endblock %}