{% extends "serviceStation/new_base.html" %}
{% block body %}


<section class="content-header">
    <form action="#" method="get" class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
           <div class="input-group">
           <input type="text" name="q" class="form-control" placeholder="Search...">
               <span class="input-group-btn">
                   <button type="submit" name="search" id="search-btn" class="btn"><i class="fa fa-search"></i></button>
               </span>
           </div>
       </form>   
   <div class="header-icon">
       <i class="fa fa-book"></i>
   </div>
   <div class="header-title">
       <h1> Service Station Portal</h1>
       <small>{{user.company.name}}</small>
       
   </div>
  </section>

  <div class="col-md-12">

  <div class="panel panel-bd lobidrag lobipanel lobipanel-sortable" data-inner-id="nMPzTfz4dU"
  data-index="0">
  <div class="panel-heading ui-sortable-handle">
      <div class="btn-group">
          <h3 class="display-3" style="color: rgb(79, 189, 150);">Fuel Received</h3>

      </div>
      <div class="dropdown">
          <ul class="dropdown-menu dropdown-menu-right">


          </ul>
          <div class="dropdown-toggle" data-toggle="dropdown"><span
                  class="panel-control-icon glyphicon glyphicon-cog"></span>
          </div>
      </div>
  </div>
  <div class="panel-body">


    {% if allocations %}

                <table id="example" class="table table-striped" style="width:100%">
                    <thead style="color:white; background:lightslategray">
                        <th style="color:white;">
                            Date
                        </th>

                        <th style="color:white;">
                            Action
                        </th>


                        <th style="color:white;">
                            Diesel 
                        </th>

                        <th style="color:white;">
                            Price
                        </th>
                        <th style="color:white;">
                               Petrol
                            </th>
                            <th style="color:white;">
                                 Price
                                </th>
                        
                        <th style="color:white;">
                            Payment
                        </th>
                    <tbody>
                        {% for allocation in allocations %}
                        <tr>
                            <td>{{allocation.date}}</td>
                            <td>{{allocation.action}}</td>
                            {% if allocation.diesel_quantity != 0 %}
                            <td>{{allocation.diesel_quantity}}</td>
                            <td>{{allocation.diesel_price}}</td>
                            {% else %}
                           <td>-</td>
                           <td>-</td>
                           {% endif %}
                           {% if allocation.petrol_quantity != 0 %}
                            <td>{{allocation.petrol_quantity}}</td>
                            <td>{{allocation.petrol_price}}</td>
                            {% else %}
                           <td>-</td>
                           <td>-</td>
                           {%endif%}
                            <td>{%if allocation.cash%}Cash {% else%} {%endif%} {%if allocation.usd%}USD {% else%} {%endif%} {%if allocation.ecocash%}Ecocash {% else%} {%endif%} {%if allocation.swipe%}Swipe {% else%} {%endif%}</td>
                        </tr>

                        {% endfor %}

                    </tbody>
                </table>
                {% else %}
                <p>Nothing To Show</p>
                {% endif %} 


  </div>
</div>
</div>

{% endblock %}