{% extends "serviceStation/new_base.html" %}
{% load crispy_forms_tags %} 

{% block body%}

<section class="content-header">
  <form action="#" method="get" class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
         <div class="input-group">
         <input type="text" name="q" class="form-control" placeholder="Search...">
             <span class="input-group-btn">
                 <button type="submit" name="search" id="search-btn" class="btn"><i class="fa fa-search"></i></button>
             </span>
         </div>
     </form>
 <div class="header-title" style="margin-left: 0px;">
     <h1>Change Password</h1>
     <small>{{user.company.name}}</small>
     
 </div>
</section>

<div class="col-md-12">
<div class="panel panel-bd lobidrag lobipanel lobipanel-sortable" data-inner-id="nMPzTfz4dU"
data-index="0">
<div class="panel-heading ui-sortable-handle">
    <div class="btn-group">
        <h3 class="display-3" style="color: rgb(39, 102, 80);">Change Password</h3>

    </div>
    <div class="dropdown">
        <ul class="dropdown-menu dropdown-menu-right">


        </ul>
        <div class="dropdown-toggle" data-toggle="dropdown"><span
                class="panel-control-icon glyphicon glyphicon-cog"></span>
        </div>
    </div>
</div>
<div class="panel-body">

  {% load crispy_forms_tags %}
  <form action="{% url 'serviceStation:edit_password' %}" method="POST">
  {% csrf_token %}
  {{password_change|crispy}} 
  <button type="submit" class="btn btn-primary pull-center">Save Password</button>
  </form>


</div>
</div>
</div>

{% endblock %}