{% extends "serviceStation/new_base.html" %}
{% load crispy_forms_tags %} 

{% block body%}

<section class="content-header">
  <form action="#" method="get" class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
         <div class="input-group">
         <input type="text" name="q" class="form-control" placeholder="Search...">
             <span class="input-group-btn">
                 <button type="submit" name="search" id="search-btn" class="btn"><i class="fa fa-search"></i></button>
             </span>
         </div>
     </form>   
 <div class="header-icon">
     <i class="fa fa-address-book"></i>
 </div>
 <div class="header-title">
     <h1> Service Station Portal</h1>
     <small>{{user.company.name}}</small>
     
 </div>
</section>

<div class="col-md-12">


  <div class="panel panel-bd lobidrag lobipanel lobipanel-sortable" data-inner-id="nMPzTfz4dU"
  data-index="0">
  <div class="panel-heading ui-sortable-handle">
      <div class="btn-group">
          <h3 class="display-3" style="color: rgb(79, 189, 150);">{{user.first_name}}'s Profile</h3>
  
      </div>
      <div class="dropdown">
          <ul class="dropdown-menu dropdown-menu-right">
  
  
          </ul>
          <div class="dropdown-toggle" data-toggle="dropdown"><span
                  class="panel-control-icon glyphicon glyphicon-cog"></span>
          </div>
      </div>
  </div>
  <div class="panel-body">
  
  
  <!-- Main content -->
  <section class="content">
      <div class="row">
          <div class="col-sm-12 col-md-4">
              <div class="card">
                  <div class="card-header">
                      <div class="card-header-headshot"></div>
                  </div>
                  <div class="card-content">
                      <div class="card-content-member">
                          <h4 class="m-t-0">{{user.first_name}} {{user.last_name}} </h4>
                          <p class="m-0"><i class="pe-7s-map-marker"></i>Harare</p>
                      </div>
                     
                      <div class="card-content-summary">
                          <p>Never take advantage of anyone's weakness to destroy his/her life, let us work on building and strengthening each other.</p>
                      </div>
                  </div>
                  <div class="card-footer" style="width: 900px;">
                      <div class="card-footer-stats col-md-12">
                          <div>
                              <p>First Name</p><i ></i><span>{{user.first_name}}</span>
                          </div>
                          <div>
                              <p>Last Name</p><i ></i><span>{{user.last_name}}</span>
                          </div>
                          
                          <div>
                              <p>Email</p><span >{{user.email}}</span>
                          </div>
                          <div style="background-color: rgb(54, 49, 49);">
                            <p>Whatsapp Number</p><span >{{user.phone_number}}</span>
                        </div>
                      </div>
                      
                  </div>
              </div>
          </div>
          <div class="col-sm-12 col-md-8">
           
              <div class="review-block">
                  <div class="row">
                     
                      <div class="col-sm-4">
                          <div class="review-block-rate">
                              <label type="button" class="btn btn-block btn-success btn-xs" aria-label="Left Align"><h4>Company Name</h4>
                              </label>
                             
                          </div>
                          <div class="review-block-title">{{user.company.name}} </div>
                          <div class="review-block-description"> </div>
                      </div>
                      <div class="col-sm-4">
                          <div class="review-block-rate">
                              <label type="button" class="btn btn-block btn-success btn-xs" aria-label="Left Align"><h4>Company Type</h4>
                              </label>
                             
                          </div>
                          <div class="review-block-title">{{user.company.company_type}}</div>
                          <div class="review-block-description"> </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="review-block-rate">
                            <label type="button" class="btn btn-block btn-success btn-xs" aria-label="Left Align"><h4>Company Address</h4>
                            </label>
                           
                        </div>
                        <div class="review-block-title">{{user.company.address}}</div>
                        <div class="review-block-description"> </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="review-block-rate">
                          <label type="button" class="btn btn-block btn-success btn-xs" aria-label="Left Align"><h4>Company Bank</h4>
                          </label>
                         
                      </div>
                      <div class="review-block-title">{{user.company.destination_bank}} - {{user.company.account_number}}</div>
                      <div class="review-block-description"> </div>
                  </div>
                      
                  </div>
                  <hr>
                 
                  <hr>
                 
              </div>
          </div>
      </div> 
  </section> <!-- /.content -->
  
  
  </div>
  </div>


</div>
{% endblock %}