{% extends "supplier/dashboard.html" %}
{% load crispy_forms_tags %} 

{% block body%}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
      <h1 class="display-3">{{request.user.company|title}}'s Profile</h1>
      
      <hr class="my-2">
      
  </div>
</div>

<div class="row">
  <div class="col-md-11">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Edit Profile</h4>
        <p class="card-category">Complete your profile</p>
      </div>
      <div class="card-body">
        <d/div>
          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <label class="bmd-label-floating">Company</label>
                <input type="text" class="form-control" value="{{request.user.company.name}}" disabled > 
                
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="bmd-label-floating">Username</label>
                <input type="text" class="form-control" value="{{request.user.username}}" disabled>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">Email address</label>
                <input type="email" class="form-control" value="{{request.user.email}}" disabled>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">Fist Name</label>
                <input type="text" class="form-control" value="{{request.user.first_name}}" disabled>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">Last Name</label>
                <input type="text" class="form-control" value="{{request.user.last_name}}" disabled>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">Phone Number</label>
                <input type="text" class="form-control" value="{{request.user.phone_number}}" disabled>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating">Adress</label> 
                <input type="text" class="form-control" value="{{request.user.company.address}}" disabled >
              </div>
            </div>
          </div>
          <div class="row">
          <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary pull-center">Update Profile</button>
            <a class="btn btn-info pull-center" href="{% url 'change_password' %}">Change Password</a>
            </div>
          </div>
        </form>

        <!-- <form method="post">
          {% csrf_token %}
          <br> <h4 class="card-title">Change your Password</h4>
          <br>
          
          <div class="row">
            <div class="col-md-9">
              {{form|crispy}}
            </div>
          </div>
          <div class="col-md-4 text-center">
          <button type="submit" class="btn btn-primary pull-center">Update Profile</button>
          </div>
          <div class="clearfix"></div>
        </form> -->
      </div>
    </div>
  </div>
  <!-- <div class="col-md-4">
    <div class="card card-profile">
      <div class="card-avatar">
        <a href="#">
          <img class="img" src="{{ user.image.url }}" /> 
        </a>
      </div>
      <div class="card-body">
        <h6 class="card-category text-gray">{{user_logged.company_position}}</h6>
        <h4 class="card-title">{{request.user.first_name}} {{request.user.last_name}}</h4>
        <!--<a href="#" class="btn btn-primary btn-round">Follow</a>-->
      </div>
    </div>
  </div> -->
</div>
{% endblock %}