{% extends "supplier/dashboard.html" %}
{% block body %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Audit Trail</h1>
        
        <hr class="my-2">
        
    </div>
</div>

<div class="col-md-12">
    <div class="card" style="background-color:white">

        <div class="card-header card-header-primary">
            <h4 class="card-title ">Fuel Quantities Received </h4>
        </div>
        <div class="card-body">
        
            <div class="container-fluid">
                <table id="example" class="table table-striped" style="width:100%">
                    <thead style="color:white; background:lightslategray">
                        <th style="color: white;"></th>
                        <th style="color:white;">
                            Date
                        </th>

                        <th style="color:white;">
                            Action
                        </th>

                        <th style="color:white;">
                            Diesel 
                        </th>

                        <th style="color:white;">
                            Price
                        </th>
                        <th style="color:white;">
                               Petrol
                            </th>
                            <th style="color:white;">
                                 Price
                                </th>
                        
                        <th style="color:white;">
                            Payment
                        </th>
                    <tbody>
                        {% for allocation in allocations %}
                        <tr>
                            <td></td>
                            <td>{{allocation.date}}</td>
                            <td>{{allocation.action}}</td>
                            {% if allocation.diesel_quantity != 0 %}
                            <td>{{allocation.diesel_quantity}}</td>
                            <td>{{allocation.diesel_price}}</td>
                            {% else %}
                            <td>N/A</td>
                            <td>N/A</td>
                            {% endif %}
                            {% if allocation.petrol_quantity != 0 %}
                            <td>{{allocation.petrol_quantity}}</td>
                            <td>{{allocation.petrol_price}}</td>
                            {% else %}
                            <td>N/A</td>
                            <td>N/A</td>
                            {%endif%}
                            <td>{%if allocation.cash%}Cash &nbsp;{%endif%} {%if allocation.usd%}USD &nbsp;{%endif%} {%if allocation.ecocash%}Ecocash &nbsp;{%endif%} {%if allocation.swipe%}Swipe &nbsp;{%endif%}</td>
                        </tr>

                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

{% endblock %}