{% extends "supplier/dashboard.html" %}
{% block body %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
      <h1 class="display-3">{{request.user.company|title}}'s Inventory</h1>
      
      <hr class="my-2">
      
  </div>
</div>


<div class="col-md-12">
  <div class="card" style="background-color:white">

    <div class="card-header card-header-primary">
      <h4 class="card-title ">{{subsidiary}} Fuel Update</h4>
    </div>
    <div class="card-body">
      <div class="container-fluid">
        {% if updates %}
      <table id="example" class="table table-striped table-bordered" style="width:100%">
          <tr>
              <td height="50"> Depot Name</td>
              <td height="50"> {{subsidiary}}</td>
            </tr>
      <tr>
        <td height="50">Petrol Quantity</td>
        <td height="50">
        {{updates.petrol_quantity}} {% if updates.petrol_quantity < 1000 %} <i class="material-icons text-danger" style="margin-left: 10px;">warning</i><a href="#" style="margin-left: 10px;">Please Request for More Stock...</a> {% endif %}
      </td>
        </tr>
        <tr>
            <td height="50">Petrol Price</td>
            <td height="50">{{updates.petrol_price}}</td>
          </tr>
          <tr>
            <td height="50">Diesel Quantity</td>
            <td height="50">
               {{updates.diesel_quantity}} {% if updates.diesel_quantity < 1000 %} <i class="material-icons text-danger" style="margin-left: 10px;">warning</i><a href="#" style="margin-left: 10px;">Please Request for More Stock...</a> {% endif %}
            </td>
            </tr>
            <tr>
                <td height="50">Diesel Price</td>
                <td height="50">{{updates.diesel_price}}</td>
              </tr>
              <tr>
                <td height="50">Payment Method</td>
                <td height="50">
                {% if updates.cash %}
                CASH &nbsp;
                {% if updates.ecocash %}
                ECOCASH &nbsp;
                {% if updates.usd %}
                USD &nbsp;
                {% if updates.swipe %}
                SWIPE
                {% endif %}{% endif %}{% endif %}{% endif %}
                </td>
              </tr>

      </table>
        {% else %}
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <tr>
                <td height="50"> Depot Name</td>
                <td height="50"> {{subsidiary}}</td>
              </tr>
        <tr>
          <td height="50">Petrol Quantity</td>
          <td height="50">
          <i class="material-icons text-danger" style="margin-left: 10px;">warning</i><a href="#" style="margin-left: 10px;">Please Request for Fuel...</a>
        </td>
          </tr>
          <tr>
              <td height="50">Petrol Price</td>
              <td height="50">N/A</td>
            </tr>
            <tr>
              <td height="50">Diesel Quantity</td>
              <td height="50">
                 <i class="material-icons text-danger" style="margin-left: 10px;">warning</i><a href="#" style="margin-left: 10px;">Please Request for Fuel...</a>
              </td>
              </tr>
              <tr>
                  <td height="50">Diesel Price</td>
                  <td height="50">N/A</td>
                </tr>
                <tr>
                  <td height="50">Payment Method</td>
                  <td height="50">
                    N/A
                  </td>
                </tr>
  
        </table>
        {% endif %}
        <!--update fuel-->
        <div class="modal fade" id="add_fuel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header" style="background-color: #9c27b0;color: white;">
                <h5 class="modal-title" id="exampleModalLabel">Update today's capacity</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                {% load crispy_forms_tags %}
                <form action="{% url 'supplier:fuel_update' %}" method="POST">
                           {% csrf_token %}
                        <div class="form-group">
                            <lable>Petrol Quantity</lable>
                            <input type="text" name="petrol_quantity" class="form-control" value="{{updates.petrol_quantity}}" />
                        </div>
                        <div class="form-group">
                          <lable>Petrol Price</lable>
                          <input type="text" name="petrol_price" class="form-control" value="{{updates.petrol_price}}" />
                      </div>
                      <div class="form-group">
                        <lable>Diesel Quantity</lable>
                        <input type="text" name="diesel_quantity" class="form-control" value="{{updates.diesel_quantity}}" />
                    </div>
                    <div class="form-group">
                      <lable>Diesel Price</lable>
                      <input type="text" name="diesel_price" class="form-control" value="{{updates.diesel_price}}" />
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      {{update_form.cash|as_crispy_field}}
                    </div>
                    <div class="col-md-6">
                      {{update_form.usd|as_crispy_field}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      {{update_form.swipe|as_crispy_field}}
                    </div>
                    <div class="col-md-6">
                      {{update_form.ecocash|as_crispy_field}}
                    </div>
                    </div>
                  </div>
                  <div class="row" style="margin-bottom: 15px;">
                  <button class="btn btn-primary" type="submit" style="max-width: 33%;display: block;margin: 0 auto;">Update</button> 
                  <button type="button" class="btn btn-default" data-dismiss="modal" style="max-width: 33%;display: block;margin: 0 auto;">Close</button> 
                  </div> 
                </form>
              </div>
              
            </div>
          </div>
        </div>

      </div>
      <button type="button" class="btn btn-primary btn-sm" style="margin-left:auto;margin-right:auto;display:block;"
        class="btn btn-primary " data-toggle="modal" data-target="#add_fuel">Update Fuel Quantities</button> </p>

    </div>
  </div>

</div>
{% endblock %}