{% extends "finder/buyer_base.html" %}
{% load static %}
{% load humanize %}

{% block body %}
    <!-- Content Header (Page header) -->


    <section class="content-header">
        <form action="#" method="get" class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn"><i
                        class="fa fa-search"></i></button>
            </span>
            </div>
        </form>
        <!-- <div class="header-icon">
            <i class="fa fa-binoculars"></i>
        </div> -->
        <div class="header-title" style="margin-left: 0px;">
            <h1>{{request.user.company.name}} Daily Activity  </h1>
            <small>Fuel Management System</small>
            <ol class="breadcrumb hidden-xs">
                <li><a href=""><i class="pe-7s-home"></i> Home</a></li>
                <li class="active">Activity</li>
            </ol>
        </div>
    </section>
    <!-- Main content -->
    <div class="content">
        <div class="panel panel-bd lobidrag lobipanel lobipanel-sortable" data-inner-id="nMPzTfz4dU"
             data-index="0">
            <div class="panel-heading ui-sortable-handle">


                <div class="dropdown">
                    <ul class="dropdown-menu dropdown-menu-right">


                    </ul>
                    <div class="dropdown-toggle" data-toggle="dropdown"><span
                            class="panel-control-icon glyphicon glyphicon-cog"></span>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">

                    <div class="col-xs-12 col-sm-12">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active" ><a href="#tab1" data-toggle="tab" aria-expanded="true" style="border: rgb(211, 208, 208) 1px solid;">Current</a></li>
                            <li class=""><a href="#tab2" data-toggle="tab" aria-expanded="false" style="border: rgb(211, 208, 208) 1px solid;">Previous</a></li>
                        </ul>
                        <!-- Tab panels -->
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="tab1">
                                <div class="panel-body">
                                    <table id="payment_history" class="table table-striped table-bordered" style="width:100%">
                                        <thead style="background-color: lightslategray; color:white;">
                                        <tr>
                                            <th style="color: white;">Date</th>
                                            <th style="color: white;">Organisation</th>
                                            <th style="color: white;">User</th>
                                            <th style="color: white;">Action</th>
                                            <th style="color: white;">Description</th>
                                            <th style="color: white;">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for activity in current_activities %}
                                            <tr>
                                                <td>{{ activity.date }}</td>
                                                <td>Corporate Buyer</td>
                                                <td>{{activity.user.first_name}} {{activity.user.last_name}}</td>
                                                <td>{{activity.action}}</td>
                                                <td>{{activity.description}}</td>
                                                {% if activity.action == 'Fuel Request' %}
                                                <td>
                                                    <div class="btn-group">
                                                        <button  data-toggle="modal"  data-target="#request{{activity.id}}" type="button" class="btn btn-labeled btn-success btn-sm">
                                                            <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                                                        </button>
                                                    </div>
                                                </td>
                                                {% elif activity.action == 'Accepting Offer' %}
                                                <td>
                                                    <div class="btn-group">
                                                        <button  data-toggle="modal"  data-target="#accept_offer{{activity.id}}" type="button" class="btn btn-labeled btn-success btn-sm">
                                                            <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                                                        </button>
                                                    </div>
                                                </td>
                                                {% elif activity.action == 'Rejecting Offer' %}
                                                <td>
                                                    <div class="btn-group">
                                                        <button  data-toggle="modal"  data-target="#reject_offer{{activity.id}}" type="button" class="btn btn-labeled btn-success btn-sm">
                                                            <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                                                        </button>
                                                    </div>
                                                </td>
                                                {% elif activity.action == 'Uploading Proof of Payment' %}
                                                <td>
                                                    <div class="btn-group"> 
                                                        <a href="{% url 'buyer:download_proof' activity.reference_id %}" type="button" class="btn btn-labeled btn-success btn-sm">
                                                            <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                                                        </a>                                                             
                                                             
                                                    </div>
                                                </td>
                                                {% elif activity.action == 'Uploading Delivery Note' %}
                                                <td>
                                                    <div class="btn-group"> 
                                                        <a href="{% url 'buyer:download_d_note' activity.reference_id %}" type="button" class="btn btn-labeled btn-success btn-sm">
                                                            <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                                                        </a>                                                             
                                                             
                                                    </div>
                                                </td>
                                               
                                               
                                                {% endif %}
                                            </tr>
                                            <div class="modal fade modal-success in" id="request{{activity.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                            aria-hidden="true" style="overflow-y: initial !important;" >
                                            <div class="modal-dialog modal-notice">
                                                <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                    <span class="modal-title">Fuel Request Info</span>
                                                </div>
                                                    <div class="modal-body" style="padding: 30px;overflow-y: auto;">
                                                        <div class="row" style="padding: 10px;">
                                                            <p class="col-md-6" style="font-weight: bold;">Fuel Type: </p>
                                                            <p class="col-md-6">{{ activity.request_object.fuel_type }}</p>
                                                        </div>
                                                        <div class="row" style="padding: 10px;">
                                                            <p class="col-md-6" style="font-weight: bold;">Quantity: </p>
                                                            <p class="col-md-6">{{ activity.request_object.amount }}</p>
                                                        </div>
                                                        <div class="row" style="padding: 10px;">
                                                            <p class="col-md-6" style="font-weight: bold;">Currency </p>
                                                            <p class="col-md-6">{{activity.request_object.payment_method }}</p>
                                                        </div>
                                                        <div class="row" style="padding: 10px;">
                                                            <p class="col-md-6" style="font-weight: bold;">Delivery Method: </p>
                                                            <p class="col-md-6">{{activity.request_object.delivery_method}}</p>
                                                        </div>
                                                       
                                                        
                                                        <div class="modal-footer">  
                                                            <button class="btn btn-default" data-dismiss="modal" >Close</button>
                                                        </div>    
                        
                                                    </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>


                                            <div class="modal fade modal-success in" id="accept_offer{{activity.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                            aria-hidden="true" style="overflow-y: initial !important;" >
                                            <div class="modal-dialog modal-notice">
                                                <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                    <span class="modal-title">Accepted Offer Info</span>
                                                </div>
                                                <div class="modal-body" style="padding: 30px;overflow-y: auto;">
                                                    <div class="row" style="padding: 10px;">
                                                        <p class="col-md-6" style="font-weight: bold;">Fuel Type: </p>
                                                        <p class="col-md-6">{{ activity.offer_object.request.fuel_type }}</p>
                                                    </div>
                                                    <div class="row" style="padding: 10px;">
                                                        <p class="col-md-6" style="font-weight: bold;">Quantity: </p>
                                                        <p class="col-md-6">{{ activity.offer_object.quantity }}</p>
                                                    </div>
                                                    <div class="row" style="padding: 10px;">
                                                        <p class="col-md-6" style="font-weight: bold;">Currency </p>
                                                        <p class="col-md-6">{{activity.offer_object.request.payment_method }}</p>
                                                    </div>
                                                    <div class="row" style="padding: 10px;">
                                                        <p class="col-md-6" style="font-weight: bold;">Delivery Method: </p>
                                                        <p class="col-md-6">{{activity.offer_object.request.delivery_method}}</p>
                                                    </div>
                                                   
                                                    
                                                    <div class="modal-footer">  
                                                        <button class="btn btn-default" data-dismiss="modal" >Close</button>
                                                    </div>    
                    
                                                </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>


                                            <div class="modal fade modal-success in" id="reject_offer{{activity.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                            aria-hidden="true" style="overflow-y: initial !important;" >
                                            <div class="modal-dialog modal-notice">
                                                <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                    <span class="modal-title">Rejected Offer Info</span>
                                                </div>
                                                <div class="modal-body" style="padding: 30px;overflow-y: auto;">
                                                    <div class="row" style="padding: 10px;">
                                                        <p class="col-md-6" style="font-weight: bold;">Fuel Type: </p>
                                                        <p class="col-md-6">{{ activity.roffer_object.request.fuel_type }}</p>
                                                    </div>
                                                    <div class="row" style="padding: 10px;">
                                                        <p class="col-md-6" style="font-weight: bold;">Quantity: </p>
                                                        <p class="col-md-6">{{ activity.roffer_object.quantity }}</p>
                                                    </div>
                                                    <div class="row" style="padding: 10px;">
                                                        <p class="col-md-6" style="font-weight: bold;">Currency </p>
                                                        <p class="col-md-6">{{activity.roffer_object.request.payment_method }}</p>
                                                    </div>
                                                    <div class="row" style="padding: 10px;">
                                                        <p class="col-md-6" style="font-weight: bold;">Delivery Method: </p>
                                                        <p class="col-md-6">{{activity.roffer_object.request.delivery_method}}</p>
                                                    </div>
                                                   
                                                    
                                                    <div class="modal-footer">  
                                                        <button class="btn btn-default" data-dismiss="modal" >Close</button>
                                                    </div>    
                    
                                                </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            
                                        {%endfor%}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab2">
                                <div class="panel-body">
                                    <table id="delivery_schedule" class="table table-striped table-bordered" style="width:100%">
                                        <thead style="background-color: lightslategray; color:white;">
                                        <tr>
                                            <th style="color: white;">Date</th>
                                            <th style="color: white;">Organisation</th>
                                            <th style="color: white;">User</th>
                                            <th style="color: white;">Action</th>
                                            <th style="color: white;">Description</th>
                                            <th style="color: white;">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for activity in activities %}
                                            <tr>
                                                <td>{{ activity.date }}</td>
                                                <td>Corporate Buyer</td>
                                                <td>{{activity.user.first_name}} {{activity.user.last_name}}</td>
                                                <td>{{activity.action}}</td>
                                                <td>{{activity.description}}</td>
                                                {% if activity.action == 'Fuel Request' %}
                                                <td>
                                                    <div class="btn-group">
                                                        <button  data-toggle="modal"  data-target="#request{{activity.id}}" type="button" class="btn btn-labeled btn-success btn-sm">
                                                            <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                                                        </button>
                                                    </div>
                                                </td>
                                                {% elif activity.action == 'Accepting Offer' %}
                                                <td>
                                                    <div class="btn-group">
                                                        <button  data-toggle="modal"  data-target="#accept_offer{{activity.id}}" type="button" class="btn btn-labeled btn-success btn-sm">
                                                            <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                                                        </button>
                                                    </div>
                                                </td>
                                                {% elif activity.action == 'Rejecting Offer' %}
                                                <td>
                                                    <div class="btn-group">
                                                        <button  data-toggle="modal"  data-target="#reject_offer{{activity.id}}" type="button" class="btn btn-labeled btn-success btn-sm">
                                                            <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                                                        </button>
                                                    </div>
                                                </td>
                                                {% elif activity.action == 'Uploading Proof of Payment' %}
                                                <td>
                                                    <div class="btn-group"> 
                                                        <a href="{% url 'buyer:download_proof' activity.reference_id %}" type="button" class="btn btn-labeled btn-success btn-sm">
                                                            <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                                                        </a>                                                             
                                                             
                                                    </div>
                                                </td>
                                                {% elif activity.action == 'Uploading Delivery Note' %}
                                                <td>
                                                    <div class="btn-group"> 
                                                        <a href="{% url 'buyer:download_d_note' activity.reference_id %}" type="button" class="btn btn-labeled btn-success btn-sm">
                                                            <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                                                        </a>                                                             
                                                             
                                                    </div>
                                                </td>
                                               
                                               
                                                {% endif %}
                                            </tr>
                                            <div class="modal fade modal-success in" id="request{{activity.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                            aria-hidden="true" style="overflow-y: initial !important;" >
                                            <div class="modal-dialog modal-notice">
                                                <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                    <span class="modal-title">Fuel Request Info</span>
                                                </div>
                                                    <div class="modal-body" style="padding: 30px;overflow-y: auto;">
                                                        <div class="row" style="padding: 10px;">
                                                            <p class="col-md-6" style="font-weight: bold;">Fuel Type: </p>
                                                            <p class="col-md-6">{{ activity.request_object.fuel_type }}</p>
                                                        </div>
                                                        <div class="row" style="padding: 10px;">
                                                            <p class="col-md-6" style="font-weight: bold;">Quantity: </p>
                                                            <p class="col-md-6">{{ activity.request_object.amount }}</p>
                                                        </div>
                                                        <div class="row" style="padding: 10px;">
                                                            <p class="col-md-6" style="font-weight: bold;">Currency </p>
                                                            <p class="col-md-6">{{activity.request_object.payment_method }}</p>
                                                        </div>
                                                        <div class="row" style="padding: 10px;">
                                                            <p class="col-md-6" style="font-weight: bold;">Delivery Method: </p>
                                                            <p class="col-md-6">{{activity.request_object.delivery_method}}</p>
                                                        </div>
                                                       
                                                        
                                                        <div class="modal-footer">  
                                                            <button class="btn btn-default" data-dismiss="modal" >Close</button>
                                                        </div>    
                        
                                                    </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>


                                            <div class="modal fade modal-success in" id="accept_offer{{activity.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                            aria-hidden="true" style="overflow-y: initial !important;" >
                                            <div class="modal-dialog modal-notice">
                                                <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                    <span class="modal-title">Accepted Offer Info</span>
                                                </div>
                                                <div class="modal-body" style="padding: 30px;overflow-y: auto;">
                                                    <div class="row" style="padding: 10px;">
                                                        <p class="col-md-6" style="font-weight: bold;">Fuel Type: </p>
                                                        <p class="col-md-6">{{ activity.offer_object.request.fuel_type }}</p>
                                                    </div>
                                                    <div class="row" style="padding: 10px;">
                                                        <p class="col-md-6" style="font-weight: bold;">Quantity: </p>
                                                        <p class="col-md-6">{{ activity.offer_object.quantity }}</p>
                                                    </div>
                                                    <div class="row" style="padding: 10px;">
                                                        <p class="col-md-6" style="font-weight: bold;">Currency </p>
                                                        <p class="col-md-6">{{activity.offer_object.request.payment_method }}</p>
                                                    </div>
                                                    <div class="row" style="padding: 10px;">
                                                        <p class="col-md-6" style="font-weight: bold;">Delivery Method: </p>
                                                        <p class="col-md-6">{{activity.offer_object.request.delivery_method}}</p>
                                                    </div>
                                                   
                                                    
                                                    <div class="modal-footer">  
                                                        <button class="btn btn-default" data-dismiss="modal" >Close</button>
                                                    </div>    
                    
                                                </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>


                                            <div class="modal fade modal-success in" id="reject_offer{{activity.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                            aria-hidden="true" style="overflow-y: initial !important;" >
                                            <div class="modal-dialog modal-notice">
                                                <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                    <span class="modal-title">Rejected Offer Info</span>
                                                </div>
                                                <div class="modal-body" style="padding: 30px;overflow-y: auto;">
                                                    <div class="row" style="padding: 10px;">
                                                        <p class="col-md-6" style="font-weight: bold;">Fuel Type: </p>
                                                        <p class="col-md-6">{{ activity.roffer_object.request.fuel_type }}</p>
                                                    </div>
                                                    <div class="row" style="padding: 10px;">
                                                        <p class="col-md-6" style="font-weight: bold;">Quantity: </p>
                                                        <p class="col-md-6">{{ activity.roffer_object.quantity }}</p>
                                                    </div>
                                                    <div class="row" style="padding: 10px;">
                                                        <p class="col-md-6" style="font-weight: bold;">Currency </p>
                                                        <p class="col-md-6">{{activity.roffer_object.request.payment_method }}</p>
                                                    </div>
                                                    <div class="row" style="padding: 10px;">
                                                        <p class="col-md-6" style="font-weight: bold;">Delivery Method: </p>
                                                        <p class="col-md-6">{{activity.roffer_object.request.delivery_method}}</p>
                                                    </div>
                                                   
                                                    
                                                    <div class="modal-footer">  
                                                        <button class="btn btn-default" data-dismiss="modal" >Close</button>
                                                    </div>    
                    
                                                </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>

                                            
                                        {%endfor%}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{%endblock%}