 {% extends "finder/buyer_base.html" %} 

{% block body%}

            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title ">Fuel Updates</h4>
                <p class="card-category"> Here is a list of all Suppliers Offering Bulk Fuel</p>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover table-striped" id="fuel_updates">
                    <thead class=" text-primary">
                      <tr ><th>
                        <h6>Company ID </h6>
                      </th>
                      <th>
                            <h6>Company Name</h6>
                      </th>
                      <th>
                            <h6> Fuel Type</h6>
                      </th>
                      <th>
                            <h6> Price</h6>
                      </th>
                      <th>
                            <h6>Quantity</h6>
                      </th>
                      <th>
                            <h6>Updated on </h6>
                        </th>
                        <th>
                               <h6>Action</h6>
                              </th>
                    </tr></thead>
                    <tbody>
                      <tr>
                        <td>
                          1
                        </td>
                        <td>
                          Total Zimbabwe
                        </td>
                        <td>
                          Petrol
                        </td>
                        <td class="text-danger">
                          $2.85
                        </td>
                        <td class="text-primary">
                          2000L
                        </td>
                        <td class="text-primary">
                                November 5 2019 13:00
                              </td>
                        <td class="text-primary">
                                
                            <button class="btn btn-facebook btn-sm"> <i class="material-icons">ev_station</i>Deal </button>
                        </td>
                      </tr>
                      <tr>
                            <td>
                              2
                            </td>
                            <td>
                              Total Zimbabwe
                            </td>
                            <td>
                              Petrol
                            </td>
                            <td class="text-danger">
                              $2.85
                            </td>
                            <td class="text-primary">
                              2000L
                            </td>
                            <td class="text-primary">
                                    November 5 2019 13:00
                                  </td>
                            <td class="text-primary">
                                    
                                <button class="btn btn-facebook btn-sm"> <i class="material-icons">ev_station</i>Deal </button>
                            </td>
                          </tr>
                    </tbody>
                  </table>
                  <div class="col-sm-12"><button class="btn btn-round btn-primary"  data-toggle="modal" data-target="#noticeModal" style="margin-left: 40%;"> <i class="material-icons">local_gas_station</i>Look for Fuel</button></div>
                 
                </div>
              </div>
            </div>
          </div>
          
</div>

  <!-- notice modal -->
  <div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-notice">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h5 class="modal-title"   id="myModalLabel">Make a requests</h5>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                <i class="material-icons">close</i>
              </button>
            </div>
            <div class="modal-body">
                {{ form|crispy }}   
            </div>
            <div class="modal-footer justify-content-center">
              <button type="button" class="btn btn-info btn-round" data-dismiss="modal">Sounds good!</button>
            </div>
          </div>
        </div>
      </div>
      <!-- end notice modal -->


{% endblock %}