{% extends "finder/buyer_base.html" %}
{% load crispy_forms_tags %}

{% block body%}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">{{user.company|title}}'s Dashboard</h1>
        
        <hr class="my-2">
        
    </div>
</div>

<div class="card">
    <div class="card-header card-header-primary">
        <h4 class="card-title ">Fuel Updates</h4>
        <p class="card-category"> Here is a list of all Suppliers Offering Bulk Fuel</p>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped" id="fuel_updates">
                <thead style="background-color: lightslategray;color: white;">
                    <tr>
                        <th>
                            <h6>Company Name</h6>
                        </th>
                        <th>
                            <h6>Depot</h6>
                        </th>
                        <th>
                            <h6>Address</h6>
                        </th>

                        <th>
                            <h6> Petrol Price</h6>
                        </th>
                        <th>
                            <h6> Diesel Price</h6>
                        </th>
                        <th>
                            <h6>Petrol Quantity</h6>
                        </th>
                        <th>
                            <h6>Diesel Quantity</h6>
                        </th>
                        <th>
                            <h6>Updated on </h6>
                        </th>
                        <th>
                            <h6>Action</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>

                    {% for data in updates %}
                    <tr>
                        <td>
                            {{data.company}}
                        </td>
                        <td>
                            {{data.depot}}
                        </td>
                        <td>
                            {{data.address}}
                        </td>
                        <td>
                            {{data.petrol_price}}
                        </td>
                        <td>
                            {{data.diesel_price}}
                        </td>
                        <td>
                            {{data.petrol_quantity}}
                        </td>
                        <td>
                            {{data.diesel_quantity}}
                        </td>
                        <td>
                            {{data.last_updated}}
                        </td>
                        <td>

                            <button class="btn btn-primary btn-sm" data-toggle="modal"
                                data-target="#make_deal{{data.id}}">Deal
                            </button>
                        </td>
                    </tr>
                    <div class="modal fade" id="make_deal{{data.id}}" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-notice">
                            <div class="modal-content" style="max-width: 100%;">
                                <div class="modal-header text-center" style="background-color: #9c27b0;color: white;">
                                    <h5 class="modal-title" id="myModalLabel">Make a deal</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        <i class="material-icons">close</i>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="modal-body">
                                        <form method="POST">
                                           {% csrf_token %}
                                            <div class="form-group">
                                                {{ form.fuel_type|as_crispy_field }}
                                            </div>
                        
                                            <div class="form-group">
                                                {{ form.amount|as_crispy_field }}
                                            </div>
                                            <label class="form-group">Select Payment Method</label>
                                            <div class="col-sm-12 row">
                                                <div class="togglebutton form-group col">
                                                    <label>
                        
                                                        <input type="checkbox" name="cash" id="cash">
                        
                                                        <span class="toggle"></span>
                                                        Cash
                                                    </label>
                                                </div>
                                                <div class="togglebutton form-group col">
                                                    <label>
                                                        <input type="checkbox" name="ecocash" id="ecocash">
                                                        <span class="toggle"></span>
                                                        Ecocash
                                                    </label>
                                                </div>
                                                <div class="togglebutton form-group col">
                                                    <label>
                                                        <input type="checkbox" name="swipe" id="swipe">
                                                        <span class="toggle"></span>
                                                        Swipe
                                                    </label>
                                                </div>
                                                <div class="togglebutton form-group col">
                                                    <label>
                                                        <input type="checkbox" name="usd" id="usd">
                                                        <span class="toggle"></span>
                                                        USD
                                                    </label>
                                                </div>
                                            </div>
                        
                        
                                            <div class="form-group">
                                                <label>Pick Up Method</label>
                                                <select id="delivery_method1" name="delivery_method" class="form-control">
                                                    <option value='SELF_COLLECTION'>Self Collection</option>
                                                    <option value='DELIVERY'>Direct Delivery</option>
                                                </select>
                                            </div>
                        
                                            <div class="form-group" name='choices' id='choices1'>
                                                <label>Delivery Address</label>
                                                <div class="row form-group">                            
                                                        <div class="togglebutton form-group col">
                                                          <label for="">Street Number</label>
                                                          <input type="text" class="form-control" name="s_number" id="" aria-describedby="helpId" placeholder="">
                                                          
                                                        </div>
                                                        <div class="togglebutton form-group col">
                                                          <label for="">Street Name</label>
                                                          <input type="text" class="form-control" name="s_name" id="" aria-describedby="helpId" placeholder="">
                                                          
                                                        </div>
                                                        <div class="togglebutton form-group col">
                                                          <label for="">Location/Town</label>
                                                          <input type="text" class="form-control" name="s_town" id="" aria-describedby="helpId" placeholder="">
                                                         
                                                        </div>
                                                    
                                                </div>
                                               
                                                {{ form.storage_tanks|as_crispy_field }}
                                                <br>
                                                <label>Required Equipments</label>
                                                <div class="row">
                                                    <div class="col">
                                                        <input class="form-control-md" type="checkbox" value='False' id="pump_required"
                                                            name="pump_required">
                                                        <label for="pump_required">Pump </label>
                                                        
                                                    </div>
                                                    <div class="col">
                                                        <input class="form-control-md" type="checkbox" value="False" id="dipping_stick_required"
                                                            name="dipping_stick_required">
                                                        <label for="dipping_stick_required">Dipping Stick </label>
                                                    </div>
                        
                                                    <div class="col">
                                                        <input class="form-control-md" type="checkbox" value="False" id="meter_required"
                                                            name="meter_required">
                                                        <label for="meter_required">Meter</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="hidden" value="{{data.id}}" name="company_id" />
                                    </div>
                                    <div class="modal-footer justify-content-center">
                                        <button type="submit" name="MakeDeal" class="btn btn-primary ">Submit
                                            Request</button>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </tbody>
            </table>
            <div class="col-sm-12"><button class="btn btn-primary" data-toggle="modal"
                    data-target="#create_request" style="margin-left: 40%;"> Find Fuel</button></div>

        </div>
    </div>
</div>
</div>

</div>

<!-- notice modal -->
<div class="modal fade modal-xl" id="create_request" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-notice">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #9c27b0;color: white;">
                <h5 class="modal-title" id="myModalLabel">Make a requests</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">close</i>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'buyer-dashboard' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.fuel_type|as_crispy_field }}
                    </div>

                    <div class="form-group">
                        {{ form.amount|as_crispy_field }}
                    </div>
                    <label class="form-group">Select Payment Method</label>
                    <div class="col-sm-12 row">
                        <div class="togglebutton form-group col">
                            <label>

                                <input type="checkbox" name="cash" id="cash">

                                <span class="toggle"></span>
                                Cash
                            </label>
                        </div>
                        <div class="togglebutton form-group col">
                            <label>
                                <input type="checkbox" name="ecocash" id="ecocash">
                                <span class="toggle"></span>
                                Ecocash
                            </label>
                        </div>
                        <div class="togglebutton form-group col">
                            <label>
                                <input type="checkbox" name="swipe" id="swipe">
                                <span class="toggle"></span>
                                Swipe
                            </label>
                        </div>
                        <div class="togglebutton form-group col">
                            <label>
                                <input type="checkbox" name="usd" id="usd">
                                <span class="toggle"></span>
                                USD
                            </label>
                        </div>
                    </div>


                    <div class="form-group">
                        <label>Pick Up Method</label>
                        <select id="delivery_method" name="delivery_method" class="form-control">
                            <option value='SELF COLLECTION'>Self Collection</option>
                            <option value='DELIVERY'>Delivery</option>
                        </select>
                    </div>

                    <div class="form-group" name='choices' id='choices'>
                        <label>Delivery Address</label>
                        <div class="row form-group">                            
                                <div class="togglebutton form-group col">
                                  <label for="">Street Number</label>
                                  <input type="text" class="form-control" name="s_number" id="" aria-describedby="helpId" placeholder="">
                                  
                                </div>
                                <div class="togglebutton form-group col">
                                  <label for="">Street Name</label>
                                  <input type="text" class="form-control" name="s_name" id="" aria-describedby="helpId" placeholder="">
                                  
                                </div>
                                <div class="togglebutton form-group col">
                                  <label for="">Location/Town</label>
                                  <input type="text" class="form-control" name="s_town" id="" aria-describedby="helpId" placeholder="">
                                 
                                </div>
                            
                        </div>
                       
                        {{ form.storage_tanks|as_crispy_field }}
                        <br>
                        <label>Required Equipments</label>
                        <div class="row">
                            <div class="col">
                                <input class="form-control-md" type="checkbox" value='False' id="pump_required"
                                    name="pump_required">
                                <label for="pump_required">Pump </label>
                                
                            </div>
                            <div class="col">
                                <input class="form-control-md" type="checkbox" value="False" id="dipping_stick_required"
                                    name="dipping_stick_required">
                                <label for="dipping_stick_required">Dipping Stick </label>
                            </div>

                            <div class="col">
                                <input class="form-control-md" type="checkbox" value="False" id="meter_required"
                                    name="meter_required">
                                <label for="meter_required">Meter</label>
                            </div>
                        </div>
                    </div>
                    <!--<input type="hidden" value="{{data.company_id}}" name="company_id" /> -->
            </div>

            <div class="modal-footer justify-content-center">
                <div class="btn-group">
                    <button type="submit" name="WaitForOffer" class="btn btn-success btn-sm">Wait for Offer</button>
                    <button type="submit" name='Recommender' class="btn btn-warning btn-sm">System Generated</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
<!-- end notice modal -->


{% endblock %}