{% for fuel_request in fuel_requests %}
    <tr>
        <td class="name truncate"><a href="#">{{fuel_request.name.username}}</a></td> 
        <td class="name truncate"><a href="#">{{fuel_request.request_company}}</a></td> 
        <td class="name truncate"><a href="#">{{fuel_request.delivery_type}}</a></td>
        <td class="name truncate"><a href="#">{{fuel_request.payment_method}}</a></td>
        <td class="name truncate"><a href="#">{{fuel_request.date}}</a></td>  
        <td class="name truncate"><a href="#">{{fuel_request.time}}</a></td>
        <td class="name truncate"><a href="#">{{fuel_request.}}</a></td>
    </tr>
{%endfor%}