{% extends "finder/buyer_base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}

{% block body%}

<section class="content-header">
    <form action="#" method="get" class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
             <button type="submit" name="search" id="search-btn" class="btn"><i class="fa fa-search"></i></button>
         </span>
        </div>
    </form>
    <div class="header-icon">
        <i class="fa fa-clipboard"></i>
    </div>
    <div class="header-title">

        <h1>Fuel Offers</h1>
        <small>ZFMS</small>
        <ol class="breadcrumb hidden-xs">
            <li><a href="#"><i class="pe-7s-home"></i> Home</a></li>
            <li class="active">Offers</li>
        </ol>

    </div>

</section>

<section class="content">
{% if offers %}
    <div class="mt-2 panel panel-bd lobidrag lobipanel lobipanel-sortable" data-inner-id="nMPzTfz4dU" data-index="0">
        <div class="panel-heading ui-sortable-handle">
            <div class="btn-group">
            <h4> Offers - <small><i>On {{request.user.company.name|title}}'s Requests</i></small></h4>
            </div>
            <div class="dropdown">
                <ul class="dropdown-menu dropdown-menu-right">


                </ul>
                <div class="dropdown-toggle" data-toggle="dropdown"><span class="panel-control-icon glyphicon glyphicon-cog"></span>
                </div>
            </div>
        </div>       <div class="panel-body">


        <div class="table-responsive">
            <table id="offer" class="table table-striped table-bordered" style="width:100%">
                <thead style="background-color: lightslategray; color:white;">
                <tr>
                    <th style="color: white;">Date</th>
                    <th style="color: white;">Time</th>
                    <th style="color: white;">Supplier Company</th>
                    <th style="color: white;">Depot Name</th>
                    <th style="color: white;">Collection Address</th>
                    <th style="color: white;">Fuel Requested</th>
                    <th style="color: white;">Fuel Offer</th>              
                    <th style="color: white;">Price per Litre</th>
                    <th style="color: white;">Transport Fee</th>
                    <th style="color: white;">Requested On</th>
                    <th style="color: white;">Action</th>
                    <th style="color: white;">Action</th>
                </tr>
                </thead>
                <tbody>
                    {% for offer in offers %}
                    <tr>
                        <td>{{offer.date}}</td>
                        <td>{{offer.time}}</td>                      
                        <td>{{offer.supplier.company}}</td>
                        <td>{{offer.depot_name}}</td>
                        <td>{{offer.collection_address}}</td>
                        <td>{{offer.request.amount|floatformat:2|intcomma}} Litres</td>
                        <td>{{offer.quantity|floatformat:2|intcomma}} Litres</td>
                        {% if offer.request.payment_method == 'RTGS'%}
                        <td>RTGS {{offer.price}}</td>
                        {% else %}
                        <td>USD {{offer.price}}</td>
                        {% endif %}
                        {% if offer.transport_fee != None %}
                        <td>{{offer.transport_fee}}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}
                        <td>{{offer.date}} -- {{offer.time}}</td>
                        <td class="text-primary">    
                            <a class="btn btn-primary btn-sm" href="#"  data-toggle="modal" data-target="#complete_{{offer.id}}" >
                                <i class="material-icons"></i>Accept Offer 
                            </a>
                        </td>
                        <td class="text-primary">
                         <a class="btn btn-danger btn-sm" href="{% url 'reject-offer' offer.id %}" >
                                <i class="material-icons"></i>Reject Offer 
                            </a>
                        </td>
                    </tr>
<!--Modal to complete transaction-->
<div class="modal fade modal-success in" id="complete_{{offer.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                          aria-hidden="true">
                <div class="modal-dialog modal-notice">
                <div class="modal-content">
                <div class="modal-header">
                <span class="modal-title" style= "color:whitesmoke; font-size: 15px;" >Accept the Offer</span>   
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            {% if offer.account and offer.account.is_verified %}
                <div class="modal-body">
                    <h4 style="color: #374767">By clicking <strong>YES</strong> you are confirming to accepting an offer from {{offer.supplier.company}}, 
                    {{offer.depot_name}} Depot
                    </h4>
                    
                </div>

                <div class="modal-footer">
                    <a href="{% url 'accept-offer' offer.id %}" class="btn btn-warning">
                        Yes
                    </a>    
                    
                    <a class="btn btn-success"   data-dismiss="modal">
                            No
                    </a>
                </div>
            {% elif offer.account and not offer.account.is_verified%}
            <div class="modal-body">

                <h4 style="color: #374767">Your Application For An Account With {{offer.supplier.company.name|title}} is Still <strong style="color: #d9534f;">Pending</strong></h4>
            </div>

            <div class="modal-footer">
                
                <a class="btn btn-default" data-dismiss="modal" style="background-color: lightslategray;color:white">
                        Close
                </a>
            </div>

            {% else %}
            <div class="modal-body">
                <div class="">
                    <div class="">
                        <div style="padding: 28px;background-color: mintcream;">
                            <h3 class="text-center" id="title">Create Account With 
                                <b style="color: cadetblue;">
                                    {{offer.supplier.company.name|title }}
                                </b>    
                            
                            </h3>
                            <p class="text-center">In Order To Proceed and Accept This Offer. You Need To Create An Account With This Supplier
                                 <i class="mdi mdi-account-alert-outline:"></i></p>
                        </div>    
                         <p class="text-center">
                            <small id="passwordHelpInline" class="text-muted" style="color: lightslategray;">
                            To Accept This Offer    .
                            </small>
                        </p>
                        <hr>

                        <div class="">
                        <div id="logo_image_{{ offer.id}}">    
                            <button onclick="toggle_applications()">
                                <img class="img-responsive"  src="https://corelpro.com/wp-content/uploads/2019/09/Corporate-Logo-Design-1.jpg" alt="..." 
                                style="filter: contrast(0.5)">
                            <div class="carousel-caption">
                                <h1>Click Here To Create Account.</h1>
                            </div>
                        </button>


                            
                          </div>
                        </div>  

                        <div class="row justify-content-center" id="open_applications__{{offer.id}}" style="width: 66%;margin: auto;text-align: center;display: block;">
                            <div class="col-md-12" style="padding-top: 40px;border: #3455e521 solid 1px;padding-bottom: 40px;margin-bottom: 0px;border-radius: 12px;">
                                <form role="form" method="post" action="{% url 'upload-application' offer.id %}" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <fieldset>
                                        <div class="col-md-12">                   
                                            <div class="form-group col-md-6">
                                                <label for=""> Cert Of Income Document</label>
                                            </div>
                
                                            <div class="form-group col-md-6">
                                                <input type="file" name="cert_of_income_doc" id="email" class="form-control input-sm" placeholder="Email Address">
                                            </div>
                                        </div>
                                        <div class="col-md-12">                   
                                            <div class="form-group col-md-6">
                                                <label for=""> Proof Of Residence Document</label>
                                            </div>
                
                                            <div class="form-group col-md-6">
                                                <input type="file" name="proof_of_res_docs" id="email" class="form-control input-sm" placeholder="Email Address">
                                            </div>
                                        </div>    
                                        <div class="col-md-12">                   
                                            <div class="form-group col-md-6">
                                                <label for=""> Tax Clearance Document</label>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <input type="file" name="tax_clearance_doc" id="password" class="form-control input-sm" placeholder="Password">
                                            </div>
                                        </div>    

                                        <div class="col-md-12">                   

                                            <div class="form-group col-md-6">
                                                <label for=""> ID Document</label>
                                            </div>
                                                <div class="form-group col-md-6">
                                                <input type="file" name="id_document" id="password2" class="form-control input-sm" placeholder="Password2">
                                            </div>
                                        </div>    

                                        <div class="col-md-12">                   
                                
                                            <div class="form-group col-md-6">
                                                <label for=""> Application Document</label>
                                            </div>
                                                <div class="form-group col-md-6">
                                                <input type="file" name="file" id="password2" class="form-control input-sm" placeholder="Password2">
                                            </div>
                                        </div>    

                                        <div class="col-md-12">                   

                                            <div class="form-group col-md-6">
                                                <label for=""> CR14 Document</label>
                                            </div>
                                                <div class="form-group col-md-6">
                                                <input type="file" name="cr14_document" id="password2" class="form-control input-sm" placeholder="Password2">
                                            </div>
                                        </div>    

                                        <div class="col-md-12">                   

                                            <div class="form-group col-md-6">
                                                <label for=""> CR6 Document</label>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <input type="file" name="cr6_document" id="password2" class="form-control input-sm" placeholder="Password2">
                                            </div>
                                        </div>    

                                       
                                        </div>
                                    </fieldset>
                            </div>
                            
                            

                        </div>
                    </div>
                    
                </div>
            
                <div class="modal-footer">
                
                    
                    <button class="btn btn-outline-info" type="submit">Create Account </button>
                    
                    
                    <a class="btn btn-default"   data-dismiss="modal">
                            Cancel
                    </a>
                </div>
            </form>

            
                
            </div>

            

            {% endif %}    
        </div>
    </div>
</div>
<script>
    $("#open_applications__{{offer.id}}").hide()
    function toggle_applications(){
        $("#open_applications__{{offer.id}}").fadeIn()
        $("#open_applications__{{offer.id}}").fadeIn("slow");
        $("#open_applications__{{offer.id}}").fadeIn(18000)


        $("#logo_image_{{ offer.id}}").hide()
        console.log("Chamhanya");
    }
</script> 
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
{% else %}
    <div class="text-center" style="margin-top: 50px">
        <h4>No Offers</h4>
    </div>
{% endif %}
</section>



</div>

</div>


   
{% endblock %}






{% for offer in offers %}
    <tr>
        <td class="name truncate">{{offer.id}}</a></td> 
        <td class="name truncate">{{offer.supplier.company}}</a></td> 
        <td class="name truncate">{{offer.supplier.company.address}}</a></td> 
        <td class="name truncate">{{offer.request.amount|floatformat:2|intcomma}}</a></td>
        <td class="name truncate">{{offer.quantity|floatformat:2|intcomma}}</a></td>
        <td class="name truncate">{{offer.price}}</a></td>
        <td class="name truncate">{{offer.date}}</a></td>  
        <td class="name truncate">{{offer.time}}</a></td>
        <td class="text-primary">    
            <a class="btn btn-facebook btn-sm" href="" >
                <i class="material-icons"></i>Accept Offer 
            </a>
        </td>
    </tr>
{%endfor%}