{% extends "finder/buyer_base.html" %}
{% load crispy_forms_tags %}

{% block body%}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Transactions</h1>
        
        <hr class="my-2">
        
    </div>
</div>

<div class="card">
    <div class="card-header card-header-primary">
        <h4 class="card-title "> {{user.company|title}}'s Fuel Transactions </h4>
        
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped" id="fuel_updates">
                <thead style="background-color: lightslategray;color: white;">
                    <tr>
                        <th>
                            <h6>Company Name</h6>
                        </th>
                        <th>
                            <h6> Company Depot</h6>
                        </th>
                        <th>
                            <h6>Depot Address</h6>
                        </th>
                        <th>
                            <h6>Fuel Type</h6>
                        </th>

                        <th>
                            <h6> Fuel Requested </h6>
                        </th>
                  
                        <th>
                            <h6>Fuel Offered </h6>
                        </th>
                        <th>
                            <h6>Requested On </h6>
                        </th>
                        <th>
                            <h6>Download Invoice</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>

                    {% for transaction in transactions %}
                    <tr>
                        <td>
                            <b>{{transaction.offer.supplier.company}}</b>
                        </td>
                      
                        <td>
                            {{transaction.depot}}
                        </td>
                        <td>
                            {{transaction.address}}
                        </td>
                        <td class="">
                            {{transaction.offer.request.fuel_type}} 
                        </td>
                        <td class="">
                            {{transaction.offer.request.amount}} Litres
                        </td>
                        <td class="">
                            {{transaction.offer.quantity}} Litres
                        </td>
                        <td class="">
                             {{transaction.offer.date}} -- {{transaction.offer.time}}
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="{% url 'view-invoice' transaction.id %}" >
                                Download 
                            </a>
                            {% if not transaction.review %}
                                <a class="btn btn-primary btn-sm" style="color: white;" data-toggle="modal" data-target="#review_{{transaction.id}}">
                                    Rate {{transaction.supplier}}
                                </a>
                            {% else %}
                            <!--
                            <a class="btn btn-primary btn-sm" style="color: white;" href="{% url 'tran-review-delete' transaction.review.id %}">
                                Delete Review
                            </a>
                            -->
                            <a class="btn btn-primary btn-sm" style="color: white;" data-toggle="modal" data-target="#edit_review_{{transaction.id}}">
                                Edit Offer
                            </a>    
                            {% endif %}    
                        </td>
                    </tr>
                    <!--Modal to review transaction-->
                    <div class="modal fade" id="review_{{transaction.id}}" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header" style= "background:#402d57e0">
                                    <h4 class="modal-title" style= "color:whitesmoke" >Review {{transaction.supplier}}</h4>   
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body" style= "background:white">
                                    
                                    <form method="POST" action="">
                                        {% csrf_token %}
                                        <input type="text" name="transaction_id" value="{{transaction.id}}" hidden/>
                                        <div class="form-group">
                                            <label>Rating</label>
                                            <select name="rating" class="browser-default custom-select" id="report_options">
                                                <option value="1" style="color: goldenrod;">*</option>
                                                <option value="2">**</option>
                                                <option value="3">***</option>
                                                <option value="4">****</option>
                                                <option value="5">*****</option>    
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Comment</label>
                                            <input type="text" name="comment" class="form-control"/>
                                        </div>
                                        
                                        <input class="btn btn-info" type="submit" value="Submit">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Modal to edit review-->
                    <div class="modal fade" id="edit_review_{{transaction.id}}" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header" style= "background:#402d57e0">
                                    <h4 class="modal-title" style= "color:whitesmoke" >Edit {{transaction.supplier.company}}'s Review</h4>   
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body" style= "background:white">
                                    <form method="POST" action="{% url 'tran-review-edit' transaction.review.id %}">
                                        {% csrf_token %}
                                        <input type="text" name="transaction_id" hidden/>
                                        <div class="form-group">
                                            <label>Rating</label>
                                            {{transaction.review.rating}}
                                            
                                            <select name="rating" class="browser-default custom-select" id="report_options">
                                                <option value="1" style="color: goldenrod;">
                                                    {% if transaction.review.rating == 1 %}
                                                    *
                                                    {% elif transaction.review.rating == 2 %}
                                                    **
                                                    {% elif transaction.review.rating == 3 %}
                                                    ***
                                                    {% elif transaction.review.rating == 4 %}
                                                    ****
                                                    {% elif transaction.review.rating == 5 %}
                                                    *****
                                                    {% endif%}
                                                </option>
                                                <option value="1">*</option>
                                                <option value="2">**</option>
                                                <option value="3">***</option>
                                                <option value="4">****</option>
                                                <option value="5">*****</option>    
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Comment</label>
                                            <input type="text" name="comment" class="form-control" value="{{transaction.review.comment}}"/>
                                        </div>
                                        
                                        <input class="btn btn-info" type="submit" value="Submit">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

</div>

{% endblock %}










{% for transaction in transactions %}
    <tr>
        <td class="name truncate">{{transaction.id}}</a></td> 
        <td class="name truncate">{{transaction.offer.supplier.company}}</a></td> 
        <td class="name truncate">{{transaction.offer.supplier.company.address}}</a></td> 
        <td class="name truncate">{{transaction.offer.request.amount}}</a></td>
        <td class="name truncate">{{transaction.offer.quantity}}</a></td>
        <td class="name truncate">{{transaction.offer.price}}</a></td>
        <td class="name truncate">{{transaction.offer.date}}</a></td>  
        <td class="name truncate">{{transaction.offer.time}}</a></td>
        <td class="text-primary">    
            <a class="btn btn-facebook btn-sm" href="" >
                <i class="material-icons"></i>Download Invoice 
            </a>
        </td>
    </tr>
{%endfor%}