{% for transaction in transactions %}
    <tr>
        <td class="name truncate">{{transaction.id}}</a></td> 
        <td class="name truncate">{{transaction.offer.supplier.company}}</a></td> 
        <td class="name truncate">{{transaction.offer.supplier.company.address}}</a></td> 
        <td class="name truncate">{{transaction.offer.request.amount}}</a></td>
        <td class="name truncate">{{transaction.offer.quantity}}</a></td>
        <td class="name truncate">{{transaction.offer.price}}</a></td>
        <td class="name truncate">{{transaction.offer.date}}</a></td>  
        <td class="name truncate">{{transaction.offer.time}}</a></td>
        <td class="text-primary">    
            <a class="btn btn-facebook btn-sm" href="" >
                <i class="material-icons"></i>Download Invoice 
            </a>
        </td>
    </tr>
{%endfor%}