{% extends "finder/buyer_base.html" %}
{% load crispy_forms_tags %}

{% block body%}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Transactions</h1>
        
        <hr class="my-2">
        
    </div>
</div>

<div class="card">
    <div class="card-header card-header-primary">
        <h4 class="card-title "> {{user.company|title}}'s Fuel Transactions </h4>
        
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped" id="fuel_updates">
                <thead style="background-color: lightslategray;color: white;">
                    <tr>
                        <th>
                            <h6>Company Name</h6>
                        </th>
                        <th>
                            <h6> Company Depot</h6>
                        </th>
                        <th>
                            <h6>Depot Address</h6>
                        </th>
                        <th>
                            <h6>Fuel Type</h6>
                        </th>

                        <th>
                            <h6> Fuel Requested </h6>
                        </th>
                  
                        <th>
                            <h6>Fuel Offered </h6>
                        </th>
                        <th>
                            <h6>Requested On </h6>
                        </th>
                        <th>
                            <h6>Download Invoice</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>

                    {% for transaction in transactions %}
                    <tr>
                        <td>
                            <b>{{transaction.offer.supplier.company}}</b>
                        </td>
                      
                        <td>
                            {{transaction.depot}}
                        </td>
                        <td>
                            {{transaction.address}}
                        </td>
                        <td class="">
                            {{transaction.offer.request.fuel_type}} 
                        </td>
                        <td class="">
                            {{transaction.offer.request.amount}} Litres
                        </td>
                        <td class="">
                            {{transaction.offer.quantity}} Litres
                        </td>
                        <td class="">
                             {{transaction.offer.date}} -- {{transaction.offer.time}}
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="{% url 'view-invoice' transaction.id %}" >
                                Download 
                            </a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

</div>

{% endblock %}










{% for transaction in transactions %}
    <tr>
        <td class="name truncate">{{transaction.id}}</a></td> 
        <td class="name truncate">{{transaction.offer.supplier.company}}</a></td> 
        <td class="name truncate">{{transaction.offer.supplier.company.address}}</a></td> 
        <td class="name truncate">{{transaction.offer.request.amount}}</a></td>
        <td class="name truncate">{{transaction.offer.quantity}}</a></td>
        <td class="name truncate">{{transaction.offer.price}}</a></td>
        <td class="name truncate">{{transaction.offer.date}}</a></td>  
        <td class="name truncate">{{transaction.offer.time}}</a></td>
        <td class="text-primary">    
            <a class="btn btn-facebook btn-sm" href="" >
                <i class="material-icons"></i>Download Invoice 
            </a>
        </td>
    </tr>
{%endfor%}