{% extends "zeraPortal/zera_base.html" %}
{% block body %}


<section class="content-header">
    <form action="#" method="get" class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
          <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                  <button type="submit" name="search" id="search-btn" class="btn"><i class="fa fa-search"></i></button>
              </span>
          </div>
      </form>   
  <div class="header-icon">
      <i class="fa fa-book"></i>
  </div>
  <div class="header-title">

      <h1> {{buyer.company.name|title}}'s</h1>
      <small>Transaction History</small>
      <ol class="breadcrumb hidden-xs">
          <li><a href="{% url 'zeraPortal:dashboard' %}"><i class="pe-7s-home"></i> Home</a></li>
          <li class="active"> {{buyer.company.name|title}} Transaction History</li>
      </ol>

  </div>

  </section>


<div class="jumbotron jumbotron-fluid">
    <div class="container">

        <p class="lead" style="padding-left: 15px;padding-top: 30px;">
            <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#state_modal"
                role="button" style="color: white;">Filtered State - {{ state }}</button>
            
            <!--    
            <button class="btn btn-info btn-lg" data-toggle="modal" data-target="#trans_info_modal"
                role="button" style="color: white;">View Quick Info</button> -->

        </p>
        
        
    </div>
</div>

<div class="modal fade modal-success in" id="state_modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title" style="color:whitesmoke"> Filter By State</span>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="background:#eeee">

                <form method="POST" action="/zeraPortal/clients_history/{{buyer.id}}">
                    {% csrf_token %}
                    <div class="form-group">
                        <select name="report_type" class="browser-default custom-select" id="report_options">
                            <option selected>Completed</option>
                            <option value="Incomplete">Incomplete</option>
                            <option value="All">All</option>
                        </select>
                    </div>
                       

                    <input class="btn btn-info" type="submit" value="Submit">
                </form>

            </div>
        </div>
    </div>
</div>

<section class="content">
<div class="panel panel-bd lobidrag lobipanel lobipanel-sortable" data-inner-id="nMPzTfz4dU" data-index="0">
    <div class="panel-heading ui-sortable-handle">
        <div class="btn-group"> 
            <h4>Subsidiaries - {{ request.user.company.name|title}}</h4> 
        </div>
    <div class="dropdown">
        <ul class="dropdown-menu dropdown-menu-right">
           
          
        </ul>
        <div class="dropdown-toggle" data-toggle="dropdown"><span class="panel-control-icon glyphicon glyphicon-cog"></span>
        </div>
        </div>
        </div>       
        <div class="panel-body">
      
                {% if trans %}
                <div class="table-responsive">
                  <table id="example" class="table table-striped table-bordered" style="width:100%">
                      <thead>
                          <tr>
                          
              <th>
              Date
              </th>
              <th>
              Time
              </th>
              <th>
              Buyer
              </th>
              <th>
                Delivery Address
              </th>
              <th>
                Supplier
                </th>
              <th>
              Quantity (Litres)
              </th>
              <th>
              Revenue
              </th>
              <th>
              Status
              </th>
              <th>
                
              </th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for tran in trans %}
                 <tr>
                      <td>{{tran.date}}</td>
                      <td>{{tran.time}}</td>
                      <td>{{tran.buyer}}</td>
                      <td>{{tran.offer.request.delivery_address}}</td>
                      <td>{{tran.supplier}}</td>
                      <td>{{tran.offer.request.amount}} l</td>
                      <td>$ {{tran.revenue|stringformat:".2f"}}</td>
                     <td>
                         {% if tran.is_complete %}
                         <i class="fa fa-check-circle-o" style="color: #2ecc71;"></i>
                         {% else %}
                         <i class="fa fa-times-circle-o" style="color: #e74c3c;" aria-hidden="true"></i>
                         {% endif %}
                      </td>
                      <td>
                          <button class="btn-sm btn-success" data-toggle="modal" data-target="#acc_history_{{tran.id}}"
                          role="button">View Sord Numbers</button>
                      </td>
                      <div class="modal fade modal-success in" id="acc_history_{{tran.id}}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                
                                <div class="modal-header" style="margin-bottom: 0;">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <span class="modal-title" style="margin-bottom: 0;">Sord Numbers {{tran.id}}</span>
                            </div>
                                <div class="modal-body" style="padding-top: 0;">
                                    <div class="row fixed-top" style="margin-top: 0; color: white;background-color: lightslategray; padding-top: 15px; padding-bottom: 10px;margin-bottom: 5px;
                                    font-weight: bolder; font-size: 16px;">
                                        <div class="col-md-6">
                                            Date
                                        </div>
                                        <div class="col-md-6">
                                            Sord Number
                                        </div>
                                    </div>
                                    {% if tran.account_history %}
                                        {% for payment in tran.account_history%}
                                            <div class="row">
                                                <div class="col-md-6">
                                                    {{ payment.date }}
                                                </div>
                                                <div class="col-md-6">
                                                    {{ payment.sord_number }}
                                                </div>

                                            </div>
                                        {% endfor %}    
                                    {% else %}
                                    No Data Available For This Transaction
                                    {% endif %}
                                    
                            </div>
                        </div>
                    </div>
                        </div>
                      
                  </tr>
             
              {% endfor %}   
                      </tbody>
                      </table>
                </div>
                {% else %}
                <p>No Sales Data Available</p>
                {% endif %}


        </div>
  </div>   

</section>

  




{% endblock %}