{% extends 'error_pages/base.html' %}
{% load staticfiles %}

{% block body %}

    <div class="middle-box" style="max-width: 50%; margin: 0 auto;">
        <div class="row">
            <div class="col-sm-12">
                <div class="error-text">
                    <h1>4<span class="arrow bounce">0</span><span class="m-l-90">4</span></h1>
                    <h3><span>Page</span><br class="hidden-xs"> Not Found</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="error-desc">
                    <p class="text-center" >Sorry, but the page you are looking for has note been found. Try checking the URL for error, then hit the
                        refresh button on your browser.</p>
                     <div class="text-center">
                         <button class="btn btn-lg btn-info" style="margin-top: 50px;" onclick='location.href="{% url 'home' %}"'>
                             Go To Home
                         </button>
                     </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}