{% extends 'error_pages/base.html' %}
{% load staticfiles %}

{% block body %}

    <div class="middle-box" style="max-width: 50%; margin: 0 auto;">
        <div class="row">
            <div class="col-sm-12">
                <div class="error-text">
                    <h1>5<span class="arrow bounce">0</span><span class="m-l-90">0</span></h1>
                    <h3><span>Server</span><br class="hidden-xs">Error</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="error-desc">
                    <p class="text-center">Server error, please try again or go back to home page</p>
                     <div class="text-center">
                         <button class="btn btn-lg btn-info" style="margin-top: 50px;" onclick='location.href="{% url 'home' %}"'>
                             Go To Home
                         </button>
                     </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}