{% extends "noicDepot/depot_base.html" %}
{% load crispy_forms_tags %} 

{% block body%}

<section class="content-header">
  <form action="#" method="get" class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
         <div class="input-group">
         <input type="text" name="q" class="form-control" placeholder="Search...">
             <span class="input-group-btn">
                 <button type="submit" name="search" id="search-btn" class="btn"><i class="fa fa-search"></i></button>
             </span>
         </div>
     </form>   
 <!-- <div class="header-icon">
     <i class="fa fa-address-book"></i>
 </div> -->
 <div class="header-title" style="margin-left: 0px;">
     <h1> NOIC Depot Portal</h1>
     <small>FMS Zim</small>
     
 </div>
</section>


{% endblock %}
