{% extends "noicDepot/depot_base.html" %} 
{% block title %}Fuel Finder - NOIC {% endblock %}
{% load humanize %}
 {% block body %}
<section class="content-header">
    <form action="#" method="get" class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                  <button type="submit" name="search" id="search-btn" class="btn"><i class="fa fa-search"></i></button>
              </span>
        </div>
    </form>
    <!-- <div class="header-icon">
        <i class="fa fa-industry"></i>
    </div> -->
    <div class="header-title" style="margin-left: 0px;">

        <h1> Assigned Fuel Allocations </h1>
        <small>Fuel Management System </small>
        <ol class="breadcrumb hidden-xs">
            <li><a href="{% url 'users:allocate' %}"><i class="pe-7s-home"></i> Home</a></li>
            <li class="active">Allocations </li>
        </ol>

    </div>

</section>
<section class="content">
    <div class="panel panel-bd lobidrag lobipanel lobipanel-sortable" data-inner-id="nMPzTfz4dU" data-index="0">
        <div class="panel-heading ui-sortable-handle">
            <div class="btn-group">
                <h4>Fuel Allocations</h4>
            </div>
            <div class="dropdown">
                <ul class="dropdown-menu dropdown-menu-right">


                </ul>
                <div class="dropdown-toggle" data-toggle="dropdown"><span class="panel-control-icon glyphicon glyphicon-cog"></span>
                </div>
            </div>
        </div>
        <div class="panel-body">

           
            <div class="table-responsive">
                <table id="allocations" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                               Date 
                            </th>
                            <th>
                                Time 
                             </th>

                            <th>
                                Sord Number
                            </th>
                            <th>
                                Company 
                            </th>
                            <th>
                                Fuel Type
                            </th>
                            <th>
                                Currency 
                            </th>
                           
                            <th>
                                Quantity
                            </th>

                            <th>
                                Price
                            </th>

                            <th>
                                Release Note
                            </th>
                            <th>
                                D-Note
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sord in orders %}
                        <tr>
                            <td>{{sord.date}}</td>
                            <td>{{sord.time}}</td>
                            <td>{{sord.sord_no}}</td>
                            <td>{{sord.company}}</td>
                            {% if sord.fuel_type|lower|capfirst == 'Petrol' %}
                                <td class="" style="color: #009688;">
                                    {{sord.fuel_type|lower|capfirst}}
                                </td>
                            {% elif sord.fuel_type|lower|capfirst == 'Diesel' %}
                            
                                <td class="" style="color: #ffb61e;">
                                    {{sord.fuel_type|lower|capfirst}}
                                </td>
                            {% else %}
                                <td class="">
                                    {{sord.fuel_type|lower|capfirst}}
                                </td>
                            {% endif %}    
                            <td>{{sord.currency}}</td>
                            <td>{{sord.quantity|floatformat:2|intcomma}}</td>
                            <td>{{sord.price}}</td>
                            {% if sord.release_note %}
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-labeled btn-success btn-sm" style="color: white;" href="{% url 'noic:view_release_note' sord.id %}"><span class="btn-label"><i class="fa fa-eye"></i></span>View</a>
                                    <a class="btn btn-labeled btn-warning btn-sm" style="color: white;" href="{% url 'noic:download_release_note' sord.id %}"><span class="btn-label"><i class="fa fa-download"></i></span>Download</a>
                                    <a class="btn btn-labeled btn-success btn-sm" style="color: white;" data-toggle="modal" data-target="#edit_{{sord.id}}">
                                        <span class="btn-label"><i class="fa fa-edit"></i></span>Edit</a>
                                </div>
                                
                            </td> 
                            {% else %}
                            <td>
                                <a class="btn btn-warning btn-sm" style="color: white;" data-toggle="modal" data-target="#upload_{{sord.id}}">
                                    <i class="fa fa-upload" style="font-size:20px"></i> Release Note</a>
                            </td>
                            {% endif %} 
                            
                            {% if sord.d_note %}
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-labeled btn-success btn-sm" style="color: white;" href="{% url 'noicDepot:download_d_note' sord.id %}"><span class="btn-label"><i class="fa fa-download"></i></span>Download D-Note</a>
                                    
                                </div>
                                
                            </td> 
                            {% else %}
                            <td>
                                <i style="color: brown;">Pending</i>
                            </td>
                            {% endif %} 
                         </tr>

                        <!--Upload Document-->
                        <div class="modal fade modal-sucess in" id="upload_{{sord.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header" style="background-color: #009688; color: white">
                                    <span class="modal-title" id="exampleModalLabel">Update Release Date</span>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <form method="POST" action="{% url 'noicDepot:upload_release_note' sord.id %}" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group col-md-6">
                                            <label>Release Date</label>
                                            <input type="date" name="release_date" class="form-control"  required/>
                                        </div>
                                        <br>
                                        <!-- <p style="text-align: center;"><input class="btn btn-info" type="submit" value="Upload"></p> -->
                                        <div class="modal-footer"> 
                                            <button class="btn btn-primary" type="submit">Saves</button> 
                                            <button class="btn btn-default" data-dismiss="modal" >Close</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Upload Document-->

                    <!--Upload Document-->
                    <div class="modal fade modal-sucess in" id="edit_{{sord.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header" style="background-color: #009688; color: white">
                                    <span class="modal-title" id="exampleModalLabel">Upload Release Note</span>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <form method="POST" action="{% url 'noicDepot:upload_release_note' sord.id %}" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group col-md-12" style="margin-top: 20px;">
                                            <div class="col-md-6">
                                                <label>New Release Date</label>
                                            </div>
                                            <div class="col-md-6">

                                                <input type="date" name="release_date" class="form-control"  required/>
                                            </div>    
                                        </div>
                                        <br>
                                        <div class="modal-footer" style="margin-top: 80px;"> 
                                            <button class="btn btn-primary" type="submit">Upload</button> 
                                            <button class="btn btn-default" data-dismiss="modal" >Close</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Upload Document-->
                        {% endfor %}
                    </tbody>
                </table>
            </div>
           


        </div>
    </div>
</section>

{% endblock %}