{% extends "noic/noic_base.html" %}
{% load static %}
{% load humanize %}

{% block body %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <form action="#" method="get" class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn"><i
                        class="fa fa-search"></i></button>
            </span>
        </div>
    </form>
    <!-- <div class="header-icon">
        <i class="fa fa-binoculars"></i>
    </div> -->
    <div class="header-title" style="margin-left: 0px;">
        <h1>NOIC Available Fuel</h1>
        <small>Fuel Management System</small>
        <ol class="breadcrumb hidden-xs">
            <li><a href=""><i class="pe-7s-home"></i> Home</a></li>
            <li class="active">capacities</li>
        </ol>
    </div>
</section>
<!-- Main content -->
<div class="content">
    <div class="panel panel-bd lobidrag lobipanel lobipanel-sortable" data-inner-id="nMPzTfz4dU"
        data-index="0">
        <div class="panel-heading ui-sortable-handle"><b>NOIC Fuel Capacities</b>
           
            
            <div class="dropdown">
                <ul class="dropdown-menu dropdown-menu-right">


                </ul>
                <div class="dropdown-toggle" data-toggle="dropdown"><span
                        class="panel-control-icon glyphicon glyphicon-cog"></span>
                </div>
            </div>
        </div>
        <div class="panel-body">              
      
      <div class="table-responsive">
        <table id="fuel_request" class="table table-striped table-bordered" style="width:100%">
            <thead style="background-color: lightslategray; color:white;">
                <tr>
                    <th style="color: white;">USD Petrol Quantity</th>
                    <th style="color: white;">USD Diesel Quantity</th>
                    <th style="color: white;">RTGS Petrol Quantity</th>
                    <th style="color: white;">RTGS Diesel Quantity</th>
                </tr>
            </thead>
            <tbody>
                
            <tr>

                <td>{{noic_usd_petrol|intcomma}} Litres {% if noic_usd_petrol < 10000 %} 
                    <i class="fa fa-exclamation-triangle" style="margin-left: 5px; font-size: 15px; color: crimson"></i>{% endif %}</td>
                <td>{{noic_usd_diesel|intcomma}} Litres {% if noic_usd_diesel < 1000 %} <i
                        class="fa fa-exclamation-triangle" style="margin-left: 5px; font-size: 15px; color: crimson"></i>{% endif %}</td>
                <td>{{noic_rtgs_petrol|intcomma}} Litres {% if noic_rtgs_petrol < 1000 %} <i
                    class="fa fa-exclamation-triangle" style="margin-left: 5px; font-size: 15px; color: crimson"></i>{% endif %}</td>
                <td>{{noic_rtgs_diesel|intcomma}} Litres {% if noic_rtgs_diesel < 1000 %} <i
                    class="fa fa-exclamation-triangle" style="margin-left: 5px; font-size: 15px; color: crimson"></i>{% endif %}</td>

                
            </tr>

           
            </tbody>
            </table>


           
</div>

</div>
</div>
</div>


<div class="content">
    <div class="panel panel-bd lobidrag lobipanel lobipanel-sortable" data-inner-id="nMPzTfz4dU"
        data-index="0">
        <div class="panel-heading ui-sortable-handle"><b>NOIC Depots</b>
           
            
            <div class="dropdown">
                <ul class="dropdown-menu dropdown-menu-right">


                </ul>
                <div class="dropdown-toggle" data-toggle="dropdown"><span
                        class="panel-control-icon glyphicon glyphicon-cog"></span>
                </div>
            </div>
        </div>
        <div class="panel-body">              
      
      <div class="table-responsive">
        <table id="depots" class="table table-striped table-bordered" style="width:100%">
            <thead style="background-color: lightslategray; color:white;">
                <tr>
                    <th style="color: white;">Depot</th>
                    <th style="color: white;">USD Diesel</th>
                    <th style="color: white;">Price</th>
                    <th style="color: white;">RTGS Diesel</th>
                    <th style="color: white;">Price</th>
                    <th style="color: white;">USD Petrol </th>
                    <th style="color: white;">Price</th>
                    <th style="color: white;">RTGS Petrol </th>
                    <th style="color: white;">Price</th>
                    <th style="color: white;">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for fuel in depots %}
            <tr>
                <td>{{fuel.depot.name}}</td>
                <td>{{fuel.usd_diesel|intcomma}} {% if fuel.usd_diesel < 1000 %} 
                    <i class="fa fa-exclamation-triangle" style="margin-left: 5px; font-size: 15px; color: crimson"> </i>{% endif %}</td>
                <td>{{fuel.usd_diesel_price}}</td>
                <td>{{fuel.rtgs_diesel|intcomma}} {% if fuel.rtgs_diesel < 1000 %} 
                    <i class="fa fa-exclamation-triangle" style="margin-left: 5px; font-size: 15px; color: crimson"> </i>{% endif %}</td>
                <td>{{fuel.rtgs_diesel_price}}</td>
                <td>{{fuel.usd_petrol|intcomma}} {% if fuel.usd_petrol < 1000 %} 
                    <i class="fa fa-exclamation-triangle" style="margin-left: 5px; font-size: 15px; color: crimson"></i>{% endif %}</td>
                <td>{{fuel.usd_petrol_price}}</td>
                <td>{{fuel.rtgs_petrol|intcomma}} {% if fuel.rtgs_petrol < 1000 %} 
                    <i class="fa fa-exclamation-triangle" style="margin-left: 5px; font-size: 15px; color: crimson"></i>{% endif %}</td>
                <td>{{fuel.rtgs_petrol_price}}</td>
                <td>
                    <div class="btn-group">
                        
                        
                        
                            <button type="button" class="btn btn-labeled btn-success btn-sm" data-toggle="modal" data-target="#add_fuel{{fuel.id}}" style="margin-right: 10px;">
                                <span class="btn-label"><i class="glyphicon glyphicon-plus"></i></span>Add Fuel
                            </button>    
                            

                            <button type="button" class="btn btn-labeled btn-danger btn-sm" data-toggle="modal"
                            data-target="#edit_{{fuel.id}}">
                                <span class="btn-label"><i class="glyphicon glyphicon-pencil"></i></span>Edit Prices
                            </button>  
                            
                         
                        
                    </div>
                </td>
            </tr>


            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script>
                $(document).ready(function () {
                $('#fuel_type').show();
                $('#currency').show();
                $('#diesel_rtgs_price').hide();
                $('#diesel_usd_price').hide();
                $('#petrol_rtgs_price').show();
                $('#petrol_usd_price').hide();
               
                
                
                $('#fuel_type, #currency').change(function () {
                if ($('#fuel_type option:selected').text() == "Diesel") {
                    if ($('#currency option:selected').text() == "USD") {
                        $('#currency').show();
                        $('#diesel_rtgs_price').hide();
                        $('#diesel_usd_price').show();
                        $('#petrol_rtgs_price').hide();
                        $('#petrol_usd_price').hide();
                    
                     }

                    else {
                        $('#currency').show();
                        $('#diesel_rtgs_price').show();
                        $('#diesel_usd_price').hide();
                        $('#petrol_rtgs_price').hide();
                        $('#petrol_usd_price').hide();
                    }

                }

                else {
                    if ($('#currency option:selected').text() == "USD") {
                        $('#currency').show();
                        $('#diesel_rtgs_price').hide();
                        $('#diesel_usd_price').hide();
                        $('#petrol_rtgs_price').hide();
                        $('#petrol_usd_price').show();
                    
                     }

                    else {
                        $('#currency').show();
                        $('#diesel_rtgs_price').hide();
                        $('#diesel_usd_price').hide();
                        $('#petrol_rtgs_price').show();
                        $('#petrol_usd_price').hide();
                    }

                }
             
                 });
                    });
                </script>


            <div class="modal fade modal-success in" id="add_fuel{{fuel.id}}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class=" modal-dialog" role="document" style="margin: 0;">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="modal-title" id="exampleModalLongTitle">Add Fuel- <i
                            style="color:azure"><small>Please Note the fuel you are entering is to be
                                sold either in United States Dollars or RTGS</small></i></span>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div>
                        {% load crispy_forms_tags %}
                        <form action="{% url 'noic:fuel_update' fuel.id %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden"  id="quantity" name="quantity" />
                            <div class="form-group row col-sm-12" style="margin-top: 5%;">
                                <div class="col-sm-6" id="fuel_type">

                                    <label><b style='color:#009688'>Fuel Type</b></label>
                                    <select class="form-control" name="fuel_type">

                                        <option>Petrol</option>
                                        <option>Diesel</option>


                                    </select>
                                </div>
                                <div class="col-sm-6" id=quantity>
                                    <label><b style='color:#009688'>Quantity</b></label>
                                    <input type="text" name="quantity" class="form-control"
                                     id="quantity"/>
                                </div>
                               
                            </div>
                            <div class=" form-group row col-sm-12">
                                <div class="col-sm-6" id="currency">

                                    <label><b style='color:#009688'>Currency</b></label>
                                    <select class="form-control" name="currency">

                                        <option>RTGS</option>
                                        <option>USD</option>


                                    </select>
                                </div>
                                <div class="col-sm-6" id="diesel_rtgs_price">
                                    <label><b style='color:#009688'>Price</b></label>
                                    <input type="text" name="diesel_rtgs_price" class="form-control"
                                        value="{{diesel_rtgs_price}}" id="diesel_rtgs_price_input" required />
                                </div>
                                <div class="col-sm-6" id="diesel_usd_price">
                                    <label><b style='color:#009688'>Price</b></label>
                                    <input type="text" name="diesel_usd_price" class="form-control"
                                        value="{{diesel_usd_price}}" id="diesel_usd_price_input" required />
                                </div>
                                <div class="col-sm-6" id="petrol_rtgs_price">
                                    <label><b style='color:#009688'>Price</b></label>
                                    <input type="text" name="petrol_rtgs_price" class="form-control"
                                        value="{{petrol_rtgs_price}}" id="petrol_rtgs_price_input" required />
                                </div>
                                <div class="col-sm-6" id="petrol_usd_price">
                                    <label><b style='color:#009688'>Price</b></label>
                                    <input type="text" name="petrol_usd_price" class="form-control"
                                        value="{{petrol_usd_price}}" id="petrol_usd_price_input" required />
                                </div>

                            </div>

                        
                    </div>
                    <div class="modal-footer">  
                        <button type="submit" class="btn btn-primary ">Submit</button>
                        <button class="btn btn-default" data-dismiss="modal" >Close</button>
                    </div> 
                    </form>
                </div>
            </div>
        </div>
        

            <!-- <div class="modal fade modal-success in" id="add_fuel{{fuel.id}}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class=" modal-dialog" role="document" >
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="modal-title" id="exampleModalLongTitle">Add Fuel- <i
                                style="color:azure"><small>Please Note the fuel you are entering is to be
                                    sold either in United States Dollars or RTGS</small></i></span>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% load crispy_forms_tags %}
                        <form action="{% url 'noic:fuel_update' fuel.id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group row col-sm-12" style="margin-top: 5%;">
                                <div class="col-sm-6">

                                    <label><b style='color:#009688'>Fuel Type</b></label>
                                    <select class="form-control" name="fuel_type">

                                        <option>Petrol</option>
                                        <option>Diesel</option>


                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label><b style='color:#009688'>Quantity</b></label>
                                    <input type="text" name="quantity" class="form-control"
                                     required />
                                </div>
                            </div>
                            <div class=" form-group row col-sm-12">
                                <div class="col-sm-6">

                                    <label><b style='color:#009688'>Currency</b></label>
                                    <select class="form-control" name="currency">
    
                                        <option>USD</option>
                                        <option>RTGS</option>
    
    
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label><b style='color:#009688'>Price</b></label>
                                    <input type="text" name="price" class="form-control"
                                     value ="{{fuel.usd_petrol_price}}" required />
                                </div>
                                
                            </div>
                         

                    </div>
                    
                    
                    <div class="modal-footer">  
                        <button type="submit" class="btn btn-primary ">Submit</button>
                        <button class="btn btn-default" data-dismiss="modal" >Close</button>
                    </div> 
                    </form>
                </div>
            </div>
        </div> -->

        <div class="modal fade modal-success in" id="edit_{{fuel.id}}" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document"> 
            <div class="modal-content">
                <div class="modal-header" >

                    <span class="modal-title" id="exampleModalLabel" > Edit Prices</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% load crispy_forms_tags %}
                    <form action="{% url 'noic:edit_prices' fuel.id %}" method="POST">
                        {% csrf_token %}

                        <div class=" form-group row col-sm-12">
                            <div class="col-sm-6">

                                <lable><b style='color:#009688'>USD Petrol Price</b></lable>
                                <input type="text" name="usd_petrol_price" class="form-control"
                                    value="{{fuel.usd_petrol_price}}" />
                            </div>
                            <div class="col-sm-6">
                                <label><b style='color:#009688'>USD Diesel Price</b></label>
                                <input type="text" name="usd_diesel_price" class="form-control"
                                    placeholder="$" value="{{fuel.usd_diesel_price}}" />
                            </div>
                            
                        </div>

                        <div class=" form-group row col-sm-12">
                            <div class="col-sm-6">

                                <lable><b style='color:#009688'>RTGS Petrol Price</b></lable>
                                <input type="text" name="rtgs_petrol_price" class="form-control"
                                    value="{{fuel.rtgs_petrol_price}}" />
                            </div>
                            <div class="col-sm-6">
                                <label><b style='color:#009688'>RTGS Diesel Price</b></label>
                                <input type="text" name="rtgs_diesel_price" class="form-control"
                                    placeholder="$" value="{{fuel.rtgs_diesel_price}}" />
                            </div>
                            
                        </div>
                        <div class="modal-footer">
                            <div>
                                <button class="btn" style="background-color: lightgray; color: #333;"
                                    data-dismiss="modal">No</button> <button type="submit"
                                    class="btn btn-primary ">Submit</button>
                            </div>
                            </form>
                           
                        </div>
                    </form> 
                 </div>
            </div>
         </div>

    {% endfor %}
    </tbody>
    </table>


           
</div>

</div>
</div>
</div>
    {%endblock%}
