{% extends "noic/noic_base.html" %}
{% load static %}
{% load humanize %}

{% block body %}
<!-- Content Header (Page header) -->

{% if add_user %}

<script>
    console.log("This is it")
</script>
{%else%}
<script>
    console.log("This is it 333")
</script>
{%endif%}



<section class="content-header">
    <form action="#" method="get" class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn"><i
                        class="fa fa-search"></i></button>
            </span>
        </div>
    </form>
    <!-- <div class="header-icon">
        <i class="fa fa-binoculars"></i>
    </div> -->
    <div class="header-title" style="margin-left: 0px;">
        <h1>Company Fuel Orders</h1>
        <small>Fuel Management System</small>
        <ol class="breadcrumb hidden-xs">
            <li><a href=""><i class="pe-7s-home"></i> Home</a></li>
            <li class="active">Orders</li>
        </ol>
    </div>
</section>
<!-- Main content -->
<div class="content">
    <div class="panel panel-bd lobidrag lobipanel lobipanel-sortable" data-inner-id="nMPzTfz4dU"
        data-index="0">
        <div class="panel-heading ui-sortable-handle">
           
            
            <div class="dropdown">
                <ul class="dropdown-menu dropdown-menu-right">


                </ul>
                <div class="dropdown-toggle" data-toggle="dropdown"><span
                        class="panel-control-icon glyphicon glyphicon-cog"></span>
                </div>
            </div>
        </div>
        <div class="panel-body">              
      
      <div class="table-responsive">
        <table id="fuel_request" class="table table-striped table-bordered" style="width:100%">
            <thead style="background-color: lightslategray; color:white;">
                <tr>
                    <th style="color: white;">Date</th>
                    <th style="color: white;">Company</th>
                    <th style="color: white;">Address</th>
                    <th style="color: white;">Fuel</th>
                    <th style="color: white;">Quantity</th>
                    <th style="color: white;">Currency</th>
                    <th style="color: white;">Payment</th>
                    <th style="color: white;">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.date }}</td>
                    <td>{{ order.company.name|lower|title }}</td>
                    <td>{{ order.company.address|lower|title }}</td>


                    {% if order.fuel_type == 'Diesel' %}
                        <td style="color: #009688;">{{ order.fuel_type|lower|capfirst }}</td>
                    {% elif order.fuel_type == 'Petrol' %}
                        <td style="color: #ffb61e;">{{ order.fuel_type|lower|capfirst }}</td>
                    {% else %}    
                        <td>{{ order.fuel_type|lower|capfirst }}</td>
                    {% endif %}    


                    <td>{{ order.quantity|intcomma }}</td>
                    <td>{{ order.currency}}</td> 
                    <td>

                        <!--call modal-->
                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#payment{{order.id}}">
                            <i class="fa fa-eye" style="font-size:16px;color:rgb(0, 225, 255)"></i> Details
                        </button>
                        <!--view details-->
                        <div class="modal fade modal-success in" id="payment{{order.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header" style="background-color: #009688; color: white">
                                        <span class="modal-title" id="exampleModalLabel">Payment Details</span>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h4 style="font-weight: lighter;font-size: 14px;">Sub Total &nbsp;&nbsp; : &nbsp;&nbsp; ${{order.amount_paid}}</h4>
                                            </div>
                                        </div>
                                        <div class="row"> 
                                             <div class="col-md-12">
                                                <h4 style="font-weight: lighter;font-size: 14px;">Duty &nbsp;&nbsp; : &nbsp;&nbsp;  ${{order.duty}}</h4>
                                            </div>
                                        </div>
                    
                            
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h4 style="font-weight: lighter;font-size: 14px;">Vat &nbsp;&nbsp; : &nbsp;&nbsp; ${{order.vat}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>

                    
                    {% if order.payment_approved %}
                    {% if order.allocated_fuel %}
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-success btn-sm" style="color: whitesmoke;" data-toggle="modal"  href="{% url 'noic:allocations' %}" >View Allocations</a>
                            </div>
                    </td>
                    {% else %}
                   <td>
                  <i style="color: brown;">Pending</i> 
                </td>
                  {% endif %}
                   {% else %}
                   <td><b style="margin-left: 25px;"> <i>Pending</i></b></td>
                   {% endif %}
                </tr>
                <div class="modal fade modal-success in" id="allocate{{order.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                            <span class="modal-title" id="exampleModalLongTitle">Allocate Fuel- <i
                                    style="color:azure"><small>Please Note the fuel you are entering is for the 
                                        payment you approved</small></i></span>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div>
                            {% load crispy_forms_tags %}
                            <form action="{% url 'noic:allocate_fuel' order.id %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" value="{{order.fuel_type}}" name="fuel_type" />
                                <input type="hidden" value="{{order.quantity}}" name="quantity" />
                                <input type="hidden" value="{{order.currency}}" name="currency" />
                                <div class="form-group row col-sm-12" style="margin-top: 5%;">
                                    <div class="col-sm-6">
                                        <label><b style='color:#009688'>Fuel Type</b></label>
                                        <input type="text" name="fuel_type1" class="form-control"
                                            value="{{order.fuel_type}}" disabled />
                                    </div>
                                    <div class="col-sm-6">
                                        <label><b style='color:#009688'>Quantity</b></label>
                                        <input type="text" name="quantity1" class="form-control"
                                            value="{{order.quantity}}" disabled />
                                    </div>
                                </div>

                                <div class="form-group row col-sm-12" style="margin-top: 5%;">
                                    <div class="col-sm-6">
                                        <label><b style='color:#009688'>Currency</b></label>
                                        <input type="text" name="currency1" class="form-control"
                                            value="{{order.currency}}" disabled />
                                    </div>
                                    <div class="form-group col-md-6 mb-0">
                                        {{ form1.depot|as_crispy_field }}
                                    </div>
                                   
                                </div>
                                
        
        
                        </div>
                        <div class="form-group row"
                            style="margin-left: 2%; margin-right: 5%; margin-top: 5%; margin-bottom: 5%;">
                            <button type="button" class="btn btn-secondary col-sm-6"
                                data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary col-sm-6">Submit</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
                {%endfor%}
            </tbody>
            </table>

</div>
</div>
</div>
</div>
    {%endblock%}