{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Orders {{request.company.name}} Summary</title>

    <style>
        @page {size: a3 landscape;}
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
        .first {
            width: 50%;
            float:left;
            font-size: 12px;

        }
        .wrapper {
            width: 100%;
            margin: auto;
            padding: 10px;
            overflow: hidden;
        }
        .text-muted{
            color:#6c757d!important;
        }
    </style>

</head>
<body>


<h1 style="text-align: center;">Requests Statement - {{ date }}</h1>


    {% if fuel_requests %}
    <h3 style="padding-top: 20px;">Pending Requests  {% if start_date and end_date%} ( <small style="color: #007f73;">{{start_date}}</small> - <small style="color: #007f73;">{{end_date}} )</small>{% else %}<small style="color: #007f73;">({{date}})</small>{% endif %}</h3>

    <table style="padding-top: 20px; margin-bottom: 30px;">
    
        <tr style="background-color: gray;color: white;">
            <th>Date</th>
            <th>Time</th>
            <th>Requested To</th>
            <th>Delivery Method</th>
            <th>Currency</th>
            <th>Fuel Type</th>
            <th>Quantity</th>
            <th>Requested On</th>
            <th>Action</th>
        </tr>
            
        
        {% for fuel_request in fuel_requests %}
        <tr>
            <td>
                {{fuel_request.date}}
            </td>
            <td>
                {{fuel_request.time}}
            </td>
            <td>
                <b>{{fuel_request.depot}} - {{fuel_request.request_company}}</b>
            </td>

            <td>
                {{fuel_request.delivery_method}}
            </td>
            <td>
                {{fuel_request.payment_method}}
            </td>

            {% if fuel_request.fuel_type == 'Diesel' %}
                <td class="" style="color: #009688;">
                    {{fuel_request.fuel_type}}
                </td>
            {% elif fuel_request.fuel_type == 'Petrol' %}

                <td class="" style="color: #ffb61e;">
                    {{fuel_request.fuel_type}}
                </td>
            {% else %}
                <td class="">
                    {{fuel_request.fuel_type}}
                </td>
            {% endif %}


            <td class="">
                {{fuel_request.amount|intcomma}} Litres
            </td>
            <td class="">
                {{fuel_request.date}} -- {{fuel_request.time}}
            </td>
            <td>
                {% if fuel_request.has_offers == True%}

                    <a type="button" class="btn btn-labeled btn-success m-b-5"  href="{% url 'fuel-offers' fuel_request.id %}">
        <span class="btn-label"><i
                class="glyphicon glyphicon-info-sign"></i></span>View Offers
                    </a>

                    </a>

                {% else %}
                    <button type="button" disabled class="btn btn-labeled btn-danger m-b-5">
    <span class="btn-label"><i
            class="glyphicon glyphicon-remove"></i></span>No offers Yet
                    </button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}


    </table>

    {% endif %}

    {% if complete_requests %}

    <h3 style="padding-top: 20px;">Complete Requests {% if start_date and end_date%} ( <small style="color: #007f73;">{{start_date}}</small> - <small style="color: #007f73;">{{end_date}} )</small>{% else %}<small style="color: #007f73;">( {{date}} )</small>{% endif %}</h3>

    <table style="padding-top: 20px">
        <tr style="background-color: gray;color: white;">
            <th>Date</th>
            <th>Time</th>
            <th>Requested To</th>
            <th>Delivery Method</th>
            <th>Currency</th>
            <th>Fuel Type</th>
            <th>Quantity</th>
            <th>Requested On</th>
            <th>Action</th>
        </tr>
            

        {% for fuel_request in complete_requests %}
        <tr>
            <td>
                {{fuel_request.date}}
            </td>
            <td>
                {{fuel_request.time}}
            </td>
            <td>
                <b>{{fuel_request.depot}} - {{fuel_request.request_company}}</b>
            </td>

            <td>
                {{fuel_request.delivery_method}}
            </td>
            <td>
                {{fuel_request.payment_method}}
            </td>

            {% if fuel_request.fuel_type == 'Diesel' %}
                <td class="" style="color: #009688;">
                    {{fuel_request.fuel_type}}
                </td>
            {% elif fuel_request.fuel_type == 'Petrol' %}

                <td class="" style="color: #ffb61e;">
                    {{fuel_request.fuel_type}}
                </td>
            {% else %}
                <td class="">
                    {{fuel_request.fuel_type}}
                </td>
            {% endif %}


            <td class="">
                {{fuel_request.amount|intcomma}} Litres
            </td>
            <td class="">
                {{fuel_request.date}} -- {{fuel_request.time}}
            </td>
            <td>
                {% if fuel_request.has_offers == True%}

                    <a type="button" class="btn btn-labeled btn-success m-b-5"  href="{% url 'fuel-offers' fuel_request.id %}">
        <span class="btn-label"><i
                class="glyphicon glyphicon-info-sign"></i></span>View Offers
                    </a>

                    </a>

                {% else %}
                    <button type="button" disabled class="btn btn-labeled btn-danger m-b-5">
    <span class="btn-label"><i
            class="glyphicon glyphicon-remove"></i></span>No offers Yet
                    </button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}

    </table>

    {% endif %}


<!-- <h3 style="padding-top: 20px;">Filtered Activities : {% if start_date and end_date%} ( <small style="color: #007f73;">{{start_date}}</small> - <small style="color: #007f73;">{{end_date}} )</small>{% else %}<small style="color: #007f73;">( {{date}} )</small>{% endif %}</h3>

    <table style="padding-top: 20px">
        <tr>
            <th>Date</th>
            <th>Organization</th>
            <th>User</th>
            <th>Action</th>
            <th>Description</th>
        </tr>

        {% for activity in filtered_activities %}
        <tr>
            <td>{{ activity.date }}</td>
            <td>ZERA</td>
            <td>{{activity.user.first_name}} {{activity.user.last_name}}</td>
            <td>{{activity.action}}</td>
            <td>{{activity.description}}</td>
 
            
            
        </tr>
        {% endfor %}
        

    </table>
 -->




</body>
</html>