{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }}</title>

    <link rel="shortcut icon" href="https://timothytakudzwa.github.io/static/new/assets/dist/img/ico/favicon.png" type="image/x-icon">
    <link href="https://timothytakudzwa.github.io/static/new/assets/plugins/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://timothytakudzwa.github.io/static/new/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://timothytakudzwa.github.io/static/new/assets/plugins/lobipanel/lobipanel.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://timothytakudzwa.github.io/static/new/assets/plugins/pace/flash.css" rel="stylesheet" type="text/css"/>
    <link href="https://timothytakudzwa.github.io/static/new/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://timothytakudzwa.github.io/static/new/assets/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet" type="text/css"/>
    <link href="https://timothytakudzwa.github.io/static/new/assets/themify-icons/themify-icons.css" rel="stylesheet" type="text/css"/>
    <link href="https://timothytakudzwa.github.io/static/new/assets/plugins/toastr/toastr.css" rel="stylesheet" type="text/css"/>
    <link href="https://timothytakudzwa.github.io/static/new/assets/plugins/emojionearea/emojionearea.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://timothytakudzwa.github.io/static/new/assets/plugins/monthly/monthly.css" rel="stylesheet" type="text/css"/>
    <link href="https://timothytakudzwa.github.io/static/new/assets/dist/css/stylehealth.min.css" rel="stylesheet" type="text/css"/>

    </head>

    <body class="hold-transition sidebar-mini">
        <!-- Site wrapper -->
        <div class="wrapper">
            <header class="main-header">
                <a href="{% url 'users:company_profile' %}" class="logo"> <!-- Logo -->
                    <span class="logo-mini"> </span>
                    <span class="logo-lg">

                       <h3>Fuel Finder Zim</h3>

                    </span>
                </a>
                <!-- Header Navbar -->
                <nav class="navbar navbar-static-top ">
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"> <!-- Sidebar toggle button-->
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-tasks"></span>
                    </a>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                      
                            <!-- Notifications -->
                            <li class="dropdown notifications-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="pe-7s-bell"></i>
                                    <span class="label label-warning">0</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header"><i class="fa fa-bell"></i>0 Notifications</li>
                                    <li>
                                        <ul class="menu">
                                            <li>
                                            <a href="#" class="border-gray"><i class="fa fa-inbox"></i> Inbox  <span class=" label-success label label-default pull-right">0</span></a>
                                            </li>
                                        </ul>
                                    </li>
                                   <li class="footer">
                                   <a href="#"> See all Notifications <i class=" fa fa-arrow-right"></i></a>
                                    </li>
                                </ul>
                            </li>
                           
                            <li class="dropdown dropdown-user admin-user">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
                                <div class="user-image">
                                <img src="https://timothytakudzwa.github.io/static/new/assets/dist/img/avatar4.png" class="img-circle" height="40" width="40" alt="User Image">
                                </div>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'users:company_profile' %}"><i class="fa fa-users"></i> User Profile</a></li>
                                    <li><a href="{% url 'logout' %}?next=/login"><i class="fa fa-sign-out"></i> Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>

            <!-- Left side column. contains the sidebar -->
          <aside class="main-sidebar">
                <!-- sidebar -->
                <div class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="image pull-left">
                            <img src="https://timothytakudzwa.github.io/static/new/assets/dist/img/avatar5.png" class="img-circle" alt="User Image">
                        </div>
                        <div class="info">
                            <p class="mt-2 mb-2">{{request.user.company.name}}</p>
                        </div>
                    </div>
                   
                    <!-- sidebar menu -->
                    <ul class="sidebar-menu">
                        <li class="{% if request.path == '/users/allocate/' %} active {% endif %}">
                            <a href="{% url 'users:allocate' %}"><i class="fa fa-hospital-o"></i><span>Fuel Allocations</span>
                            </a>
                        </li>
                        <li class="{% if request.path == '/users/suppliers/' %} active {% endif %}">
                            <a href="{% url 'users:suppliers_list' %}"><i class="fa fa-hospital-o"></i><span>Service Stations</span>
                            </a>
                        </li>
                        <li class="{% if request.path == '/users/depot_staff/' %} active {% endif %}">
                            <a href="{% url 'users:depot_staff' %}"><i class="fa fa-hospital-o"></i><span>Depot Staff</span>
                            </a>
                        </li>
                        <li class="{% if request.path == '/users/audit_trail/' %} active {% endif %}">
                            <a href="{% url 'users:audit_trail' %}"><i class="fa fa-hospital-o"></i><span>Audit Trail</span>
                            </a>
                        </li>
                        <li class="{% if request.path == '/users/stations/' %} active {% endif %}">
                            <a href="{% url 'users:stations' %}"><i class="fa fa-book"></i><span>Subsidiaries</span>
                            </a>
                        </li>
                        <li class="{% if request.path == '/users/statistics/' %} active {% endif %}">
                            <a href="{% url 'users:statistics' %}"><i class="fa fa-line-chart"></i><span>Statistics</span>
                            </a>
                        </li>
                        <li class="{% if request.path == '/users/report_generator/' %} active {% endif %}">
                            <a href="{% url 'users:report_generator' %}"><i class="fa fa-hospital-o"></i><span>Report Generator</span>
                            </a>
                        </li>
                        <li class="{% if request.path == '/users/waiting_for_approval/' %} active {% endif %}">
                            <a href="{% url 'users:waiting_for_approval' %}"><i class="fa fa-hospital-o"></i><span>Staff Applications</span>
                            </a>
                        </li>

            </ul>
        </div>
    </aside>

            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                


                <!--MainContent-->

                <main role="main">
                    <div class="row">
                        <div class="col-md-12">

                            {% if messages %}

                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }}" style="text-align: center">
                                        {{ message }}
                                    </div>
                                {% endfor %}

                            {% endif %}



                        </div>

                        {% block body %}{% endblock %}


                    </div>
                </main>


            </div>

            <!--footer-->

            <footer class="main-footer">
                <div class="pull-right hidden-xs"> <b>Version</b> 1.0</div>
                <strong>Copyright &copy; 2019 <a href="#">Intelli Africa Solutions</a>.</strong> All rights reserved.
            </footer>

        </div>

        <script src="https://timothytakudzwa.github.io/static/new/assets/plugins/jQuery/jquery-1.12.4.min.js" type="text/javascript"></script>
        <script src="https://timothytakudzwa.github.io/static/new/assets/plugins/jquery-ui-1.12.1/jquery-ui.min.js" type="text/javascript"></script>
        <script src="https://timothytakudzwa.github.io/static/new/assets/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="https://timothytakudzwa.github.io/static/new/assets/plugins/lobipanel/lobipanel.min.js" type="text/javascript"></script>
        <script src="https://timothytakudzwa.github.io/static/new/assets/plugins/pace/pace.min.js" type="text/javascript"></script>
        <script src="https://timothytakudzwa.github.io/static/new/assets/plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="https://timothytakudzwa.github.io/static/new/assets/plugins/fastclick/fastclick.min.js" type="text/javascript"></script>
        <script src="https://timothytakudzwa.github.io/static/new/assets/dist/js/custom1.js" type="text/javascript"></script>
        <script src="https://timothytakudzwa.github.io/static/new/assets/plugins/toastr/toastr.min.js" type="text/javascript"></script>
        <script src="https://timothytakudzwa.github.io/static/new/assets/plugins/sparkline/sparkline.min.js" type="text/javascript"></script>
        <script src="https://timothytakudzwa.github.io/static/new/assets/plugins/datamaps/d3.min.js" type="text/javascript"></script>
        <script src="https://timothytakudzwa.github.io/static/new/assets/plugins/datamaps/topojson.min.js" type="text/javascript"></script>
        <script src="https://timothytakudzwa.github.io/static/new/assets/plugins/datamaps/datamaps.all.min.js" type="text/javascript"></script>
        <script src="https://timothytakudzwa.github.io/static/new/assets/plugins/counterup/waypoints.js" type="text/javascript"></script>
        <script src="https://timothytakudzwa.github.io/static/new/assets/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
        <script src="https://timothytakudzwa.github.io/static/new/assets/plugins/chartJs/Chart.min.js" type="text/javascript"></script>
        <script src="https://timothytakudzwa.github.io/static/new/assets/plugins/emojionearea/emojionearea.min.js" type="text/javascript"></script>
        <script src="https://timothytakudzwa.github.io/static/new/assets/plugins/monthly/monthly.js" type="text/javascript"></script>
        <script src="https://timothytakudzwa.github.io/static/new/assets/plugins/datamaps/d3.min.js" type="text/javascript"></script>
        <script src="https://timothytakudzwa.github.io/static/new/assets/plugins/datamaps/topojson.min.js" type="text/javascript"></script>
        <script src="https://timothytakudzwa.github.io/static/new/assets/plugins/datamaps/datamaps.all.min.js" type="text/javascript"></script>

        <script src="https://timothytakudzwa.github.io/static/new/assets/dist/js/custom.js" type="text/javascript"></script>

         <script>
                "use strict"; // Start of use strict
                // notification
              

                //counter
                $('.count-number').counterUp({
                    delay: 10,
                    time: 5000
                });

                //data maps
                var basic_choropleth = new Datamap({
                    element: document.getElementById("map1"),
                    projection: 'mercator',
                    fills: {
                        defaultFill: "#009688",
                        authorHasTraveledTo: "#fa0fa0"
                    },
                    data: {
                        USA: {fillKey: "authorHasTraveledTo"},
                        JPN: {fillKey: "authorHasTraveledTo"},
                        ITA: {fillKey: "authorHasTraveledTo"},
                        CRI: {fillKey: "authorHasTraveledTo"},
                        KOR: {fillKey: "authorHasTraveledTo"},
                        DEU: {fillKey: "authorHasTraveledTo"}
                    }
                });

                var colors = d3.scale.category10();

                window.setInterval(function () {
                    basic_choropleth.updateChoropleth({
                        USA: colors(Math.random() * 10),
                        RUS: colors(Math.random() * 100),
                        AUS: {fillKey: 'authorHasTraveledTo'},
                        BRA: colors(Math.random() * 50),
                        CAN: colors(Math.random() * 50),
                        ZAF: colors(Math.random() * 50),
                        IND: colors(Math.random() * 50)
                    });
                }, 2000);

        //bar chart
                var ctx = document.getElementById("barChart");
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                        datasets: [
                            {
                                label: "My First dataset",
                                data: [65, 59, 80, 81, 56, 55, 40, 25, 35, 51, 94, 16],
                                borderColor: "#009688",
                                borderWidth: "0",
                                backgroundColor: "#009688"
                            },
                            {
                                label: "My Second dataset",
                                data: [28, 48, 40, 19, 86, 27, 90, 91, 41, 25, 34, 47],
                                borderColor: "#009688",
                                borderWidth: "0",
                                backgroundColor: "#009688"
                            }
                        ]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                        }
                    }
                });
                      //radar chart
                var ctx = document.getElementById("radarChart");
                var myChart = new Chart(ctx, {
                    type: 'radar',
                    data: {
                        labels: [["Eating", "Dinner"], ["Drinking", "Water"], "Sleeping", ["Designing", "Graphics"], "Coding", "Cycling", "Running"],
                        datasets: [
                            {
                                label: "My First dataset",
                                data: [65, 59, 66, 45, 56, 55, 40],
                                borderColor: "#00968866",
                                borderWidth: "1",
                                backgroundColor: "rgba(0, 150, 136, 0.35)"
                            },
                            {
                                label: "My Second dataset",
                                data: [28, 12, 40, 19, 63, 27, 87],
                                borderColor: "rgba(55, 160, 0, 0.7",
                                borderWidth: "1",
                                backgroundColor: "rgba(0, 150, 136, 0.35)"
                            }
                        ]
                    },
                    options: {
                        legend: {
                            position: 'top'
                        },
                        scale: {
                            ticks: {
                                beginAtZero: true
                            }
                        }
                    }
                });

                // Message
                $('.message_inner').slimScroll({
                    size: '3px',
                    height: '320px'
                });

                //emojionearea
                $(".emojionearea").emojioneArea({
                    pickerPosition: "top",
                    tonesStyle: "radio"
                });

                //monthly calender
                $('#m_calendar').monthly({
                    mode: 'event',
                    //jsonUrl: 'events.json',
                    //dataType: 'json'
                    xmlUrl: 'events.xml'
                });
            
            
             //line chart
                var ctx = document.getElementById("lineChart");
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                        datasets: [
                            {
                                label: "My First dataset",
                                borderColor: "rgba(0,0,0,.09)",
                                borderWidth: "1",
                                backgroundColor: "rgba(0,0,0,.07)",
                                data: [22, 44, 67, 43, 76, 45, 12, 45, 65, 55, 42, 61, 73]
                            },
                            {
                                label: "My Second dataset",
                                borderColor: "#009688",
                                borderWidth: "1",
                                backgroundColor: "#009688",
                                pointHighlightStroke: "#009688",
                                data: [16, 32, 18, 26, 42, 33, 44, 24, 19, 16, 67, 71, 65]
                            }
                        ]
                    },
                    options: {
                        responsive: true,
                        tooltips: {
                            mode: 'index',
                            intersect: false
                        },
                        hover: {
                            mode: 'nearest',
                            intersect: true
                        }

                    }
                });


        </script>

    </body>
</html>