{% extends "users/base.html" %}
{% block body %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">{{buyer.company.name|title}}'s Transaction History</h1>
        
        
    </div>
</div>

{% if trans %}
<div class="col-md-12">
    <div class="card" style="background-color:white">
        
        <div class="card-header card-header-primary">
        <h4 class="card-title ">Transactions Report</h4>
        </div>
    <div class="card-body">
        <div class="container-fluid">

            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead style="color:white; background:lightslategray">
                    <th style="color:white;">
                    Date
                    </th>
                    <th style="color:white;">
                    Time
                    </th>
                    <th style="color:white;">
                    Buyer
                    </th>
                    <th style="color:white;">
                    Quantity
                    </th>
                    <th style="color:white;">
                    Cost
                    </th>
                    <th>
                    Status
                    </th>
                </thead>    
                       
                         
                   <tbody>
                       {% for tran in trans %}
                       <tr>
                            <td>{{tran.date}}</td>
                            <td>{{tran.time}}</td>
                            <td>{{tran.buyer}}</td>
                            <td>{{tran.offer.request.amount}}</td>
                            <td>$ {{tran.revenue|stringformat:".2f"}}</td>
                           <td>
                               {% if tran.is_complete %}
                               <i class="material-icons" style="color: #2ecc71;">check_circle</i>
                               {% else %}
                               <i class="material-icons" style="color: #e74c3c;">report</i>
                               {% endif %}
                            </td>
                            
                        </tr>
                   
                    {% endfor %}   
                   

                </tbody>
                </table>

        </div>
    </div>
    </div>
    
</div>
{% endif %}

{% endblock %}