{% extends "users/base.html" %}
{% load static %}
{% block title %}
{{title}}
{% endblock %}
{% block body %}

        <section class="content-header">
            <form action="#" method="get" class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
                   <div class="input-group">
                   <input type="text" name="q" class="form-control" placeholder="Search...">
                       <span class="input-group-btn">
                           <button type="submit" name="search" id="search-btn" class="btn"><i class="fa fa-search"></i></button>
                       </span>
                   </div>
               </form>   
           <div class="header-icon">
               <i class="fa fa-address-book"></i>
           </div>
           <div class="header-title">
               <h1> Company Profile</h1>
               <small>{{user.company.name}}</small>
               <ol class="breadcrumb hidden-xs">
                  <li><a href="#"><i class="pe-7s-home"></i> Home</a></li>
                  <li class="active">Profile</li>
              </ol>
               
           </div>
          </section>
          
          <div class="content">
          
          
            <div class="panel panel-bd lobidrag lobipanel lobipanel-sortable" data-inner-id="nMPzTfz4dU"
            data-index="0">
            <div class="panel-heading ui-sortable-handle">
                <div class="btn-group">
                    <h3 class="display-3" style="color: rgb(79, 189, 150);">{{request.user.company.name}} Profile</h3>
            
                </div>
                <div class="dropdown">
                    <ul class="dropdown-menu dropdown-menu-right">
            
            
                    </ul>
                    <div class="dropdown-toggle" data-toggle="dropdown"><span
                            class="panel-control-icon glyphicon glyphicon-cog"></span>
                    </div>
                </div>
            </div>
            <div class="panel-body">
        <div class="container-fluid">
            <div class="card-avatar" style="margin-top: 30px;display: block;text-align: center;">
                <div class="img-rounded">
                    <a href="#">
                    <img class="img" src="/media/{{compan.logo}}" height="250px" width="250px" />
                    
                    </a>
                </div>    
              </div>
            
            {% load crispy_forms_tags %}
            <form action="{% url 'users:company_profile'%}" method="POST">
                {% csrf_token %}
                <div class="form-group row">
                    
                        <div class="col-sm-6">
                    <label for="name" class="-form-label">Name</label>
                    
                        <input name="name" type="text" class="form-control"  id="name"  value="{{compan.name}}">
                    </div>
                    
                    
                   
                    <div class="col-sm-6">                              
                        <label for="address" class="col-form-label">Location</label>
                        
                            <input name="address" type="text" class="form-control"  id="address"  value="{{ compan.address}}">
                        </div>
                        </div>


                        <div class="form-group row">
                              
                                <div class="col-sm-6">
                            <label for="industry" class=" col-form-label">Industry</label>
                            
                                <input name="industry" type="text" class="form-control" id="industry"  value="{{ compan.industry}}">
                            </div>
                           
                            
                           
                            <div class="col-sm-6">                     
                                <label for="num_of_subs" class="col-form-label">Number of Subsidiaries</label>
                                
                                    <input name="num_of_subs" type="text" class="form-control" id="num_of_subs"  value="{{num_of_subsidiaries}}">
                                </div>
                                </div>

                               

                                <div class="form-group row">
                              
                                    <div class="col-sm-6">
                                        <label for="iban_number" class=" col-form-label">Iban Number</label>
                                    
                                        <input name="iban_number" type="text" class="form-control" id="diesel"  value="{{compan.iban_number}}">
                                    </div>
                                    
                                    
                                    
                                    <div class="col-sm-6">                     
                                        <label for="licence_number" class="col-form-label">Licence Number</label>
                                        
                                        <input name="licence_number" type="text" class="form-control" id="petrol"  value="{{compan.license_number}}">
                                    </div>
                                </div>

                                <div class="form-group row">
                              
                                    <div class="col-sm-6">
                                        <label for="destination_bank" class=" col-form-label">Destination Bank</label>
                                    
                                        <input name="destination_bank" type="text" class="form-control" id="diesel"  value="{{compan.destination_bank}}">
                                    </div>
                                    
                                    
                                    
                                    <div class="col-sm-6">                     
                                        <label for="account_number" class="col-form-label">Account Number</label>
                                        
                                        <input name="account_number" type="text" class="form-control" id="petrol"  value="{{compan.account_number}}">
                                    </div>
                                </div>

                                <!-- <div class="form-group row">
                              
                                        <div class="col-sm-6">
                                            <label for="diesel" class=" col-form-label">Diesel Capacity</label>
                                        
                                            <input name="diesel" type="text" class="form-control" id="diesel"  value="{{fuel_capacity.diesel_quantity}}">
                                        </div>
                                       
                                        
                                       
                                        <div class="col-sm-6">                     
                                            <label for="petrol" class="col-form-label">Petrol Quantity</label>
                                            
                                            <input name="petrol" type="text" class="form-control" id="petrol"  value="{{fuel_capacity.petrol_quantity}}">
                                        </div>
                                    </div> -->
                                        

                            
                        <div class="col-md-12 text-center">     
                            <button type="submit" class="btn btn-primary ">Edit Profile</button>
                        </div>
            </form>


                  
        </div>
    </div>
    </div>
    
</div>

{%endblock%}