{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block body %}

    <section class="content-header">
        <form action="#" method="get" class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                 <button type="submit" name="search" id="search-btn" class="btn"><i class="fa fa-search"></i></button>
             </span>
            </div>
        </form>
        <div class="header-icon">
            <i class="fa fa-clipboard"></i>
        </div>
        <div class="header-title">

            <h1>Fuel Allocations</h1>
            <small>Fuel Finder Zimbabwe</small>
            <ol class="breadcrumb hidden-xs">
                <li><a href="#"><i class="pe-7s-home"></i> Home</a></li>
                <li class="active">Allocations</li>
            </ol>

        </div>

    </section>


    <div class="container">

        {% if allocates %}
            <div class="mt-2 panel panel-bd lobidrag lobipanel lobipanel-sortable" data-inner-id="nMPzTfz4dU" data-index="0">
                <div class="panel-heading ui-sortable-handle">
                    <div class="btn-group">
                        <h4>Fuel Availability - <small><i>Click on corresponding Fuel Payment Type To allocate more fuel</i></small></h4>
                    </div>
                    <div class="dropdown">
                        <ul class="dropdown-menu dropdown-menu-right">


                        </ul>
                        <div class="dropdown-toggle" data-toggle="dropdown"><span class="panel-control-icon glyphicon glyphicon-cog"></span>
                        </div>
                    </div>
                </div>       <div class="panel-body">


                <div class="table-responsive">
                    <table id="fuel_allocations" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                        <tr>
                            <th>Fuel Payment Type</th>
                            <th>Petrol</th>
                            <th>Price</th>
                            <th>Diesel</th>
                            <th>Price</th>
                            <th>Rate</th>                           
                            <!-- <th>Rate</th>                            -->
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for allocate in allocates %}
                            <tr>

                                <td>{{allocate.entry_type}}</td>
                                <td>{{allocate.petrol_quantity}} {% if allocate.petrol_quantity < 1000 %} <i class="material-icons text-danger" >warning</i>{% endif %}</td>

                                <td>{{allocate.petrol_price}}</td>

                                <td>{{allocate.diesel_quantity}} {% if allocate.diesel_quantity < 1000 %} <i class="material-icons text-danger" >warning</i>{% endif %}</td>
                                <td>{{allocate.diesel_price}}</td>
                                <td>{{allocate.rate}}</td>
                                <!-- <td>{%if allocate.cash%}<i class="fa fa-dollar"></i> <img src="{% static 'assets/img/zimbabwe.svg' %}" alt="ZWL" height="25px" width="25px" title="ZWL">{% else%} {%endif%} {%if allocate.usd%}<img src="{% static 'assets/img/united-states.svg' %}" alt="USD" height="25px" width="25px" title="USD"> {% else%} {%endif%} {%if allocate.ecocash%}<img src="{% static 'assets/img/ecocash.svg' %}" alt="Ecocash" height="50px" width="50px" title="ECOCASH">{% else%} {%endif%} {%if allocate.swipe%}<i class="fa fa-cc-visa"></i> {% else%} {%endif%}</td> -->
                                <td>
                                    <div class = "btn-group">
                                        <button class="btn btn-primary btn-sm" style="font-size: 8px;" data-toggle="modal" data-target="#petrol{{allocate.id}}">Add Petrol</button>
                                        <button class="btn btn-warning btn-sm" style="font-size: 8px;" data-toggle="modal" data-target="#diesel{{allocate.id}}">Add Diesel</button>
                                        <button class="btn btn-danger btn-sm" style="font-size: 8px;" data-toggle="modal" data-target="#edit_{{allocate.id}}">Edit</button>
                                    </div>
                                </td>
                            </tr>


                            <!-- Supplier Edit Modal -->
                            <div class="modal fade" id="edit_{{allocate.id}}" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header" style="background-color: #9c27b0;color: white;">

                                            <h5 class="modal-title" id="exampleModalLabel">Edit Prices</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            {% load crispy_forms_tags %}
                                            <form action="{% url 'users:edit_fuel_prices' allocate.id %}"
                                                  method="POST">
                                                {% csrf_token %}


                                                <div class="form-group">
                                                    <lable>Petrol Price</lable>
                                                    <input type="text" name="petrol_price" class="form-control" value="{{allocate.petrol_price}}" />
                                                </div>

                                                <div class="form-group">
                                                    <lable>Diesel Price</lable>
                                                    <input type="text"  name="diesel_price"  value="{{allocate.diesel_price}}" class="form-control" />
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        {{update_form.cash|as_crispy_field}}
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{update_form.usd|as_crispy_field}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        {{update_form.swipe|as_crispy_field}}
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{update_form.ecocash|as_crispy_field}}
                                                    </div>
                                                </div>

                                        </div>
                                        <div class="modal-footer">
                                            <div >
                                                <button class="btn" style="background-color: lightgray; color: #333;" data-dismiss="modal">No</button> <button type="submit" class="btn btn-primary ">Submit</button>
                                            </div>
                                            </form>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--update fuel-->
                            <div class="modal fade" id="petrol{{allocate.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header" style="background-color: #9c27b0;color: white;">
                                            <h5 class="modal-title" id="exampleModalLabel">Update Petrol Quantity</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">

                                            {% load crispy_forms_tags %}
                                            <form action="{% url 'users:allocation_update' allocate.id %}" method="POST">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <lable>Petrol Capacitdy</lable>
                                                    <input type="text" name="petrol_quantity" class="form-control" value=" " required/>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        {{update_form.cash|as_crispy_field}}
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{update_form.usd|as_crispy_field}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        {{update_form.swipe|as_crispy_field}}
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{update_form.ecocash|as_crispy_field}}
                                                    </div>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn" style="background-color: lightgray; color: #333;" data-dismiss="modal">Close</button>
                                                    <button class="btn btn-primary" type="submit">Update</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="diesel{{allocate.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header" style="background-color: #9c27b0;color: white;">
                                            <h5 class="modal-title" id="exampleModalLabel">Update Diesel Quantity</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">

                                            {% load crispy_forms_tags %}
                                            <form action="{% url 'users:allocate_diesel' allocate.id %}" method="POST">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <lable>Diesel Capacity</lable>
                                                    <input type="text" name="diesel_quantity" class="form-control" value=" " />
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        {{update_form.cash|as_crispy_field}}
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{update_form.usd|as_crispy_field}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        {{update_form.swipe|as_crispy_field}}
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{update_form.ecocash|as_crispy_field}}
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn" style="background-color: lightgray; color: #000;" data-dismiss="modal">Close</button>
                                                    <button class="btn btn-primary" type="submit">Update</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        {% else %}
            <div class="text-center" style="margin-top: 50px">
                <h4>No Fuel Allocations & Updates</h4>
            </div>
        {% endif %}


      

    </div>

{% endblock %}