{% extends "users/base.html" %}
{% load static %}
{% load humanize %}

{% block body %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <form action="#" method="get" class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn"><i
                        class="fa fa-search"></i></button>
            </span>
        </div>
    </form>
    <!-- <div class="header-icon">
        <i class="fa fa-binoculars"></i>
    </div> -->
    <div class="header-title" style="margin-left: 0px;">
        <h1>{{request.user.company.name}} Portal</h1>
        <small>Fuel Orders</small>
        <ol class="breadcrumb hidden-xs">
            <li><a href=""><i class="pe-7s-home"></i> Home</a></li>
            <li class="active">Orders</li>
        </ol>
    </div>
</section>
<!-- Main content -->
<div class="content">
    <div class="panel panel-bd lobidrag lobipanel lobipanel-sortable" data-inner-id="nMPzTfz4dU"
        data-index="0">
        <div class="panel-heading ui-sortable-handle"> 
            <div class="btn-group">
                <a class="btn btn-info btn-sm" data-toggle="modal"
                    data-target="#place_order">Place Order</a>
            </div>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script>
                $(document).ready(function () {
                $('#fuel_type').show();
                $('#currency').show();
                $('#diesel_rtgs_price').hide();
                $('#diesel_usd_price').hide();
                $('#petrol_rtgs_price').show();
                $('#petrol_usd_price').hide();
               
                
                
                $('#fuel_type, #currency').change(function () {
                if ($('#fuel_type option:selected').text() == "Diesel") {
                    if ($('#currency option:selected').text() == "USD") {
                        $('#currency').show();
                        $('#diesel_rtgs_price').hide();
                        $('#diesel_usd_price').show();
                        $('#petrol_rtgs_price').hide();
                        $('#petrol_usd_price').hide();
                    
                     }

                    else {
                        $('#currency').show();
                        $('#diesel_rtgs_price').show();
                        $('#diesel_usd_price').hide();
                        $('#petrol_rtgs_price').hide();
                        $('#petrol_usd_price').hide();
                    }

                }

                else if ($('#fuel_type option:selected').text() == "Petrol") {
                    if ($('#currency option:selected').text() == "USD") {
                        $('#currency').show();
                        $('#diesel_rtgs_price').hide();
                        $('#diesel_usd_price').hide();
                        $('#petrol_rtgs_price').hide();
                        $('#petrol_usd_price').show();
                    
                     }

                    else {
                        $('#currency').show();
                        $('#diesel_rtgs_price').hide();
                        $('#diesel_usd_price').hide();
                        $('#petrol_rtgs_price').show();
                        $('#petrol_usd_price').hide();
                    }

                }

                 });
                    });

                    

                    
                </script>
           
            
        <div class="modal fade modal-success in" id="place_order" tabindex="-1" role="dialog"
           aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
           <div class=" modal-dialog" role="document" style="margin: 0;">
               <div class="modal-content">
                   <div class="modal-header">
                       <span class="modal-title" id="exampleModalLongTitle">Place Order<i
                               style="color:azure"><small style="color: rgba(5, 5, 5, 0.911);"> pay for fuel to NOIC and upload proof of payment</small></i></span>
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                       </button>
                   </div>
                   <div>
                       {% load crispy_forms_tags %}
                       <form action="{% url 'users:place_order' %}" method="POST" enctype="multipart/form-data">
                           {% csrf_token %}
                           <input type="hidden"  id="quantity" name="quantity" />
                           <div class="form-group row col-sm-12" style="margin-top: 5%;">
                               <div class="col-sm-6" id="fuel_type">

                                   <label><b style='color:#009688'>Fuel Type</b></label>
                                   <select class="form-control" name="fuel_type">

                                       <option>Petrol</option>
                                       <option>Diesel</option>


                                   </select>
                               </div>
                               <div class="col-sm-6" id="fuel_paid">
                                   <label><b style='color:#009688'>Sub Total <i style="color: black;">(payment)</i></b></label>
                                   <input type="text" id="fuel_paid" name="fuel_paid" class="form-control"
                                       placeholder="$0.00" required />
                               </div>
                              
                           </div>
                           <div class=" form-group row col-sm-12">
                               <div class="col-sm-6" id="currency">

                                   <label><b style='color:#009688'>Currency</b></label>
                                   <select class="form-control" name="currency">

                                       <option>RTGS</option>
                                       <option>USD</option>


                                   </select>
                               </div>
                               <div class="col-sm-6" id="diesel_rtgs_price">
                                   <label><b style='color:#009688'>Price</b></label>
                                   <input type="text" name="diesel_rtgs_price" class="form-control"
                                       value="{{diesel_rtgs_price}}" required />
                               </div>
                               <div class="col-sm-6" id="diesel_usd_price">
                                   <label><b style='color:#009688'>Price</b></label>
                                   <input type="text" name="diesel_usd_price" class="form-control"
                                       value="{{diesel_usd_price}}" required />
                               </div>
                               <div class="col-sm-6" id="petrol_rtgs_price">
                                   <label><b style='color:#009688'>Price</b></label>
                                   <input type="text" name="petrol_rtgs_price" class="form-control"
                                       value="{{petrol_rtgs_price}}" required />
                               </div>
                               <div class="col-sm-6" id="petrol_usd_price">
                                   <label><b style='color:#009688'>Price</b></label>
                                   <input type="text" name="petrol_usd_price" class="form-control"
                                       value="{{petrol_usd_price}}" required />
                               </div>

                           </div>

                           <div class=" form-group row col-sm-12">
                               <div class="col-sm-6" id=quantity>
                                   <label><b style='color:#009688'>Quantity</b></label>
                                   <input type="text" name="quantity" class="form-control"
                                   placeholder="In Litres"    id="quantity"  disabled/>
                               </div>
                               <div class="col-sm-6">

                                <label><b style='color:#009688'>Depot</b></label>
    
                                    <select class="form-control" name="depots">
                                        {% for depot in depots %}
                                        <option >{{depot.name}}</option>
                                        {% endfor %}
                                    </select>
    
                            </div>

                               
                               
                           </div>
                           <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                           <script>
                               $( "#fuel_paid" ).keyup(function() {
                                console.log( "Handler for .keyup() called." );
                                });
                                                            

                                function update() {
                                    if ($('#fuel_type option:selected').text() == "Diesel"){
                                        if ($('#currency option:selected').text() == "USD") {
                                            $('input[name="quantity"]').val($('input[name="fuel_paid"]').val()/$('input[name="diesel_usd_price"]').val());
                                        }else if ($('#currency option:selected').text() == "RTGS") {
                                            $('input[name="quantity"]').val($('input[name="fuel_paid"]').val()/$('input[name="diesel_rtgs_price"]').val());
                                        }
                                    }else{
                                        if ($('#currency option:selected').text() == "USD") {
                                            $('input[name="quantity"]').val($('input[name="fuel_paid"]').val()/$('input[name="petrol_usd_price"]').val());
                                        }else if ($('#currency option:selected').text() == "RTGS"){
                                            $('input[name="quantity"]').val($('input[name="fuel_paid"]').val()/$('input[name="petrol_rtgs_price"]').val());
                                        }

                                    }    
                                }

                                $("#fuel_paid").keyup(function(){
                                    update();
                                
                                });
                            </script>
                         
                          
                           <div class=" form-group row col-sm-12">

                            <div class="col-sm-6">
                                <label><b style='color:#009688'>Payment Proof</b></label>
                                <input type="file" accept=".pdf, .doc,.docx, .jpeg, .png, .jpg" name="proof_of_payment" class="form-control-file" id="exampleFormControlFile1" required>
                            </div>

                            <div class="col-sm-6">

                                <label><b style='color:#009688'>Transporter</b></label>
                                <input type="text" name="transporter" class="form-control"
                                 required />
                            </div>
                            
                           
                        </div>

                        <div class=" form-group row col-sm-12">

                            <div class="col-sm-6">

                                <label><b style='color:#009688'>Truck Horse Reg</b></label>
                                <input type="text" name="truck_reg" class="form-control"
                                 required />
                            </div>

                            <div class="col-sm-6">

                                <label><b style='color:#009688'>Trailer Reg</b></label>
                                <input type="text" name="trailer_reg" class="form-control"
                                 required />
                            </div>
                            
                           
                        </div>
                        <div class=" form-group row col-sm-12">

                            <div class="col-sm-6">

                                <label><b style='color:#009688'>Driver</b></label>
                                <input type="text" name="driver" class="form-control"
                                 required />
                            </div>

                            <div class="col-sm-6">

                                <label><b style='color:#009688'>Driver ID</b></label>
                                <input type="text" name="driver_id" class="form-control"
                                 required />
                            </div>
                            
                           
                        </div>
                   </div>
                   <div class="form-group row"
                       style="margin-left: 2%; margin-right: 5%; margin-top: 5%; margin-bottom: 5%;">
                       <button type="button" class="btn btn-secondary col-sm-6"
                           data-dismiss="modal">Close</button>
                       <button type="submit" class="btn btn-primary col-sm-6">Submit</button>
                   </div>
                   </form>
               </div>
           </div>
       </div>

       <script>
        $('body').click(function (event) {
            if(!$(event.target).closest('#place_order').length && !$(event.target).is('#place_order')) {
                $("#place_order").modal('hide');
            }
            if(!$(event.target).closest('#new_depot_user').length && !$(event.target).is('#new_depot_user')) {
                $("#new_depot_user").modal('hide');
            }      
        });
    </script>
       
            
            <div class="dropdown">
                <ul class="dropdown-menu dropdown-menu-right">


                </ul>
                <div class="dropdown-toggle" data-toggle="dropdown"><span
                        class="panel-control-icon glyphicon glyphicon-cog"></span>
                </div>
            </div>
        </div>
        <div class="panel-body">              
      
      <div class="table-responsive">
        <table id="fuel_request" class="table table-striped table-bordered" style="width:100%">
            <thead style="background-color: lightslategray; color:white;">
                <tr>
                    <th style="color: white;">Date</th>
                    <th style="color: white;">Supplier</th>
                    <th style="color: white;">Fuel</th>
                    <th style="color: white;">Quantity</th>
                    <th style="color: white;">Currency</th>
                    <th style="color: white;">Payment</th>
                    <th style="color: white;">Proof of Payment</th>
                    <th style="color: white;">Release Note</th>
                    <th style="color: white;">Delivery Note</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.date }}</td>
                    <td>NOIC</td>

                    {% if order.fuel_type == 'Diesel' %}
                        <td style="color: #009688;">{{ order.fuel_type|lower|capfirst }}</td>
                    {% elif order.fuel_type == 'Diesel' %}
                        <td style="color: #ffb61e;">{{ order.fuel_type|lower|capfirst }}</td>
                    {% else %}    
                        <td>{{ order.fuel_type|lower|capfirst }}</td>
                    {% endif %}    

                    <td>{{ order.quantity|intcomma }}</td>
                    <td>{{ order.currency}}</td> 
                    <td>

                        <!--call modal-->
                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#payment{{order.id}}">
                            <i class="fa fa-eye" style="font-size:16px;color:rgb(0, 225, 255)"></i> Details
                        </button>
                        <!--view details-->
                      



                        <div class="modal fade modal-success in" id="payment{{order.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document" style="margin: 0;">
                                <div class="modal-content">
                                    <div class="modal-header" style="background-color: #009688; color: white">
                                        <span class="modal-title" id="exampleModalLabel">Payment Details</span>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label><b> Fuel Type:</b></label>
                                                
                                                {% if  order.fuel_type == 'Diesel' %}
                                                    <b style="color: #009688;">{{order.fuel_type}}</b>
                                                {% elif order.fuel_type == 'Petrol' %}
                                                    <b style="color: #ffb61e;">{{order.fuel_type}}</b>
                                                {% else %}    
                                                    <b>{{order.fuel_type}}</b>
                                                {% endif %}    

                                            </div>
                                            <div class="form-group col-md-6">
                                                <label><b>Price:</b></label>
                                                &nbsp;$24
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label><b> Sub Total:</b></label>
                                                &nbsp;${{order.amount_paid}}
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label><b>Duty:</b></label>
                                                &nbsp;${{order.duty}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label><b> Vat:</b></label>
                                                &nbsp;${{order.vat}}
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label><b>Quantiy:</b></label>
                                                &nbsp;{{order.quantity}}L
                                            </div>
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>

                    {% if order.payment_approved %}
                    <td><b style="color: rgb(59, 59, 139);">Payment Approved</b></td>
                    {% else %}
                    <td>
                       Approval Pending
                    </td>
                    {% endif %}
                    {% if order.allocation != None %}
                            {% if order.allocation.release_note %}
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-primary btn-sm" style="color: white;" href="{% url 'users:view_release_note' order.allocation.id %}">Download Release Note</a>
                                   
                                </div>
                                
                            </td> 
                            {% else %}
                            <td>
                                
                              Pending
                               
                            </td>
                            {% endif %}

                    {% else %}
                    <td>
                        Allocation Pending
                     </td>
                     {% endif %}

                     {% if order.allocation != None %}
                            {% if order.allocation.d_note %}
                            <td><i style="color: blue;">Uploaded</i></td>
                           
                            {% else %}
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-warning btn-sm" style="color: white;" data-toggle="modal" data-target="#upload_{{order.allocation.id}}" >Upload D-Note</a>
                                   
                                </div>

                             </td>
                            <!--Upload Document-->
                            <div class="modal fade modal-sucess in" id="upload_{{order.allocation.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header" style="background-color: #009688; color: white">
                                            <span class="modal-title" id="exampleModalLabel">Upload Delivery Note</span>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
        
                                            <form method="POST" action="{% url 'users:delivery_note' order.allocation.id %}" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <input type="file" accept=".pdf, .doc,.docx, .jpeg, .png, .jpg" name="d_note" class="form-control-file" id="exampleFormControlFile1" required>
                                                <br>
                                                <p style="text-align: center;"><input class="btn btn-info" type="submit" value="Upload"></p>
        
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End Upload Document-->
                            {% endif %}

                    {% else %}
                    <td>
                        Allocation Pending
                     </td>
                     {% endif %}
                    
                    
                     
                </tr>

                <script>
                    $('body').click(function (event) {
                        if(!$(event.target).closest('#payment{{order.id}}').length && !$(event.target).is('#payment{{order.id}}')) {
                            $("#payment{{order.id}}").modal('hide');
                        }
                        if(!$(event.target).closest('#new_depot_user').length && !$(event.target).is('#new_depot_user')) {
                            $("#new_depot_user").modal('hide');
                        }      
                    });
                </script>
                   
                                  
                {%endfor%}
            </tbody>
            </table>

</div>
</div>
</div>
</div>
    {%endblock%}