{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css"
        href="https://timothytakudzwa.github.io/static/datatable/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://timothytakudzwa.github.io/static/datatable/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://timothytakudzwa.github.io/static/datatable/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://timothytakudzwa.github.io/static/datatable/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://timothytakudzwa.github.io/static/datatable/css/style.css">
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

    <link href="{% static 'finder/assets/css/material-dashboard.css' %}" rel="stylesheet" />

    <title>Beautiful Tables</title>
</head>

<body class="">
    <div class="wrapper ">

        <div class="sidebar" data-color="purple" data-background-color="black"
            data-image="{% static 'finder/assets/img/sidebar-1.jpg' %}">
            <!--
              Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
      
              Tip 2: you can also add an image using data-image tag
          -->
            <div class="logo">
                <a href="{% url 'users:company_profile' %}" class="simple-text logo-normal">
                    <strong>{{request.user.company.name}}</strong>
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="nav-item {% if request.path == '/users/allocate/' %} active {% endif %}">

                        <a class="nav-link " href="{% url 'users:allocate' %}">
                            <i class="material-icons">confirmation_number</i>
                            <p>Fuel Allocations</p>
                        </a>
                    </li>
                    <li class="nav-item {% if request.path == '/users/suppliers/' %} active {% endif %}">
                        <a class="nav-link" href="{% url 'users:suppliers_list' %}">
                            <i class="material-icons">people</i>
                            <p>Service Station Staff</p>
                        </a>
                    </li>

                    <li class="nav-item {% if request.path == '/users/depot_staff/' %} active {% endif %}">
                        <a class="nav-link" href="{% url 'users:depot_staff' %}">
                            <i class="material-icons">people</i>
                            <p>Depot Staff</p>
                        </a>
                    </li>



                    <li class="nav-item {% if request.path == '/users/audit_trail/' %} active {% endif %}">
                        <a class="nav-link" href="{% url 'users:audit_trail' %}">
                            <i class="material-icons">account_balance</i>
                            <p>Audit Trail</p>
                        </a>
                    </li>

                    <li class="nav-item {% if request.path == '/users/stations/' %} active {% endif %}">

                        <a class="nav-link " href="{% url 'users:stations' %}">
                            <i class="material-icons">local_gas_station</i>
                            <p>Subsidiaries</p>
                        </a>
                    </li>

                    <li class="nav-item {% if request.path == '/users/statistics/' %} active {% endif %}">
                        <a class="nav-link" href="{% url 'users:statistics' %}">
                            <i class="material-icons">show_chart</i>
                            <p>Statistics</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href=" {% url 'users:report_generator' %}">
                            <i class="material-icons">calendar_today</i>
                            <p>Report Generator</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}?next=/">
                            <i class="material-icons">close</i>
                            <p>Logout</p>
                        </a>
                    </li>



                </ul>
            </div>
        </div>
        <div class="main-panel" style="margin-top: 0;">
            <div class="row">

                <div class="col-md-12">

                    {% if messages %}

                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" style="text-align: center">
                        {{ message }}
                    </div>
                    {% endfor %}

                    {% endif %}



                </div>



            </div>
            <main role="main" class="content" style="margin-top: 0;padding: 0;">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container" style="text-align: left;margin-left: 0;">
                        <h1 class="display-3">Report Generator</h1>
                        <hr class="my-2">

                    </div>
                    <p class="lead" style="padding-left: 15px;padding-top: 30px;">
                        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#report_modal" role="button"
                            style="color: white;">Generate Report</button>

                        <button class="btn btn-info btn-lg" data-toggle="modal" data-target="#trans_info_modal" role="button"
                            style="color: white;">View Quick Info</button>

                    </p>
                </div>
                <div class="modal fade" id="report_modal" role="dialog">
                    <div class="modal-dialog">


                        <div class="modal-content">
                            <div class="modal-header" style="background:#402d57e0">
                                <h4 class="modal-title" style="color:whitesmoke"> Generate Report</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body" style="background:#eeee">

                                <form method="POST" action="/users/report_generator/">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <select name="report_type" class="browser-default custom-select">
                                            <option selected>Transactions</option>
                                            <option value="Requests">Requests</option>
                                            <option value="Allocations">Stock</option>
                                            <option value="Allocations">Allocations</option>
                                            <option value="Allocations">Allocations</option>
                                            <option value="Allocations">Allocations</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Starting Date</label>
                                        <input name="start_date" type="date" class="form-control"
                                            id="exampleInputEmail1" aria-describedby="emailHelp"
                                            placeholder="Enter email">
                                        <small id="emailHelp" class="form-text text-muted">Please Pick A Starting
                                            Date.</small>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Ending Date</label>
                                        <input name="end_date" type="date" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="Enter email">
                                        <small id="emailHelp" class="form-text text-muted"
                                            style="color: lightslategray;">Please Pick A Ending Date.</small>
                                    </div>

                                    <input class="btn btn-info" type="submit" value="Submit">
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                {% if not trans and not requests and not allocations and not revs and not stock %}
                <div class="container" style="text-align: center;margin-top: 0px;margin-left: 90px;font-size: 1.5em;color: #5d5a5a;background-color: #e0e0e0;padding: 109px;
">No Data, Please Generate Report
                </div>
                {% endif %}

                {% if trans or requests or allocations or stock or revs %}
                <div
                    style="/* padding: 25px; */background-color:rgb(14, 80, 100);border: #fafbfb 2px solid;border-radius: 10px;padding-left: 15px;padding-top: 30px;padding-bottom: 30px;margin-left: 15px;margin-top: -89px;">
                    <h1 style="color: #fafafa;font-size: medium;">Show Results From {{start}} To {{end}} </h1>
                </div>
                {% endif %}
                {%if trans%}
                <div class="col-md-12">
                    <div class="card" style="background-color:white">

                        <div class="card-header card-header-primary">
                            <h4 class="card-title ">Transactions Report</h4>
                        </div>
                        <div class="card-body">
                            <div class="container-fluid">
                                <div class="row" style="margin-bottom: 20px;">


                                </div>
                                <table id="maintable" class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Buying Company</th>
                                            <th>Fuel Type</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for tran in trans %}
                                        <tr>
                                            <td>{{tran.date}} <small style="margin-left: 10px;">{{tran.time}}</small></td>
                                            <td>{{tran.buyer.company.name}}</td>
                                            <td>{{tran.offer.request.fuel_type|title}}</td>
                                            <td>{{tran.offer.quantity}}</td>
                                            <td>$ {{tran.offer.price|stringformat:".2f"}}</td>

                                            <td>
                                                {% if tran.is_complete %}
                                                <i class="material-icons" style="color: #2ecc71;">check_circle</i>
                                                {% else %}
                                                <i class="material-icons" style="color: #e74c3c;">report</i>
                                                {% endif %}
                                            </td>

                                        </tr>

                                        {% endfor %}
                                    </tbody>
                                    <tfoot style="background-color: #c0c0c0; color: #ffffff; font-size: 0.9em; ">
                                        <tr>
                                                <th>Date</th>
                                                <th>Buying Company</th>
                                                <th>Fuel Type</th>
                                                <th>Quantity</th>
                                                <th>Price</th>
                                                <th>Status</th>
                                        </tr>
                                    </tfoot>
                                </table>
                                <!-- <table id="example" class="table table-striped table-bordered" style="width:100%">
                                    <thead style="color:white; background:lightslategray">
                                        <th style="color:white;">
                                            Date
                                        </th>
                                        <th style="color:white;">
                                            Time
                                        </th>
                                        <th style="color:white;">
                                            Buyer
                                        </th>
                                        <th style="color:white;">
                                            Status
                                        </th>


                                    <tbody>
                                        {% for tran in trans %}
                                        <tr>
                                            <td>{{tran.date}}</td>
                                            <td>{{tran.time}}</td>
                                            <td>{{tran.buyer}}</td>
                                            <td>
                                                {% if tran.complete %}
                                                <i class="material-icons" style="color: #2ecc71;">check_circle</i>
                                                {% else %}
                                                <i class="material-icons" style="color: #e74c3c;">report</i>
                                                {% endif %}
                                            </td>

                                        </tr>

                                        {% endfor %}


                                    </tbody>
                                </table> -->

                            </div>
                        </div>
                    </div>

                </div>
                {%endif%}
                <!-- <table id="maintable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>City</th>
                            <th>Age</th>
                            <th>Start Date</th>
                            <th>Salary</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>System Architecture</td>
                            <td>Edinburgh</td>
                            <td>61</td>
                            <td>2011/04/25</td>
                            <td>$320,800</td>
                        </tr>

                        <tr>
                            <td> Harold Franklin</td>
                            <td> Financial Advisor</td>
                            <td> Tuwiri Wetan</td>
                            <td> 43</td>
                            <td> 06/18/2011</td>
                            <td> $159671.33</td>
                        </tr>

                    </tbody>
                    <tfoot style="background-color: #c0c0c0; color: #ffffff; font-size: 0.9em; ">
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>City</th>
                            <th>Age</th>
                            <th>Start Date</th>
                            <th>Salary</th>
                        </tr>
                    </tfoot>
                </table> -->
            </main>
        </div>

    </div>
    <script type="text/javascript"
        src="https://timothytakudzwa.github.io/static/datatable/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript"
        src="https://timothytakudzwa.github.io/static/datatable/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"
        src="https://timothytakudzwa.github.io/static/datatable/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://timothytakudzwa.github.io/static/datatable/js/jszip.min.js"></script>
    <script type="text/javascript" src="https://timothytakudzwa.github.io/static/datatable/js/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://timothytakudzwa.github.io/static/datatable/js/vfs_fonts.js"></script>
    <script type="text/javascript"
        src="https://timothytakudzwa.github.io/static/datatable/js/buttons.html5.min.js"></script>
    <script type="text/javascript"
        src="https://timothytakudzwa.github.io/static/datatable/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="https://timothytakudzwa.github.io/static/datatable/js/app.js"></script>
    <script type="text/javascript"
        src="https://timothytakudzwa.github.io/static/datatable/js/jquery.mark.min.js"></script>
    <script type="text/javascript"
        src="https://timothytakudzwa.github.io/static/datatable/js/datatables.mark.js"></script>
    <script type="text/javascript"
        src="https://timothytakudzwa.github.io/static/datatable/js/buttons.colVis.min.js"></script>
    <footer>For documentation and licensing visit <a href="https://datatables.net/">DataTables</a></footer>
</body>

</html>