{% extends "users/base.html" %}
{% block body %}

<div class="col-md-12">
    <div class="card" style="background-color:white">

        <div class="card-header card-header-primary">
            <h4 class="card-title ">{{request.user.company}} Subsidiaries </h4>
        </div>
        <div class="card-body">
            <div id="container" align="center">

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new_sub">Add Subsidiary
                </button>

            </div>


            <div class="modal fade" id="new_sub" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add Subsidiary </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            {% load crispy_forms_tags %}
                            <form action="{% url 'users:stations' %}" method="POST">
                                {% csrf_token %}

                                {{sub_create_form|crispy}}
                                <div class="form-group">
                                    <lable>Opening Time</lable>
                                    <input type="time" name="opening_time" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <lable>Closing Time</lable>
                                    <input type="time" name="closing_time" class="form-control" />
                                </div>



                        </div>
                        <div class="modal-footer row col-md-12">
                            <button class="btn btn-secondary" style="width:40%"
                                data-dismiss="modal">Close</button><button style="width: 50%;" class="btn btn-primary"
                                type="submit">Add</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <div class="container-fluid">
                {% if stations %}

                <table id="example" class="table table-striped" style="width:100%">
                    <thead style="color:white; background:lightslategray">
                        <th style="color:white;">
                            Name
                        </th>

                        <th style="color:white;">
                            Type
                        </th>

                        <th style="color:white;">
                            Location
                        </th>
                        <th style="color:white;">
                                Bank
                            </th>
                            <th style="color:white;">
                                 Account
                                </th>
                        <th style="color:white;">
                            Opens
                        </th>
                        <th style="color:white;">
                            Closes
                        </th>
                        <th style="color:white;">
                            Action
                        </th>
                    <tbody>
                        {% for station in stations %}
                        <tr>
                            <td>{{station.name}}</td>
                            {% if station.is_depot == False %}
                            <td>Service Station</td>
                            {% else  %}
                            <td>Depot</td>
                            {% endif %}
                            <td>{{station.address}}</td>
                            <td>{{station.destination_bank}}</td>
                            <td>{{station.account_number}}</td>
                            <td>{{station.opening_time}}</td>
                            <td>{{station.closing_time}}</td>

                            <td style="width: 33%;">
                                <div class="btn-group">
                                  
                                    <button class="btn btn-success btn-sm" data-toggle="modal"
                                        data-target="#edit_{{station.id}}">Edit</button>
                                    <button class="btn btn-warning btn-sm" data-toggle="modal"
                                        data-target="#delete_{{station.id}}">Delete</button>


                                </div>
                            </td>


                            <div class="modal fade" id="{{station.id}}" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">{{station.company}}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Subsidiary Name: {{station.name}}</p>
                                            <p>Location: {{station.address}}</p>
                                            <p>Is Depot: {{station.is_depot}}</p>
                                            <p>Opening Time: {{station.opening_time}}</p>
                                            <p>Closing Time: {{station.closing_time}}</p>




                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Supplier Edit Modal -->
                            <div class="modal fade" id="edit_{{station.id}}" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                            <h5 class="modal-title" id="exampleModalLabel">Edit {{station.name}}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{% url 'users:edit_subsidiary' station.id %}"
                                                method="POST">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <lable>Name</lable>
                                                    <input type="text" name="name" class="form-control" value="{{station.name}}" />
                                                </div>
                                               
                                                <div class="form-group">
                                                    <lable>Location</lable>
                                                    <input type="text" name="address" class="form-control" value="{{station.address}}" />
                                                </div>

                                                <div class="form-group">
                                                    <lable>Is Depot</lable>
                                                    <input type="text" name="is_depot" class="form-control" value="{{station.is_depot}}" />
                                                </div>
                                                
                                                <div class="form-group">
                                                    <lable>Opening Time</lable>
                                                    <input type="time"  name="opening_time"  value="{{station.opening_time}}" class="form-control" />
                                                </div>

                                                <div class="form-group">
                                                    <lable>Closing Time</lable>
                                                    <input type="time" name="closing_time" value="{{station.closing_time}}" class="form-control" />
                                                </div>

                                               
                                          
                                        </div>
                                        <div class="modal-footer">
                                                <div >
                                                    <button class="btn btn-success" data-dismiss="modal">No</button> <button type="submit" class="btn btn-primary ">Submit</button> 
                                                    </div>
                                                </form>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Supplier Delete Modal -->
                            <div class="modal fade" id="delete_{{station.id}}" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Delete {{station.name}}
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            {% load crispy_forms_tags %}
                                            <form action="{% url 'users:delete_subsidiary' station.id %}" method="POST">
                                                {{ delete_form }}
                                                {% csrf_token %}
                                                <p><b>Are You Sure You Want To Delete {{ station.name }}</b></p>

                                                <div class="modal-footer">
                                                    <div >
                                                            <button class="btn btn-secondary " data-dismiss="modal">No</button> <button class="btn btn-danger" type="submit">Yes</button>
                                                            
        
                                                        </div>
                                            </div>
                                                
                                            </form>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </tr>

                        {% endfor %}

                    </tbody>
                </table>
                {% else %}
                <p>Nothing To Show</p>
                {% endif %}
            </div>
        </div>
    </div>

</div>

{% endblock %}