{% extends "users/base.html" %}
{% block body %}

<div class="jumbotron jumbotron-fluid" style="margin-left: 30px;">
        <h1 class="display-4">Subsidiaries</h1>
      
      </div>

<div class="col-md-12">
    <div class="card" style="background-color:white">

        <div class="card-header card-header-primary">
            <h4 class="card-title ">{{request.user.company}} Subsidiaries </h4>
        </div>
        <div class="card-body">
            <div id="container" align="center">

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new_sub">Add Subsidiary
                </button>

            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script>
                    $(document).ready(function () {
                      $('#harare{{forloop.counter}}').show();
                      $('#bulawayo{{forloop.counter}}').hide();
                      $('#mutare{{forloop.counter}}').hide();
                      $('#gweru{{forloop.counter}}').hide();
                      $('#default_location').hide();

                     
                      $('#city{{forloop.counter}}').change(function () {
                        if ($('#city{{forloop.counter}} option:selected').text() == "Harare") {
                          $('#harare{{forloop.counter}}').show();
                          $('#bulawayo{{forloop.counter}}').hide();
                          $('#mutare{{forloop.counter}}').hide();
                          $('#gweru{{forloop.counter}}').hide();
                          $('#default_location').hide();
                          $('#bulawayo{{forloop.counter}} :input').prop('disabled',true);
                          $('#mutare{{forloop.counter}} :input').prop('disabled',true);
                          $('#gweru{{forloop.counter}} :input').prop('disabled',true);
                          $('#default_location :input').prop('disabled',true);
                          $('#harare{{forloop.counter}} :input').prop('disabled',false);
                          
                        }
                        else if ($('#city{{forloop.counter}} option:selected').text() == "Bulawayo") {
                          $('#harare{{forloop.counter}}').hide();
                          $('#mutare{{forloop.counter}}').hide();
                          $('#gweru{{forloop.counter}}').hide();
                          $('#default_location').hide();
                          $('#bulawayo{{forloop.counter}}').show();
                          $('#harare{{forloop.counter}} :input').prop('disabled',true);
                          $('#mutare{{forloop.counter}} :input').prop('disabled',true);
                          $('#gweru{{forloop.counter}} :input').prop('disabled',true);
                          $('#default_location :input').prop('disabled',true);
                          $('#bulawayo{{forloop.counter}} :input').prop('disabled',false);
                          
                        }
                        else if ($('#city{{forloop.counter}} option:selected').text() == "Mutare") {
                          $('#harare{{forloop.counter}}').hide();
                          $('#mutare{{forloop.counter}}').show();
                          $('#gweru{{forloop.counter}}').hide();
                          $('#default_location').hide();
                          $('#bulawayo{{forloop.counter}}').hide();
                          $('#harare{{forloop.counter}} :input').prop('disabled',true);
                          $('#mutare{{forloop.counter}} :input').prop('disabled',false);
                          $('#gweru{{forloop.counter}} :input').prop('disabled',true);
                          $('#default_location :input').prop('disabled',true);
                          $('#bulawayo{{forloop.counter}} :input').prop('disabled',true);
                          
                        }
                        else if ($('#city{{forloop.counter}} option:selected').text() == "Gweru") {
                          $('#harare{{forloop.counter}}').hide();
                          $('#mutare{{forloop.counter}}').hide();
                          $('#gweru{{forloop.counter}}').show();
                          $('#default_location').hide();
                          $('#bulawayo{{forloop.counter}}').hide();
                          $('#harare{{forloop.counter}} :input').prop('disabled',true);
                          $('#mutare{{forloop.counter}} :input').prop('disabled',true);
                          $('#gweru{{forloop.counter}} :input').prop('disabled',false);
                          $('#default_location :input').prop('disabled',true);
                          $('#bulawayo{{forloop.counter}} :input').prop('disabled',true);
                          
                        }
                        else {
                          $('#harare{{forloop.counter}}').hide();
                          $('#bulawayo{{forloop.counter}}').hide();
                          $('#mutare{{forloop.counter}}').hide();
                          $('#gweru{{forloop.counter}}').hide();
                          $('#default_location').show();
                          $('#harare{{forloop.counter}} :input').prop('disabled',true);
                          $('#bulawayo{{forloop.counter}} :input').prop('disabled',true);
                          $('#mutare{{forloop.counter}} :input').prop('disabled',true);
                          $('#gweru{{forloop.counter}} :input').prop('disabled',true);
                          $('#default_location :input').prop('disabled',false);
                          
                        }
                      });
                    });
                
                   
                  </script>

            <div class="modal fade" id="new_sub" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #9c27b0;color: white;">
                            <h5 class="modal-title" id="exampleModalLabel">Add Subsidiary </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            {% load crispy_forms_tags %}
                            <form action="{% url 'users:stations' %}" method="POST">
                                {% csrf_token %}

                                <div class="form-group">
                                        <lable>Name</lable>
                                        <input type="text" name="name" class="form-control" value=" " />
                                    </div>
                                   
                                   
                                    <div class="form-group" name="city" id="city{{forloop.counter}}">
                                            <label><b>City</b></label>
                                            <select class="form-control" name="city">
                                                {% for citi in zimbabwean_towns %}
                                                <option >{{citi}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
    

                                <div class="form-group" name="harare" id="harare{{forloop.counter}}">
                                        <label><b>Harare</b></label>
                                        <select class="form-control" name="location">
                                            {% for location in Harare %}
                                            <option >{{location}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                            <div class="form-group" name="bulawayo" id="bulawayo{{forloop.counter}}">
                                    <label><b>Bulawayo</b></label>
                                    <select class="form-control" name="location">
                                        {% for locationn in Bulawayo %}
                                        <option >{{locationn}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-group" name="mutare" id="mutare{{forloop.counter}}">
                                        <label><b>Mutare</b></label>
                                        <select class="form-control" name="location">
                                            {% for loc in Mutare %}
                                            <option >{{loc}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="form-group" name="gweru" id="gweru{{forloop.counter}}">
                                            <label><b>Gweru</b></label>
                                            <select class="form-control" name="location">
                                                {% for locationy in Bulawayo %}
                                                <option >{{locationy}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group" id="default_location">
                                                <lable>Location</lable>
                                                <input type="text" name="location" class="form-control" value=" " />
                                            </div>

                                    <div class="form-group">
                                            <lable>Bank</lable>
                                            <input type="text" name="destination_bank" class="form-control" value=" " />
                                        </div>
                                       
                                        <div class="form-group">
                                            <lable>Account</lable>
                                            <input type="text" name="account_number" class="form-control" value=" " />
                                        </div>

                                    <div class="form-group">
                                        <lable>Is Depot</lable>
                                        <input type="text" name="is_depot" class="form-control" value="False" />
                                    </div>
                                    
                                <div class="row">
                                        <div class="col-md-6">
                                          {{sub_create_form.cash|as_crispy_field}}
                                        </div>
                                        <div class="col-md-6">
                                          {{sub_create_form.usd|as_crispy_field}}
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-6">
                                          {{sub_create_form.swipe|as_crispy_field}}
                                        </div>
                                        <div class="col-md-6">
                                          {{sub_create_form.ecocash|as_crispy_field}}
                                        </div>
                                        </div>

                                 <div class="row">
                                <div class="form-group col-md-6">
                                    <lable>Opening Time</lable>
                                    <input type="time" name="opening_time" class="form-control" />
                                </div>
                                <div class="form-group col-md-6">
                                    <lable>Closing Time</lable>
                                    <input type="time" name="closing_time" class="form-control" />
                                </div>
                                </div>



                        </div>
                        <div class="modal-footer row col-md-12">
                            <button class="btn btn-secondary" style="width:40%"
                                data-dismiss="modal">Close</button><button style="width: 50%;" class="btn btn-primary"
                                type="submit">Add</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <div class="container-fluid">
                {% if stations %}

                <table id="example" class="table table-striped" style="width:100%">
                    <thead style="color:white; background:lightslategray">
                        <th style="color:white;">
                            Name
                        </th>

                        <th style="color:white;">
                            Type
                        </th>
                        <th style="color:white;">
                             City
                            </th>
                        <th style="color:white;">
                            Location
                        </th>
                        <th style="color:white;">
                                Bank
                            </th>
                            <th style="color:white;">
                                 Account
                                </th>
                        <th style="color:white;">
                            Opens
                        </th>
                        <th style="color:white;">
                            Closes
                        </th>
                        <th style="color:white;">
                            Action
                        </th>
                    <tbody>
                        {% for station in stations %}
                        <tr>
                            <td>{{station.name}}</td>
                            {% if station.is_depot == False %}
                            <td>Service Station</td>
                            {% else  %}
                            <td>Depot</td>
                            {% endif %}
                            <td>{{station.city}}</td>
                            <td>{{station.location}}</td>
                            <td>{{station.destination_bank}}</td>
                            <td>{{station.account_number}}</td>
                            <td>{{station.opening_time}}</td>
                            <td>{{station.closing_time}}</td>

                            <td style="width: 33%;">
                                <div class="btn-group">
                                  
                                    <button class="btn btn-success btn-sm" data-toggle="modal"
                                        data-target="#edit_{{station.id}}">Edit</button>
                                    <button class="btn btn-warning btn-sm" data-toggle="modal"
                                        data-target="#delete_{{station.id}}">Delete</button>


                                </div>
                            </td>


                            <div class="modal fade" id="{{station.id}}" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">{{station.company}}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Subsidiary Name: {{station.name}}</p>
                                            <p>Location: {{station.address}}</p>
                                            <p>Is Depot: {{station.is_depot}}</p>
                                            <p>Opening Time: {{station.opening_time}}</p>
                                            <p>Closing Time: {{station.closing_time}}</p>




                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Supplier Edit Modal -->
                            <div class="modal fade" id="edit_{{station.id}}" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header" style="background-color: #9c27b0;color: white;">

                                            <h5 class="modal-title" id="exampleModalLabel">Edit {{station.name}}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{% url 'users:edit_subsidiary' station.id %}"
                                                method="POST">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <lable>Name</lable>
                                                    <input type="text" name="name" class="form-control" value="{{station.name}}" />
                                                </div>
                                               
                                                <div class="form-group">
                                                    <lable>Location</lable>
                                                    <input type="text" name="address" class="form-control" value="{{station.address}}" />
                                                </div>

                                                <div class="form-group">
                                                    <lable>Is Depot</lable>
                                                    <input type="text" name="is_depot" class="form-control" value="{{station.is_depot}}" />
                                                </div>
                                                
                                                <div class="form-group">
                                                    <lable>Opening Time</lable>
                                                    <input type="time"  name="opening_time"  value="{{station.opening_time}}" class="form-control" />
                                                </div>

                                                <div class="form-group">
                                                    <lable>Closing Time</lable>
                                                    <input type="time" name="closing_time" value="{{station.closing_time}}" class="form-control" />
                                                </div>

                                               
                                          
                                        </div>
                                        <div class="modal-footer">
                                                <div >
                                                    <button class="btn btn-success" data-dismiss="modal">No</button> <button type="submit" class="btn btn-primary ">Submit</button> 
                                                    </div>
                                                </form>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Supplier Delete Modal -->
                            <div class="modal fade" id="delete_{{station.id}}" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header" style="background-color: #9c27b0;color: white;">
                                            <h5 class="modal-title" id="exampleModalLabel">Delete {{station.name|title}}
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            {% load crispy_forms_tags %}
                                            <form action="{% url 'users:delete_subsidiary' station.id %}" method="POST">
                                                {{ delete_form }}
                                                {% csrf_token %}
                                                <p><b>Are You Sure You Want To Delete {{ station.name }}</b></p>

                                                <div class="modal-footer">
                                                    <div >
                                                            <button class="btn btn-secondary " data-dismiss="modal">No</button> <button class="btn btn-danger" type="submit">Yes</button>
                                                            
        
                                                        </div>
                                            </div>
                                                
                                            </form>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </tr>

                        {% endfor %}

                    </tbody>
                </table>
                {% else %}
                <p>Nothing To Show</p>
                {% endif %}
            </div>
        </div>
    </div>

</div>

{% endblock %}