{% extends "users/base.html" %} 
{% block title %}Fuel Finder - sord sales {% endblock %} 
{% load humanize %}
{% block body %}
<section class="content-header">
    <form action="#" method="get" class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                  <button type="submit" name="search" id="search-btn" class="btn"><i class="fa fa-search"></i></button>
              </span>
        </div>
    </form>
    <!-- <div class="header-icon">
        <i class="fa fa-industry"></i>
    </div> -->
    <div class="header-title" style="margin-left: 0px;">

        <h1> Subsidiary Sales Audit Trail </h1>
        <small>Fuel Finder Zimbabwe</small>
        <ol class="breadcrumb hidden-xs">
            <li><a href="{% url 'users:allocate' %}"><i class="pe-7s-home"></i> Home</a></li>
            <li class="active">Sales Audit Trail</li>
        </ol>

    </div>

</section>
<section class="content">
    <div class="panel panel-bd lobidrag lobipanel lobipanel-sortable" data-inner-id="nMPzTfz4dU" data-index="0">
        <div class="panel-heading ui-sortable-handle">
            <div class="btn-group">
                <h4>Sord Sales</h4>
            </div>
            <div class="dropdown">
                <ul class="dropdown-menu dropdown-menu-right">


                </ul>
                <div class="dropdown-toggle" data-toggle="dropdown"><span class="panel-control-icon glyphicon glyphicon-cog"></span>
                </div>
            </div>
        </div>
        <div class="panel-body">

            {% if sord_sales %}
            <div class="table-responsive">
                <table id="sord_station_sales" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>
                                Subsidiary
                            </th>
                            <th>
                                Sord Num
                            </th>

                            <th>
                                Action Num
                            </th>
                            <th>
                                Action
                            </th>
                            <th>
                                Fuel Type
                            </th>
                            <th>
                                Payment
                            </th>
                            <th>
                                Initial Quantity
                            </th>
                            <th>
                                Quantity Sold
                            </th>
                            <th>
                                Balance
                            </th>


                            <th>
                                Received By
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sord in sord_sales%}
                        <tr>
                            <td>{{sord.date}}</td>
                            <td>{{sord.subsidiary.name}}</td>
                            <td>{{sord.sord_no}}</td>
                            <td>{{sord.action_no}}</td>
                            <td>{{sord.action}}</td>
                            <td>{{sord.fuel_type}}</td>
                            <td>{{sord.payment_type}}</td>
                            <td>{{sord.initial_quantity|intcomma}}</td>
                            <td>{{sord.quantity_sold|intcomma}}</td>
                            <td>{{sord.end_quantity|intcomma}}</td>
                            <td>{{sord.received_by}}</td>
                           

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <p>No Sales Available</p>
            {% endif %}


        </div>
    </div>
</section>

{% endblock %}