{% extends "users/base.html" %}
{% block body %}
<div class="jumbotron col-md-12" style="background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);color: white;">
    <h1 class="display-3">Statistics </h1>
    
    <hr class="my-2">
    

</div>
<div class="container-fluid">
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats" style="height: 180px;">
        <div class="card-header card-header-warning card-header-icon">
          <div class="card-icon">
            <i class="material-icons">local_gas_station</i>
          </div>
          <p class="card-category">Current Stock</p>
          <h3 class="card-title" style="font-size: 1em;">Diesel : {{diesel}}
            <small>L</small>
          </h3>
          <h3 class="card-title" style="font-size: 1em;">Petrol : {{petrol}}
            <small>L</small>
          </h3>
        </div>
        <div class="card-footer">
          <div class="stats">
          {% if not diesel and petrol %}  
            <i class="material-icons text-danger">warning</i>
            <a href="#pablo">Get More Diesel...</a>
          {% elif not petrol and diesel %}  
            <i class="material-icons text-danger">warning</i>
            <a href="#pablo">Get More Petrol...</a>
          {% elif not petrol and not diesel %}
            <i class="material-icons text-danger">warning</i>
            <a href="#pablo">Get More stock...</a>
          {% else %}
            <i class="material-icons text-success">alarm_on</i>
            <a href="#pablo">Stock Levels Adequate...</a>
          {% endif %}    
          </div>
        </div>
        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#stock_report" style="position: absolute;right:    0;
        bottom:   0;margin: 0 auto;display: block; color: #999999; background-color: white;">
            <i class="material-icons">calendar_today</i>
          Generate Report
        </button>
      </div>
    </div>
    <div class="modal fade" id="stock_report" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content" style="max-width: 66%;">
            <div class="modal-header" style="background-color: #731d82;">
                <h5 class="modal-title" id="exampleModalLabel" style="color: white;">Generate Stock Report </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form method="POST" action="{% url 'users:report_generator' %}">
                  {% csrf_token %}
                    <div class="form-group">
                        
                        <input type="hidden" name="report_type" value="Stock">   
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Starting Date</label>
                        <input name="start_date" type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted" style="color: lightslategray;">Please Pick A Starting Date.</small>
                      </div>

                      <div class="form-group">
                        <label for="exampleInputEmail1">Ending Date</label>
                        <input name="end_date" type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted" style="color: lightslategray;">Please Pick A Ending Date.</small>
                      </div>  
                  <button type="submit" class="btn btn-primary btn-sm" style="color: whitesmoke;">
                    Submit
                  </button>
                </form>
            </div>
          </div>
        </div>
      </div>   

    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats" style="height: 180px;">
        <div class="card-header card-header-success card-header-icon">
          <div class="card-icon">
            <i class="material-icons">store</i>
          </div>
          <p class="card-category">Revenue</p>
          <h3 class="card-title" style="font-size: 1em;"> {{revenue}}</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">attach_money</i> Overall
          </div>

          
        </div>
        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#revenue_report" style="position: absolute;right:    0;
        bottom:   0;margin: 0 auto;display: block; color: #999999; background-color: white;">
            <i class="material-icons">calendar_today</i>
          Generate Report
        </button>
        
      </div>
    </div>

      
      <div class="modal fade" id="revenue_report" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content" style="max-width: 66%;">
              <div class="modal-header" style="background-color: #731d82;">
                  <h5 class="modal-title" id="exampleModalLabel" style="color: white;">Generate Revenue Report </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{% url 'users:report_generator' %}">

                        {% csrf_token %}
                        <div class="form-group">
                            
                            <input type="hidden" name="report_type" value="Revenue">   
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Starting Date</label>
                            <input name="start_date" type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted" style="color: lightslategray;">Please Pick A Starting Date.</small>
                          </div>
    
                          <div class="form-group">
                            <label for="exampleInputEmail1">Ending Date</label>
                            <input name="end_date" type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted" style="color: lightslategray;">Please Pick A Ending Date.</small>
                          </div>  
                      <button type="submit" class="btn btn-primary btn-sm" style="color: whitesmoke;">
                        Submit
                      </button>
                    </form>
              </div>
            </div>
          </div>
        </div>          
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats" style="height: 180px;">
        <div class="card-header card-header-danger card-header-icon">
          <div class="card-icon">
            <i class="material-icons">info_outline</i>
          </div>
          <p class="card-category">Complaints/ Issues</p>
          <h3 class="card-title" style="font-size: 1em;">0</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">date_range</i> Last 24 Hours
          </div>
        </div>
        <!--
        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#complaints_report" style="position: absolute;right:    0;
        bottom:   0;margin: 0 auto;display: block; color: #999999; background-color: white;">
            <i class="material-icons">calendar_today</i>
          Generate Report
        </button>
        -->

      </div>
      
      <div class="modal fade" id="complaints_report" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content" style="max-width: 66%;">
              <div class="modal-header" style="background-color: #731d82;">
                  <h5 class="modal-title" id="exampleModalLabel" style="color: white;">Generate Complaints Report </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                      <div class="form-group">
                          
                          <input type="hidden" name="report_type" value="Complaints">   
                      </div>
                      <div class="form-group">
                          <label for="exampleInputEmail1">Starting Date</label>
                          <input name="start_date" type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                          <small id="emailHelp" class="form-text text-muted" style="color: lightslategray;">Please Pick A Starting Date.</small>
                        </div>

                        <div class="form-group">
                          <label for="exampleInputEmail1">Ending Date</label>
                          <input name="end_date" type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                          <small id="emailHelp" class="form-text text-muted" style="color: lightslategray;">Please Pick A Ending Date.</small>
                        </div>  
                    <button type="submit" class="btn btn-primary btn-sm" style="color: whitesmoke;">
                      Submit
                    </button>
                  </form>
              </div>
            </div>
          </div>
        </div> 
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats" style="height: 180px;">
        <div class="card-header card-header-info card-header-icon">
          <div class="card-icon">
            <i class="fa fa-bell"></i>
          </div>
          <p class="card-category">New Requests</p>
          <h3 class="card-title" style="font-size: 1em;">{{new_orders}}</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">date_range</i> Last 24 Hours
          </div>
        </div>
        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#request_report" style="position: absolute;right:    0;
        bottom:   0;margin: 0 auto;display: block; color: #999999; background-color: white;">
            <i class="material-icons">calendar_today</i>
          Generate Report
        </button>
      </div>
    </div>
    <div class="modal fade" id="request_report" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content" style="max-width: 66%;">
            <div class="modal-header" style="background-color: #731d82;">
                <h5 class="modal-title" id="exampleModalLabel" style="color: white;">Generate Requests Report </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form  method="POST" action="{% url 'users:report_generator' %}">
                  {% csrf_token %}
                    <div class="form-group">
                        
                        <input type="hidden" name="report_type" value="Requests">   
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Starting Date</label>
                        <input name="start_date" type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted" style="color: lightslategray;">Please Pick A Starting Date.</small>
                      </div>

                      <div class="form-group">
                        <label for="exampleInputEmail1">Ending Date</label>
                        <input name="end_date" type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted" style="color: lightslategray;">Please Pick A Ending Date.</small>
                      </div>  
                  <button type="submit" class="btn btn-primary btn-sm" style="color: whitesmoke;">
                    Submit
                  </button>
                </form>
            </div>
          </div>
        </div>
      </div> 
  </div>
  <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats" style="height: 180px;">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon" style="
            background: linear-gradient(60deg, #ff2626, #b763cc);
        ">
              <i class="material-icons">people</i>
            </div>
            <p class="card-category">Current Staff</p>
            <h3 class="card-title" style="font-size: 1em;">Depots : {{admin_staff}}
              
            </h3>
            <h3 class="card-title" style="font-size: 1em;">Stations : {{other_staff}}
              
            </h3>
          </div>
          <div class="card-footer">
            
          </div>
          <!--
          <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#staff_report" style="position: absolute;right:    0;
          bottom:   0;margin: 0 auto;display: block; color: #999999; background-color: white;">
              <i class="material-icons">calendar_today</i>
            Generate Report
          </button>
          -->
        </div>
      </div>
      <div class="modal fade" id="staff_report" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content" style="max-width: 66%;">
              <div class="modal-header" style="background-color: #731d82;">
                  <h5 class="modal-title" id="exampleModalLabel" style="color: white;">Generate Staff Report </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                      <div class="form-group">
                          
                          <input type="hidden" name="report_type" value="Revenue">   
                      </div>
                      <div class="form-group">
                          <label for="exampleInputEmail1">Starting Date</label>
                          <input name="start_date" type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                          <small id="emailHelp" class="form-text text-muted" style="color: lightslategray;">Please Pick A Starting Date.</small>
                        </div>
  
                        <div class="form-group">
                          <label for="exampleInputEmail1">Ending Date</label>
                          <input name="end_date" type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                          <small id="emailHelp" class="form-text text-muted" style="color: lightslategray;">Please Pick A Ending Date.</small>
                        </div>  
                    <button type="submit" class="btn btn-primary btn-sm" style="color: whitesmoke;">
                      Submit
                    </button>
                  </form>
              </div>
            </div>
          </div>
        </div>   
  
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats" style="height: 180px;">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon" style="background: linear-gradient(60deg, #c6f554, #20a937);">
              <i class="material-icons">store</i>
            </div>
            <p class="card-category">Orders Fulfilled</p>
            <h3 class="card-title" style="font-size: 1em;"> {{trans_complete}}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">attach_money</i> Overall
            </div>
  
            
          </div>
          <!--
          <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#revenue_report" style="position: absolute;right:    0;
          bottom:   0;margin: 0 auto;display: block; color: #999999; background-color: white;">
              <i class="material-icons">calendar_today</i>
            Generate Report
          </button>
          -->
        </div>
      </div>
  
        
        <div class="modal fade" id="" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content" style="max-width: 66%;">
                <div class="modal-header" style="background-color: #731d82;">
                    <h5 class="modal-title" id="exampleModalLabel" style="color: white;">Generate Revenue Report </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>
                        <div class="form-group">
                            
                            <input type="hidden" name="report_type" value="Revenue">   
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Starting Date</label>
                            <input name="start_date" type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted" style="color: lightslategray;">Please Pick A Starting Date.</small>
                          </div>
  
                          <div class="form-group">
                            <label for="exampleInputEmail1">Ending Date</label>
                            <input name="end_date" type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted" style="color: lightslategray;">Please Pick A Ending Date.</small>
                          </div>  
                      <button type="submit" class="btn btn-primary btn-sm" style="color: whitesmoke;">
                        Submit
                      </button>
                    </form>
                </div>
              </div>
            </div>
          </div>          
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats" style="height: 180px;">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon" style="background: linear-gradient(60deg, #9ccdff, #4c44da);">
              <i class="material-icons">info_outline</i>
            </div>
            <p class="card-category">Our Offers</p>
            <h3 class="card-title" style="font-size: 1em;">{{ offers }}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i> Last 24 Hours
            </div>
          </div>
          <!--
          <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#offers_report" style="position: absolute;right:    0;
          bottom:   0;margin: 0 auto;display: block; color: #999999; background-color: white;">
              <i class="material-icons">calendar_today</i>
            Generate Report
          </button>
          -->
        </div>
        
        <div class="modal fade" id="offers_report" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content" style="max-width: 66%;">
                <div class="modal-header" style="background-color: #731d82;">
                    <h5 class="modal-title" id="exampleModalLabel" style="color: white;">Generate Offers Report </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>
                        <div class="form-group">
                            
                            <input type="hidden" name="report_type" value="Complaints">   
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Starting Date</label>
                            <input name="start_date" type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted" style="color: lightslategray;">Please Pick A Starting Date.</small>
                          </div>
  
                          <div class="form-group">
                            <label for="exampleInputEmail1">Ending Date</label>
                            <input name="end_date" type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted" style="color: lightslategray;">Please Pick A Ending Date.</small>
                          </div>  
                      <button type="submit" class="btn btn-primary btn-sm" style="color: whitesmoke;">
                        Submit
                      </button>
                    </form>
                </div>
              </div>
            </div>
          </div> 
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats" style="height: 180px;">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon" style="background: linear-gradient(60deg, #ff9cee, #ca44da);">
              <i class="fa fa-bell"></i>
            </div>
            <p class="card-category">Requests</p>
            <h3 class="card-title" style="font-size: 1em;">SELF COLLECTION : {{bulk_requests}}</h3>
            <h3 class="card-title" style="font-size: 1em;">DELIVERY : {{normal_requests}} </h3>

          </div>
          <div class="card-footer">
            <div class="stats">
             <!-- <i class="material-icons">date_range</i> Last 24 Hours -->
            </div>
          </div>
          <!--
          <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#ss_request_report" style="position: absolute;right:    0;
          bottom:   0;margin: 0 auto;display: block; color: #999999; background-color: white;">
              <i class="material-icons">calendar_today</i>
            Generate Report
          </button>
          -->
        </div>
      </div>
      <div class="modal fade" id="ss_request_report" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content" style="max-width: 66%;">
              <div class="modal-header" style="background-color: #731d82;">
                  <h5 class="modal-title" id="exampleModalLabel" style="color: white;">Generate Requests Report </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                      <div class="form-group">
                          <select name="report_type" class="browser-default custom-select">
                              <option selected>Bulk</option>
                              <option value="Requests">Regular</option>
                              
                          </select>
                          
                          <input type="hidden" name="report_type" value="Requests">   
                      </div>
                      <div class="form-group">
                          <label for="exampleInputEmail1">Starting Date</label>
                          <input name="start_date" type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                          <small id="emailHelp" class="form-text text-muted" style="color: lightslategray;">Please Pick A Starting Date.</small>
                        </div>
  
                        <div class="form-group">
                          <label for="exampleInputEmail1">Ending Date</label>
                          <input name="end_date" type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                          <small id="emailHelp" class="form-text text-muted" style="color: lightslategray;">Please Pick A Ending Date.</small>
                        </div>  
                    <button type="submit" class="btn btn-primary btn-sm" style="color: whitesmoke;">
                      Submit
                    </button>
                  </form>
              </div>
            </div>
          </div>
        </div> 
    </div>  

</div>



<!---->




<div class="row" >
  <!--
  <div class="card border-success mb-3" style="max-width: 10rem;/* padding-top: 30px; */height: 10rem;margin-left: 10px;background-color:#92c9ff; text-align: center;color: gray;">
      <div class="card-body text-success">
        <h5 class="card-title" style="font-size: 1em;">Staff  </h5>
        <p class="card-text" style="font-size: 2rem;margin-top: 53px;color: white;">{{staff_pop}}</p>
      </div>
      <div class="card-footer bg-transparent border-success"></div>
    </div>
  
    <div class="card border-success mb-3" style="max-width: 10rem;/* padding-top: 30px; */height: 10rem;margin-left: 10px;background-color: #3eeaff;text-align: center;color: gray;">
      <div class="card-body text-success">
        <h5 class="card-title" style="font-size: 1em;">Orders Fulfilled </h5>
        <p class="card-text" style="font-size: 2rem;margin-top: 53px;color: white;">{{trans}}</p>
      </div>
      <div class="card-footer bg-transparent border-success"></div>
    </div>  

     
  <div class="card border-success mb-3" style="max-width: 10rem;/* padding-top: 30px; */height: 10rem;margin-left: 10px;background-color: #1fc1d5;text-align: center;color: gray;">
      <div class="card-body text-success">
        <h5 class="card-title" style="font-size: 1em;">No. of Offers </h5>
        <p class="card-text" style="font-size: 2rem;margin-top: 53px;color: white;">{{ offers }}</p>
      </div>
      <div class="card-footer bg-transparent border-success"></div>
    </div>

    <div class="card border-success mb-3" style="max-width: 10rem;/* padding-top: 30px; */height: 10rem;margin-left: 10px;background-color: #57b7c3;text-align: center;color: gray;">
      <div class="card-body text-success">
        <h5 class="card-title" style="font-size: 1em;">Bulk Requests</h5>
        <p class="card-text" style="font-size: 2rem;margin-top: 53px;color: white;">{{bulk_requests}}</p>
      </div>
      <div class="card-footer bg-transparent border-success"></div>
    </div>

    <div class="card border-success mb-3" style="max-width: 10rem;/* padding-top: 30px; */height: 10rem;margin-left: 10px;background-color: #1fc1d5;text-align: center;color: gray;">
      <div class="card-body text-success">
        <h5 class="card-title" style="font-size: 1em;">Regular Reguests</h5>
        <p class="card-text" style="font-size: 2rem;margin-top: 53px;color: white;">{{normal_requests}}</p>
      </div>
      <div class="card-footer bg-transparent border-success"></div>
    </div>

    <div class="card border-success mb-3" style="max-width: 10rem;/* padding-top: 30px; */height: 10rem;margin-left: 10px;background-color:#81bcc3;text-align: center;color: gray;">
      <div class="card-body text-success">
        <h5 class="card-title" style="font-size: 1em;">Rating</h5>
        <p class="card-text" style="font-size: 2rem;margin-top: 53px;color: white;">{{rating}} <span class="material-icons">
          stars
        </span></p>
      </div>
      <div class="card-footer bg-transparent border-success"></div>
    </div>
  -->
    <div class="col-md-12">
      <div class="card" style="background-color:white">
          
          <div class="card-header card-header-primary">
          <h4 class="card-title ">Top Clients</h4>
          </div>
      <div class="card-body">
          <div class="container-fluid">
              {% if clients %}
  
              <table id="example" class="table table-striped table-bordered" style="width:100%">
                  <thead style="color:white; background:lightslategray">
                      <th style="color:white;">
                          Name
                         </th>
                         
                         <th style="color:white;">
                            Address 
                           </th>
                          
                             <th style="color:white;">
                              Industry
                             </th>
                           <th style="color:white;">
                              Total Value 
                             </th>
                           <th style="color:white;">
                             No Of Transactions
                            </th>
                            <th style="color:white;">
                              
                             </th>
                            <!--
                            <th style="color:white;">
                            
                          </th>
                        -->
                  </thead>    
                     <tbody>
                         {% for client in clients %}
                         <tr>
                             <td>{{client.company.name}}</td>
                             
                             <td>{{client.company.address}}</td>
                             <td>{{client.company.industry}}</td>
                             <td>{{client.total_value}}</td>
                             <td>{{client.number_of_trans}}</td>
                             
                             <td style="width: 13%;">
                                 <div>
                                      <a href="{% url  'users:client_history' client.id %}" class="btn btn-primary btn-sm" >View History</a>  
                                      
  
                                 </div>
                              </td>
                         </tr>
                        
                         {% endfor %}   

                     </tbody>   
              </table>         
              {% else %}
              <p>No Sales Yet To Report</p>    
              {% endif %}
          </div>
      </div>
      </div>
      
  </div>

  <div class="col-md-12">
      <div class="card" style="background-color:white">
          
          <div class="card-header card-header-primary">
          <h4 class="card-title ">Subsidiaries</h4>
          </div>
      <div class="card-body">
          <div class="container-fluid">
              {% if sorted_subs %}
  
              <table id="subs_table" class="table table-striped table-bordered" style="width:100%">
                  <thead style="color:white; background:lightslategray">
                      <th style="color:white;">
                          Name
                         </th>
                         
                         <th style="color:white;">
                            Address 
                           </th>
                          
                           <th style="color:white;">
                              Total Value 
                             </th>
                           <th style="color:white;">
                             No Of Transactions
                            </th>
                            <th style="color:white;">
                              
                             </th>
                            <!--
                            <th style="color:white;">
                            
                          </th>
                        -->
                  </thead>    
                     <tbody>
                         {% for sub in sorted_subs %}
                          {% if sub.tran_value > 0 %}
                            <tr>
                                <td>{{sub.name}}</td>
                                
                                <td>{{sub.location}}</td>
                                <td>$ {{sub.tran_value|stringformat:".2f"}}</td>
                                <td>{{sub.tran_count}}</td>
                                
                                <td style="width: 13%;">
                                    <div>
                                          <a href="{% url  'users:subsidiary_transaction_history' sub.id %}" class="btn btn-primary btn-sm" >View History</a>  
                                          
      
                                    </div>
                                  </td>
                            </tr>
                          {% endif %}  
                        
                         {% endfor %}   

                     </tbody>   
              </table>         
              {% else %}
              <p>No Sales Yet To Report</p>    
              {% endif %}
          </div>
      </div>
      </div>
      
  </div>
    
</div> 

  <div class="ct-chart ct-perfect-fourth"></div>

<script>


</script>
  



<script>
    var data = {
        series: [5, 3, 4]
        };

        var sum = function(a, b) { return a + b };

        new Chartist.Pie('.ct-chart', data, {
        labelInterpolationFnc: function(value) {
            return Math.round(value / data.series.reduce(sum) * 100) + '%';
        }
        });
</script>




{% endblock %}