<div class="modal fade modal-xl" id="generic_request" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-notice">
    <div class="modal-content">
        <div class="modal-header" style="background-color: rgb(55, 71, 103);color: white;">
            <span class="modal-title" id="exampleModalLongTitle">Create New Request</span>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form method="POST" action="{% url 'buyer-dashboard' %}">
                {% csrf_token %}
                <div class="row col-sm-12">
                    <div class="col-sm-6">
                        {{ form.fuel_type|as_crispy_field }}
                    </div>

                    <div class=" col-sm-6">
                        {{ form.amount|as_crispy_field }}
                    </div>
                </div>

                <div class="col-sm-12 row">

                    <div class="col-sm-6">
                        <label class="form-group">Select Payment Method</label>
                        <select class="form-control" name="fuel_payment_method">
                            <option value="USD">USD</option>
                            <option value="RTGS">RTGS</option>
                            <option value="USD & RTGS">Either</option>
                        </select>

                    </div>
                    <div class="col-sm-6">
                        <label class="form-group">Pick Up Method</label>
                        <select id="delivery_method{{forloop.counter}}"
                            name="delivery_method" class="form-control">
                            <option value='SELF COLLECTION'>Self Collection</option>
                            <option value='DELIVERY'>Delivery</option>
                        </select>
                    </div>

                </div>
                <div class="form-group" name='choices' id='choices{{forloop.counter}}'>
                    <label>Delivery Address</label>
                    <div class="row form-group">
                        <div class="togglebutton form-group col-sm-4">
                            <label for="">Street Number</label>
                            <input type="text" class="form-control" name="s_number" id=""
                                aria-describedby="helpId" placeholder="">

                        </div>
                        <div class="togglebutton form-group col-sm-4">
                            <label for="">Street Name</label>
                            <input type="text" class="form-control" name="s_name" id=""
                                aria-describedby="helpId" placeholder="">

                        </div>
                        <div class="togglebutton form-group col-sm-4">
                            <label for="">Location/Town</label>
                            <input type="text" class="form-control" name="s_town" id=""
                                aria-describedby="helpId" placeholder="">

                        </div>

                    </div>

                    {{ form.storage_tanks|as_crispy_field }}
                    <br>
                    <label>Required Equipments</label>
                    <div class="row">
                        <div class="col-sm-4">
                            <input class="form-control-md" type="checkbox" value='False'
                                id="pump_required" name="pump_required">
                            <label for="pump_required">Pump </label>

                        </div>
                        <div class="col-sm-4">
                            <input class="form-control-md" type="checkbox" value="False"
                                id="dipping_stick_required" name="dipping_stick_required">
                            <label for="dipping_stick_required">Dipping Stick </label>
                        </div>

                        <div class="col-sm-4">
                            <input class="form-control-md" type="checkbox" value="False"
                                id="meter_required" name="meter_required">
                            <label for="meter_required">Meter</label>
                        </div>
                    </div>
                </div>
             
     
       
       
    </div>
    <div class="modal-footer justify-content-left">
        <br>
        <br>
        <br>
        <div>
            <button type="submit" name="WaitForOffer" class="btn btn-info btn-sm">Wait
                for
                Offer</button>
            <button type="submit" name='Recommender'
                class="btn btn-primary btn-sm">System
                Generated</button>
        </div>
    </div>
    </div>
    </form>
</div>
</div>