{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Orders {{request.company.name}} Summary</title>

    <style>
        @page {size: a3 landscape;}
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
        .first {
            width: 50%;
            float:left;
            font-size: 12px;

        }
        .wrapper {
            width: 100%;
            margin: auto;
            padding: 10px;
            overflow: hidden;
        }
        .text-muted{
            color:#6c757d!important;
        }
    </style>

</head>
<body>


<h3 style="text-align: center;">Orders Statement - {{ date }}</h3>

{% if accepted_orders %}
<h6 style="padding-top: 20px;">Accepted Orders</h6>

<table style="padding-top: 20px; margin-bottom: 30px;">
    <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Depot</th>
        <th>Fuel</th>
        <th>Quantity</th>
        <th>Currency</th>
        <th>Payment</th>
        <th>Proof of Payment</th>
        <th>Status</th>
        <th>Release Note</th>
        <th>Delivery Note</th>
    </tr>

    {% for order in accepted_orders %}
    <tr>
        <td>{{ order.date }}</td>
        <td>{{ order.time }}</td>
        <td>{{ order.noic_depot.name }}</td>

        {% if order.fuel_type == 'Petrol'  %}
            <td style="color: #009688;">{{ order.fuel_type|lower|capfirst }}</td>
        {% elif order.fuel_type == 'Diesel' %}
            <td style="color: #ffb61e;">{{ order.fuel_type|lower|capfirst }}</td>
        {% else %}    
            <td>{{ order.fuel_type|lower|capfirst }}</td>
        {% endif %}    

        {% if order.fuel_type == 'Petrol'  %}
        <td style="color: #009688;">{{ order.quantity|floatformat:2|intcomma }}</td>
        {% elif order.fuel_type == 'Diesel' %}
        <td style="color: #ffb61e;">{{ order.quantity|floatformat:2|intcomma }}</td>
        {% else %}
        <td>{{ order.quantity|floatformat:2|intcomma }}</td>
        {% endif %}    



        <td>{{ order.currency}}</td> 
        <td>

            <!--call modal-->

            <button class="btn btn-primary btn-sm btn-labeled m-b-5" data-toggle="modal" data-target="#payment{{order.id}}" type="button">
                <span class="btn-label"><i class="fa fa-eye"></i></span>Details
            </button>
            <!--view details-->
          



            <div class="modal fade modal-success in" id="payment{{order.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document" style="margin: 0;">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #009688; color: white">
                            <span class="modal-title" id="exampleModalLabel">Payment Details</span>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% csrf_token %}
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label><b> Fuel Type:</b></label>
                                    
                                    {% if  order.fuel_type == 'Diesel' %}
                                        <b style="color: #009688;">{{order.fuel_type}}</b>
                                    {% elif order.fuel_type == 'Petrol' %}
                                        <b style="color: #ffb61e;">{{order.fuel_type}}</b>
                                    {% else %}    
                                        <b>{{order.fuel_type}}</b>
                                    {% endif %}    

                                </div>
                                <div class="form-group col-md-6">
                                    <label><b>Price:</b></label>
                                    &nbsp;$24
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label><b> Sub Total:</b></label>
                                    &nbsp;${{order.amount_paid}}
                                </div>
                                <div class="form-group col-md-6">
                                    <label><b>Duty:</b></label>
                                    &nbsp;${{order.duty}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label><b> Vat:</b></label>
                                    &nbsp;${{order.vat}}
                                </div>
                                <div class="form-group col-md-6">
                                    <label><b>Quantiy:</b></label>
                                    &nbsp;{{order.quantity}}L
                                </div>
                            </div>
                            
                            
                        </div>
                        <div class="modal-footer">  
                            <button class="btn btn-default" data-dismiss="modal" >Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </td>

       
        <td>
            <div class="btn-group">
                <!-- <a class="btn btn-primary btn-sm" style="color: whitesmoke;"  > <i class="fa fa-download" style="font-size:20px"></i> Payment Proof</a> -->
                <a  href="{% url 'users:download_proof' order.id %}" class="btn btn-primary btn-sm btn-labeled m-b-5" type="button">
                    <span class="btn-label"><i class="fa fa-download"></i></span> Proof of Payment
                </a>
            </div>
            </td>
       
        <td {% if order.status == 'Accepted' %} style="color: #07a513;" {% else %} style="color: crimson;" {% endif %}>
        {{order.status}}</td>
        
        {% if order.allocation != None %}
                {% if order.allocation.release_note %}
                <td>
                    <div class="btn-group">
                       
                        <a  href="{% url 'users:view_release_note' order.allocation.id %}" class="btn btn-primary btn-sm btn-labeled m-b-5" type="button">
                            <span class="btn-label"><i class="fa fa-download"></i></span> Download Release Note
                        </a>
                    </div>
                    
                </td> 
                {% else %}
                <td>
                    
                  Pending
                   
                </td>
                {% endif %}

        {% else %}
        <td>
            Allocation Pending
         </td>
         {% endif %}

         {% if order.allocation != None %}
                {% if order.allocation.d_note %}
                <td><i style="color: blue;">Uploaded</i></td>
               
                {% else %}
                <td>
                    <div class="btn-group">
                       
                        <a  data-toggle="modal" data-target="#upload_{{order.allocation.id}}" class="btn btn-warning btn-sm btn-labeled m-b-5" type="button">
                            <span class="btn-label"><i class="fa fa-upload"></i></span> Upload D-Note
                        </a>
                    </div>

                 </td>
                <!--Upload Document-->
                <div class="modal fade modal-sucess in" id="upload_{{order.allocation.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document" style="margin: 0;">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #009688; color: white">
                                <span class="modal-title" id="exampleModalLabel">Upload Delivery Note</span>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                               
                                <form method="POST" action="{% url 'users:delivery_note' order.allocation.id %}" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row" style="margin-left: 25px;margin-top: 30px;border: #eaeaea 2px solid;margin-right: 40px;padding-top: 15px;border-radius: 15px;">
                                        <div class="form-group col-md-6">
                                            <i class="fa fa-upload" aria-hidden="true"></i>
                                            <label for="">Select D-Note File</label>
                                        </div>    

                                        <div class="form-group col-md-6">
                                        <input type="file" accept=".pdf, .doc,.docx, .jpeg, .png, .jpg" name="d_note" class="form-control-file" id="exampleFormControlFile1" required>
                                        </div>
                                    </div>    
                                    <br>

                                    <!-- <p style="text-align: center;"><input class="btn btn-info" type="submit" value="Upload"></p> -->
                                    <div class="modal-footer">  
                                        <button type="submit" class="btn btn-primary ">Upload</button>
                                        <button class="btn btn-default" data-dismiss="modal" >Close</button>
                                      </div>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Upload Document-->
                {% endif %}

        {% else %}
        <td>
            Allocation Pending
         </td>
         {% endif %}
        
        
         
    </tr>
    {% endfor %}

</table>

{% endif %}

{% if pending_orders %}

<h6 style="padding-top: 20px;">Pending Orders</h6>

<table style="padding-top: 20px">
    <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Depot</th>
        <th>Fuel</th>
        <th>Quantity</th>
        <th>Currency</th>
        <th>Payment</th>
        <th>Proof of Payment</th>
        <th>Status</th>
        <th>Release Note</th>
        <th>Delivery Note</th>
    </tr>

    {% for order in pending_orders %}
    <tr>
        <td>{{ order.date }}</td>
        <td>{{ order.time }}</td>
        <td>{{ order.noic_depot.name }}</td>

        {% if order.fuel_type == 'Petrol'  %}
            <td style="color: #009688;">{{ order.fuel_type|lower|capfirst }}</td>
        {% elif order.fuel_type == 'Diesel' %}
            <td style="color: #ffb61e;">{{ order.fuel_type|lower|capfirst }}</td>
        {% else %}    
            <td>{{ order.fuel_type|lower|capfirst }}</td>
        {% endif %}    

        {% if order.fuel_type == 'Petrol'  %}
        <td style="color: #009688;">{{ order.quantity|floatformat:2|intcomma }}</td>
        {% elif order.fuel_type == 'Diesel' %}
        <td style="color: #ffb61e;">{{ order.quantity|floatformat:2|intcomma }}</td>
        {% else %}
        <td>{{ order.quantity|floatformat:2|intcomma }}</td>
        {% endif %}    



        <td>{{ order.currency}}</td> 
        <td>

            <!--call modal-->

            <button class="btn btn-primary btn-sm btn-labeled m-b-5" data-toggle="modal" data-target="#payment{{order.id}}" type="button">
                <span class="btn-label"><i class="fa fa-eye"></i></span>Details
            </button>
            <!--view details-->
          



            <div class="modal fade modal-success in" id="payment{{order.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document" style="margin: 0;">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #009688; color: white">
                            <span class="modal-title" id="exampleModalLabel">Payment Details</span>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% csrf_token %}
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label><b> Fuel Type:</b></label>
                                    
                                    {% if  order.fuel_type == 'Diesel' %}
                                        <b style="color: #009688;">{{order.fuel_type}}</b>
                                    {% elif order.fuel_type == 'Petrol' %}
                                        <b style="color: #ffb61e;">{{order.fuel_type}}</b>
                                    {% else %}    
                                        <b>{{order.fuel_type}}</b>
                                    {% endif %}    

                                </div>
                                <div class="form-group col-md-6">
                                    <label><b>Price:</b></label>
                                    &nbsp;$24
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label><b> Sub Total:</b></label>
                                    &nbsp;${{order.amount_paid}}
                                </div>
                                <div class="form-group col-md-6">
                                    <label><b>Duty:</b></label>
                                    &nbsp;${{order.duty}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label><b> Vat:</b></label>
                                    &nbsp;${{order.vat}}
                                </div>
                                <div class="form-group col-md-6">
                                    <label><b>Quantiy:</b></label>
                                    &nbsp;{{order.quantity}}L
                                </div>
                            </div>
                            
                            
                        </div>
                        <div class="modal-footer">  
                            <button class="btn btn-default" data-dismiss="modal" >Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </td>

       
        <td>
            <div class="btn-group">
                <!-- <a class="btn btn-primary btn-sm" style="color: whitesmoke;"  > <i class="fa fa-download" style="font-size:20px"></i> Payment Proof</a> -->
                <a  href="{% url 'users:download_proof' order.id %}" class="btn btn-primary btn-sm btn-labeled m-b-5" type="button">
                    <span class="btn-label"><i class="fa fa-download"></i></span> Proof of Payment
                </a>
            </div>
            </td>
       
        <td {% if order.status == 'Accepted' %} style="color: #07a513;" {% else %} style="color: crimson;" {% endif %}>
        {{order.status}}</td>
        
        {% if order.allocation != None %}
                {% if order.allocation.release_note %}
                <td>
                    <div class="btn-group">
                       
                        <a  href="{% url 'users:view_release_note' order.allocation.id %}" class="btn btn-primary btn-sm btn-labeled m-b-5" type="button">
                            <span class="btn-label"><i class="fa fa-download"></i></span> Download Release Note
                        </a>
                    </div>
                    
                </td> 
                {% else %}
                <td>
                    
                  Pending
                   
                </td>
                {% endif %}

        {% else %}
        <td>
            Allocation Pending
         </td>
         {% endif %}

         {% if order.allocation != None %}
                {% if order.allocation.d_note %}
                <td><i style="color: blue;">Uploaded</i></td>
               
                {% else %}
                <td>
                    <div class="btn-group">
                       
                        <a  data-toggle="modal" data-target="#upload_{{order.allocation.id}}" class="btn btn-warning btn-sm btn-labeled m-b-5" type="button">
                            <span class="btn-label"><i class="fa fa-upload"></i></span> Upload D-Note
                        </a>
                    </div>

                 </td>
                <!--Upload Document-->
                <div class="modal fade modal-sucess in" id="upload_{{order.allocation.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document" style="margin: 0;">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #009688; color: white">
                                <span class="modal-title" id="exampleModalLabel">Upload Delivery Note</span>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                               
                                <form method="POST" action="{% url 'users:delivery_note' order.allocation.id %}" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row" style="margin-left: 25px;margin-top: 30px;border: #eaeaea 2px solid;margin-right: 40px;padding-top: 15px;border-radius: 15px;">
                                        <div class="form-group col-md-6">
                                            <i class="fa fa-upload" aria-hidden="true"></i>
                                            <label for="">Select D-Note File</label>
                                        </div>    

                                        <div class="form-group col-md-6">
                                        <input type="file" accept=".pdf, .doc,.docx, .jpeg, .png, .jpg" name="d_note" class="form-control-file" id="exampleFormControlFile1" required>
                                        </div>
                                    </div>    
                                    <br>

                                    <!-- <p style="text-align: center;"><input class="btn btn-info" type="submit" value="Upload"></p> -->
                                    <div class="modal-footer">  
                                        <button type="submit" class="btn btn-primary ">Upload</button>
                                        <button class="btn btn-default" data-dismiss="modal" >Close</button>
                                      </div>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Upload Document-->
                {% endif %}

        {% else %}
        <td>
            Allocation Pending
         </td>
         {% endif %}
        
        
         
    </tr>
    {% endfor %}

</table>

{% endif %}



</body>
</html>