{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Orders {{request.company.name}} Summary</title>

    <style>
        @page {size: a3 landscape;}
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
        .first {
            width: 50%;
            float:left;
            font-size: 12px;

        }
        .wrapper {
            width: 100%;
            margin: auto;
            padding: 10px;
            overflow: hidden;
        }
        .text-muted{
            color:#6c757d!important;
        }
    </style>

</head>
<body>


<h1 style="text-align: center;">Activities Statement Statement - {{ date }}</h1>

{% if not filtered %}
    {% if current_trails %}
    <h3 style="padding-top: 20px;">Current Activity {% if start_date and end_date%} ( <small style="color: #007f73;">{{start_date}}</small> - <small style="color: #007f73;">{{end_date}} )</small>{% else %}<small style="color: #007f73;">({{date}})</small>{% endif %}</h3>

    <table style="padding-top: 20px; margin-bottom: 30px;">
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>User</th>
            <th>Company</th>
            <th>Service Station & Depots</th>
            <th>Event</th>
            <th>Reference</th>
            <th>Action</th>
        </tr>
        {% for activity in current_trails %}
        <tr>
            <td>{{activity.date}}</td>
            <td>{{activity.time}}</td>
            <td>{{activity.user}}</td>
            <td>{{activity.company.name|title}}</td>
            <td>{{activity.service_station.name}}</td>
            <td>{{activity.action}}</td>
            <td>{{activity.reference}}</td>
            {% if activity.reference == 'fuel allocation' %}
            <td>
                <div class="btn-group">
                    <button  data-toggle="modal"  data-target="#view_alloc{{activity.id}}" type="button" class="btn btn-labeled btn-success btn-sm">
                        <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                    </button>
                </div>
            </td>
            {% elif activity.reference == 'offers' %}
            <td>
                <div class="btn-group">
                    <button  data-toggle="modal"  data-target="#accept_offer{{activity.id}}" type="button" class="btn btn-labeled btn-success btn-sm">
                        <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                    </button>
                </div>
            </td>
            {% elif activity.reference == 'subsidiary profile update' %}
            <td>
                <div class="btn-group">
                    <button  data-toggle="modal"  data-target="#view_subsidiary{{activity.id}}" type="button" class="btn btn-labeled btn-success btn-sm">
                        <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                    </button>
                </div>
            </td>
        
            {% elif activity.reference == 'sfuel allocation' %}
            <td>
                <div class="btn-group">
                    <button  data-toggle="modal"  data-target="#station_alloc{{activity.id}}" type="button" class="btn btn-labeled btn-success btn-sm">
                        <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                    </button>
                </div>
                
            </td>
            {% elif activity.action == 'sprices updates' %}
            <td>
                <div class="btn-group">
                    <button  data-toggle="modal"  data-target="#station_prices{{activity.id}}" type="button" class="btn btn-labeled btn-success btn-sm">
                        <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                    </button>
                </div>
            </td>
            {% elif activity.action == 'prices updates' %}
            <td>
                <div class="btn-group">
                    <button  data-toggle="modal"  data-target="#view_prices{{activity.id}}" type="button" class="btn btn-labeled btn-success btn-sm">
                        <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                    </button>
                </div>
            </td>

            {% elif activity.action == 'pfuel quantity updates' %}
            <td>
                <div class="btn-group">
                    <button  data-toggle="modal"  data-target="#stock{{activity.id}}" type="button" class="btn btn-labeled btn-success btn-sm">
                        <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                    </button>
                </div>
            </td>

            {% elif activity.action == 'dfuel quantity updates' %}
            <td>
                <div class="btn-group">
                    <button  data-toggle="modal"  data-target="#dstock{{activity.id}}" type="button" class="btn btn-labeled btn-success btn-sm">
                        <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                    </button>
                </div>
            </td>
        
            
            {% endif %}
        </tr>
        {% endfor %}

    </table>

    {% endif %}

    {% if trails %}

    <h3 style="padding-top: 20px;">Previous Activities {% if start_date and end_date%} ( <small style="color: #007f73;">{{start_date}}</small> - <small style="color: #007f73;">{{end_date}} )</small>{% else %}<small style="color: #007f73;">( {{date}} )</small>{% endif %}</h3>

    <table style="padding-top: 20px">
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>User</th>
            <th>Company</th>
            <th>Service Station & Depots</th>
            <th>Event</th>
            <th>Reference</th>
            <th>Action</th>
        </tr>

        {% for activity in current_trails %}
        <tr>
            <td>{{activity.date}}</td>
            <td>{{activity.time}}</td>
            <td>{{activity.user}}</td>
            <td>{{activity.company.name|title}}</td>
            <td>{{activity.service_station.name}}</td>
            <td>{{activity.action}}</td>
            <td>{{activity.reference}}</td>
            {% if activity.reference == 'fuel allocation' %}
            <td>
                <div class="btn-group">
                    <button  data-toggle="modal"  data-target="#view_alloc{{activity.id}}" type="button" class="btn btn-labeled btn-success btn-sm">
                        <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                    </button>
                </div>
            </td>
            {% elif activity.reference == 'offers' %}
            <td>
                <div class="btn-group">
                    <button  data-toggle="modal"  data-target="#accept_offer{{activity.id}}" type="button" class="btn btn-labeled btn-success btn-sm">
                        <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                    </button>
                </div>
            </td>
            {% elif activity.reference == 'subsidiary profile update' %}
            <td>
                <div class="btn-group">
                    <button  data-toggle="modal"  data-target="#view_subsidiary{{activity.id}}" type="button" class="btn btn-labeled btn-success btn-sm">
                        <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                    </button>
                </div>
            </td>
        
            {% elif activity.reference == 'sfuel allocation' %}
            <td>
                <div class="btn-group">
                    <button  data-toggle="modal"  data-target="#station_alloc{{activity.id}}" type="button" class="btn btn-labeled btn-success btn-sm">
                        <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                    </button>
                </div>
                
            </td>
            {% elif activity.action == 'sprices updates' %}
            <td>
                <div class="btn-group">
                    <button  data-toggle="modal"  data-target="#station_prices{{activity.id}}" type="button" class="btn btn-labeled btn-success btn-sm">
                        <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                    </button>
                </div>
            </td>
            {% elif activity.action == 'prices updates' %}
            <td>
                <div class="btn-group">
                    <button  data-toggle="modal"  data-target="#view_prices{{activity.id}}" type="button" class="btn btn-labeled btn-success btn-sm">
                        <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                    </button>
                </div>
            </td>

            {% elif activity.action == 'pfuel quantity updates' %}
            <td>
                <div class="btn-group">
                    <button  data-toggle="modal"  data-target="#stock{{activity.id}}" type="button" class="btn btn-labeled btn-success btn-sm">
                        <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                    </button>
                </div>
            </td>

            {% elif activity.action == 'dfuel quantity updates' %}
            <td>
                <div class="btn-group">
                    <button  data-toggle="modal"  data-target="#dstock{{activity.id}}" type="button" class="btn btn-labeled btn-success btn-sm">
                        <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                    </button>
                </div>
            </td>
        
            
            {% endif %}
        </tr>
        {% endfor %}
        {% endfor %}

    </table>

    {% endif %}
{% else %}  

<h3 style="padding-top: 20px;">Previous Activities {% if start_date and end_date%} ( <small style="color: #007f73;">{{start_date}}</small> - <small style="color: #007f73;">{{end_date}} )</small>{% else %}<small style="color: #007f73;">( {{date}} )</small>{% endif %}</h3>

    <table style="padding-top: 20px">
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>User</th>
            <th>Company</th>
            <th>Service Station & Depots</th>
            <th>Event</th>
            <th>Reference</th>
            <th>Action</th>
        </tr>

        {% for activity in filtered_trails %}
        <tr>
            <td>{{activity.date}}</td>
            <td>{{activity.time}}</td>
            <td>{{activity.user}}</td>
            <td>{{activity.company.name|title}}</td>
            <td>{{activity.service_station.name}}</td>
            <td>{{activity.action}}</td>
            <td>{{activity.reference}}</td>
            {% if activity.reference == 'fuel allocation' %}
            <td>
                <div class="btn-group">
                    <button  data-toggle="modal"  data-target="#view_alloc{{activity.id}}" type="button" class="btn btn-labeled btn-success btn-sm">
                        <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                    </button>
                </div>
            </td>
            {% elif activity.reference == 'offers' %}
            <td>
                <div class="btn-group">
                    <button  data-toggle="modal"  data-target="#accept_offer{{activity.id}}" type="button" class="btn btn-labeled btn-success btn-sm">
                        <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                    </button>
                </div>
            </td>
            {% elif activity.reference == 'subsidiary profile update' %}
            <td>
                <div class="btn-group">
                    <button  data-toggle="modal"  data-target="#view_subsidiary{{activity.id}}" type="button" class="btn btn-labeled btn-success btn-sm">
                        <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                    </button>
                </div>
            </td>
        
            {% elif activity.reference == 'sfuel allocation' %}
            <td>
                <div class="btn-group">
                    <button  data-toggle="modal"  data-target="#station_alloc{{activity.id}}" type="button" class="btn btn-labeled btn-success btn-sm">
                        <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                    </button>
                </div>
                
            </td>
            {% elif activity.action == 'sprices updates' %}
            <td>
                <div class="btn-group">
                    <button  data-toggle="modal"  data-target="#station_prices{{activity.id}}" type="button" class="btn btn-labeled btn-success btn-sm">
                        <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                    </button>
                </div>
            </td>
            {% elif activity.action == 'prices updates' %}
            <td>
                <div class="btn-group">
                    <button  data-toggle="modal"  data-target="#view_prices{{activity.id}}" type="button" class="btn btn-labeled btn-success btn-sm">
                        <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                    </button>
                </div>
            </td>

            {% elif activity.action == 'pfuel quantity updates' %}
            <td>
                <div class="btn-group">
                    <button  data-toggle="modal"  data-target="#stock{{activity.id}}" type="button" class="btn btn-labeled btn-success btn-sm">
                        <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                    </button>
                </div>
            </td>

            {% elif activity.action == 'dfuel quantity updates' %}
            <td>
                <div class="btn-group">
                    <button  data-toggle="modal"  data-target="#dstock{{activity.id}}" type="button" class="btn btn-labeled btn-success btn-sm">
                        <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                    </button>
                </div>
            </td>
        
            
            {% endif %}
        </tr>
        {% endfor %}
        {% endfor %}

    </table>

{% endif %}




</body>
</html>