{% extends "supplier/supplier_base.html" %}
{% load static %}
{% load humanize %}

{% block body %}
    <!-- Content Header (Page header) -->


    <section class="content-header">
        <form action="#" method="get" class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn"><i
                        class="fa fa-search"></i></button>
            </span>
            </div>
        </form>
        <!-- <div class="header-icon">
            <i class="fa fa-binoculars"></i>
        </div> -->
        <div class="header-title" style="margin-left: 0px;">
            <h1>{{depot.name}} Daily Activity  </h1>
            <small>Fuel Management System</small>
            <ol class="breadcrumb hidden-xs">
                <li><a href=""><i class="pe-7s-home"></i> Home</a></li>
                <li class="active">Activity</li>
            </ol>
        </div>
    </section>
    <!-- Main content -->
    <div class="content">
        <div class="panel panel-bd lobidrag lobipanel lobipanel-sortable" data-inner-id="nMPzTfz4dU"
             data-index="0">
            <div class="panel-heading ui-sortable-handle">


                <div class="dropdown">
                    <ul class="dropdown-menu dropdown-menu-right">


                    </ul>
                    <div class="dropdown-toggle" data-toggle="dropdown"><span
                            class="panel-control-icon glyphicon glyphicon-cog"></span>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">

                    <div class="col-xs-12 col-sm-12">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active" ><a href="#tab1" data-toggle="tab" aria-expanded="true" style="border: rgb(211, 208, 208) 1px solid;">Today</a></li>
                            <li class=""><a href="#tab2" data-toggle="tab" aria-expanded="false" style="border: rgb(211, 208, 208) 1px solid;">Past</a></li>
                        </ul>
                        <!-- Tab panels -->
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="tab1">
                                <div class="panel-body">
                                    <table id="allocations" class="table table-striped table-bordered" style="width:100%">
                                        <thead style="background-color: lightslategray; color:white;">
                                        <tr>
                                            <th style="color: white;">Date</th>
                                            <th style="color: white;">Organisation</th>
                                            <th style="color: white;">User</th>
                                            <th style="color: white;">Action</th>
                                            <th style="color: white;">Description</th>
                                            <th style="color: white;">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for activity in current_activities %}
                                            <tr>
                                                <td>{{ activity.date }}</td>
                                                <td>Supplier Depot</td>
                                                <td>{{activity.user.first_name}} {{activity.user.last_name}}</td>
                                                <td>{{activity.action}}</td>
                                                <td>{{activity.description}}</td>
                                                {% if activity.action == 'Updating Fuel Stocks' %}
                                                <td>
                                                    <div class="btn-group">
                                                        <button  data-toggle="modal"  data-target="#stock{{activity.id}}" type="button" class="btn btn-labeled btn-success btn-sm">
                                                            <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                                                        </button>
                                                    </div>
                                                </td>
                                                {% elif activity.action == 'Making Offer' %}
                                                <td>
                                                    <div class="btn-group">
                                                        <button  data-toggle="modal"  data-target="#accept_offer{{activity.id}}" type="button" class="btn btn-labeled btn-success btn-sm">
                                                            <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                                                        </button>
                                                    </div>
                                                </td>
                                                {% elif activity.action == 'Updating Delivery Schedule' %}
                                                <td>
                                                    <div class="btn-group">
                                                        <button  data-toggle="modal"  data-target="#update_schedule{{activity.id}}" type="button" class="btn btn-labeled btn-success btn-sm">
                                                            <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                                                        </button>
                                                    </div>
                                                </td>
                                               
                                                {% elif activity.action == 'Creating Delivery Schedule' %}
                                                <td>
                                                    <div class="btn-group">
                                                        <button  data-toggle="modal"  data-target="#d_schedule{{activity.id}}" type="button" class="btn btn-labeled btn-success btn-sm">
                                                            <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                                                        </button>
                                                    </div>
                                                    
                                                </td>
                                                {% elif activity.action == 'Creating Release Note' %}
                                                <td>
                                                    <div class="btn-group"> 
                                                        <a href="{% url 'supplier:view_release_note' activity.reference_id %}" type="button" class="btn btn-labeled btn-success btn-sm">
                                                            <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                                                        </a>                                                             
                                                             
                                                    </div>
                                                </td>
                                                {% elif activity.action == 'Updating Release Note' %}
                                                <td>
                                                    <div class="btn-group"> 
                                                        <a href="{% url 'supplier:view_release_note' activity.reference_id %}" type="button" class="btn btn-labeled btn-success btn-sm">
                                                            <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                                                        </a>                                                             
                                                             
                                                    </div>
                                                </td>
                                               
                                                
                                                {% endif %}
                                            </tr>
                                            <div class="modal fade modal-success in" id="stock{{activity.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                            aria-hidden="true" style="overflow-y: initial !important;" >
                                            <div class="modal-dialog modal-notice">
                                                <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                    <span class="modal-title">Fuel Stocks Info</span>
                                                </div>
                                                    <div class="modal-body" style="padding: 30px;overflow-y: auto;">
                                                        <div class="row" style="padding: 10px;">
                                                            <p class="col-md-6" style="font-weight: bold;">Currency: </p>
                                                            <p class="col-md-6">{{ activity.fuel_object.payment_type }}</p>
                                                        </div>
                                                        <div class="row" style="padding: 10px;">
                                                            <p class="col-md-6" style="font-weight: bold;">Petrol Quantity: </p>
                                                            <p class="col-md-6">{{ activity.fuel_object.petrol_quantity }}</p>
                                                        </div>
                                                        <div class="row" style="padding: 10px;">
                                                            <p class="col-md-6" style="font-weight: bold;">Diesel Quantity </p>
                                                            <p class="col-md-6">{{activity.fuel_object.diesel_quantity }}</p>
                                                        </div>
                                                      
                                                       
                                                        <div class="modal-footer">  
                                                            <button class="btn btn-default" data-dismiss="modal" >Close</button>
                                                        </div>    
                        
                                                    </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>


                        <div class="modal fade modal-success in" id="d_schedule{{activity.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                        aria-hidden="true" style="overflow-y: initial !important;" >
                        <div class="modal-dialog modal-notice">
                            <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <span class="modal-title">Delivery Schedule Info</span>
                            </div>
                                <div class="modal-body" style="padding: 30px;height: 600px;overflow-y: auto;">
                                    <div class="row" style="padding: 10px;">
                                        <p class="col-md-6" style="font-weight: bold;">Delivery Date/Time: </p>
                                        <p class="col-md-6">{{ activity.delivery.date }} | {{ activity.delivery.delivery_time }}</p>
                                    </div>
                                    <div class="row" style="padding: 10px;">
                                        <p class="col-md-6" style="font-weight: bold;">Recipient: </p>
                                        <p class="col-md-6">{{ activity.delivery.transaction.buyer.company.name|title }}</p>
                                    </div>
                                    <div class="row" style="padding: 10px;">
                                        <p class="col-md-6" style="font-weight: bold;">Address: </p>
                                        <p class="col-md-6">{{activity.delivery.transaction.buyer.company.address}}</p>
                                    </div>
                                    <div class="row" style="padding: 10px;">
                                        <p class="col-md-6" style="font-weight: bold;">Product: </p>
                                        <p class="col-md-6">{{activity.delivery.transaction.offer.request.fuel_type}}</p>
                                    </div>
                                    <div class="row" style="padding: 10px;">
                                        <p class="col-md-6" style="font-weight: bold;">Transporter </p>
                                        <p class="col-md-6">{{activity.delivery.transport_company}}</p>
                                    </div>
                                    <div class="row" style="padding: 10px;">
                                        <p class="col-md-6" style="font-weight: bold;">Quantity: </p>
                                        <p class="col-md-6">{{activity.delivery.delivery_quantity|floatformat:2|intcomma}} (Litres)</p>
                                    </div>
                                    <div class="row" style="padding: 10px;">
                                        <p class="col-md-6" style="font-weight: bold;">Contact Person: </p>
                                        <p class="col-md-6">{{activity.delivery.transaction.buyer.first_name|title}} {{activity.delivery.transaction.buyer.last_name|title}} </p>
                                    </div>
                                    <div class="row" style="padding: 10px;">
                                        <p class="col-md-6" style="font-weight: bold;">Contact Phone: </p>
                                        <p class="col-md-6">{{activity.delivery.transaction.buyer.phone_number}}</p>
                                    </div>       
                                    <div class="row" style="padding: 10px;">
                                        <p class="col-md-6" style="font-weight: bold;">Driver Name: </p>
                                        <p class="col-md-6">{{activity.delivery.driver_name}}</p>
                                    </div>   
                                    <div class="row" style="padding: 10px;">
                                        <p class="col-md-6" style="font-weight: bold;"> Driver Phone Number: </p>
                                        <p class="col-md-6">{{activity.delivery.phone_number}}</p>
                                    </div>   
                                    <div class="row" style="padding: 10px;">
                                        <p class="col-md-6" style="font-weight: bold;">Id Number: </p>
                                        <p class="col-md-6">{{activity.delivery.id_number}}</p>
                                    </div>   
                                    <div class="row" style="padding: 10px;">
                                        <p class="col-md-6" style="font-weight: bold;">Vehicle Reg: </p>
                                        <p class="col-md-6">{{activity.delivery.vehicle_reg}}</p>
                                    </div>
                                    <div class="row" style="padding: 10px;">
                                        <p class="col-md-6" style="font-weight: bold;">Tank Details: </p>
                                        <p class="col-md-6">{{activity.delivery.transaction.offer.request.storage_tanks}}</p>
                                    </div>
                                    
                                    <div class="row" style="padding: 10px;">
                                        <p class="col-md-6" style="font-weight: bold;">Equipment Required: </p>
                                        <p class="col-md-6">
                                            {% if activity.delivery.transaction.offer.request.pump_required %}
                                            Pump
                                            {% endif %}
                                            {% if activity.delivery.transaction.offer.request.dipping_stick_required %}
                                            Dipping Stick
                                            {% endif %}
                                            {% if activity.delivery.transaction.offer.request.meter_required %}
                                            Meter Required
                                            {% else %}
                                            N/A
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="row" style="padding: 10px;">
                                        <p class="col-md-6" style="font-weight: bold;">Status: </p>
                                        {% if activity.delivery.confirmation_date %}
                                        <p class="col-md-6"> 
                                            <a class="btn btn-purple btn-sm" href="{% url 'supplier:view_confirmation_doc' delivery.id %}">View Confirmation Doc</a>
                                        </p>       
                                        {%else %}
                                        <p class="col-md-6">Status: Pending </p>    
                                        {% endif %} 
                                    </div>     
                                    <div class="modal-footer">  
                                        <button class="btn btn-default" data-dismiss="modal" >Close</button>
                                    </div>    

                                </div>
                                </div>
                                
                            </div>
                        </div>


                        <div class="modal fade modal-success in" id="update_schedule{{activity.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                        aria-hidden="true" style="overflow-y: initial !important;" >
                        <div class="modal-dialog modal-notice">
                            <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <span class="modal-title">Updated Delivery Schedule Info</span>
                            </div>
                            <div class="modal-body" style="padding: 30px;height: 600px;overflow-y: auto;">
                                <div class="row" style="padding: 10px;">
                                    <p class="col-md-6" style="font-weight: bold;">Delivery Date/Time: </p>
                                    <p class="col-md-6">{{ activity.delivery.date }} | {{ activity.delivery.delivery_time }}</p>
                                </div>
                                <div class="row" style="padding: 10px;">
                                    <p class="col-md-6" style="font-weight: bold;">Recipient: </p>
                                    <p class="col-md-6">{{ activity.delivery.transaction.buyer.company.name|title }}</p>
                                </div>
                                <div class="row" style="padding: 10px;">
                                    <p class="col-md-6" style="font-weight: bold;">Address: </p>
                                    <p class="col-md-6">{{activity.delivery.transaction.buyer.company.address}}</p>
                                </div>
                                <div class="row" style="padding: 10px;">
                                    <p class="col-md-6" style="font-weight: bold;">Product: </p>
                                    <p class="col-md-6">{{activity.delivery.transaction.offer.request.fuel_type}}</p>
                                </div>
                                <div class="row" style="padding: 10px;">
                                    <p class="col-md-6" style="font-weight: bold;">Transporter </p>
                                    <p class="col-md-6">{{activity.delivery.transport_company}}</p>
                                </div>
                                <div class="row" style="padding: 10px;">
                                    <p class="col-md-6" style="font-weight: bold;">Quantity: </p>
                                    <p class="col-md-6">{{activity.delivery.delivery_quantity|floatformat:2|intcomma}} (Litres)</p>
                                </div>
                                <div class="row" style="padding: 10px;">
                                    <p class="col-md-6" style="font-weight: bold;">Contact Person: </p>
                                    <p class="col-md-6">{{activity.delivery.transaction.buyer.first_name|title}} {{activity.delivery.transaction.buyer.last_name|title}} </p>
                                </div>
                                <div class="row" style="padding: 10px;">
                                    <p class="col-md-6" style="font-weight: bold;">Contact Phone: </p>
                                    <p class="col-md-6">{{activity.delivery.transaction.buyer.phone_number}}</p>
                                </div>       
                                <div class="row" style="padding: 10px;">
                                    <p class="col-md-6" style="font-weight: bold;">Driver Name: </p>
                                    <p class="col-md-6">{{activity.delivery.driver_name}}</p>
                                </div>   
                                <div class="row" style="padding: 10px;">
                                    <p class="col-md-6" style="font-weight: bold;"> Driver Phone Number: </p>
                                    <p class="col-md-6">{{activity.delivery.phone_number}}</p>
                                </div>   
                                <div class="row" style="padding: 10px;">
                                    <p class="col-md-6" style="font-weight: bold;">Id Number: </p>
                                    <p class="col-md-6">{{activity.delivery.id_number}}</p>
                                </div>   
                                <div class="row" style="padding: 10px;">
                                    <p class="col-md-6" style="font-weight: bold;">Vehicle Reg: </p>
                                    <p class="col-md-6">{{activity.delivery.vehicle_reg}}</p>
                                </div>
                                <div class="row" style="padding: 10px;">
                                    <p class="col-md-6" style="font-weight: bold;">Tank Details: </p>
                                    <p class="col-md-6">{{activity.delivery.transaction.offer.request.storage_tanks}}</p>
                                </div>
                                
                                <div class="row" style="padding: 10px;">
                                    <p class="col-md-6" style="font-weight: bold;">Equipment Required: </p>
                                    <p class="col-md-6">
                                        {% if activity.delivery.transaction.offer.request.pump_required %}
                                        Pump
                                        {% endif %}
                                        {% if activity.delivery.transaction.offer.request.dipping_stick_required %}
                                        Dipping Stick
                                        {% endif %}
                                        {% if activity.delivery.transaction.offer.request.meter_required %}
                                        Meter Required
                                        {% else %}
                                        N/A
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="row" style="padding: 10px;">
                                    <p class="col-md-6" style="font-weight: bold;">Status: </p>
                                    {% if activity.delivery.confirmation_date %}
                                    <p class="col-md-6"> 
                                        <a class="btn btn-purple btn-sm" href="{% url 'supplier:view_confirmation_doc' delivery.id %}">View Confirmation Doc</a>
                                    </p>       
                                    {%else %}
                                    <p class="col-md-6">Status: Pending </p>    
                                    {% endif %} 
                                </div>     
                                <div class="modal-footer">  
                                    <button class="btn btn-default" data-dismiss="modal" >Close</button>
                                </div>    

                            </div>
                                </div>
                                
                            </div>
                        </div>
                                        {%endfor%}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab2">
                                <div class="panel-body">
                                    <table id="fuel_request" class="table table-striped table-bordered" style="width:100%">
                                        <thead style="background-color: lightslategray; color:white;">
                                        <tr>
                                            <th style="color: white;">Date</th>
                                            <th style="color: white;">Organisation</th>
                                            <th style="color: white;">User</th>
                                            <th style="color: white;">Action</th>
                                            <th style="color: white;">Description</th>
                                            <th style="color: white;">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for activity in activities %}
                                            <tr>
                                                <td>{{ activity.date }}</td>
                                                <td>Supplier Depot</td>
                                                <td>{{activity.user.first_name}} {{activity.user.last_name}}</td>
                                                <td>{{activity.action}}</td>
                                                <td>{{activity.description}}</td>
                                                {% if activity.action == 'Updating Fuel Stocks' %}
                                                <td>
                                                    <div class="btn-group">
                                                        <button  data-toggle="modal"  data-target="#stock{{activity.id}}" type="button" class="btn btn-labeled btn-success btn-sm">
                                                            <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                                                        </button>
                                                    </div>
                                                </td>
                                                {% elif activity.action == 'Making Offer' %}
                                                <td>
                                                    <div class="btn-group">
                                                        <button  data-toggle="modal"  data-target="#accept_offer{{activity.id}}" type="button" class="btn btn-labeled btn-success btn-sm">
                                                            <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                                                        </button>
                                                    </div>
                                                </td>
                                                {% elif activity.action == 'Updating Delivery Schedule' %}
                                                <td>
                                                    <div class="btn-group">
                                                        <button  data-toggle="modal"  data-target="#update_schedule{{activity.id}}" type="button" class="btn btn-labeled btn-success btn-sm">
                                                            <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                                                        </button>
                                                    </div>
                                                </td>
                                               
                                                {% elif activity.action == 'Creating Delivery Schedule' %}
                                                <td>
                                                    <div class="btn-group">
                                                        <button  data-toggle="modal"  data-target="#d_schedule{{activity.id}}" type="button" class="btn btn-labeled btn-success btn-sm">
                                                            <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                                                        </button>
                                                    </div>
                                                    
                                                </td>
                                                {% elif activity.action == 'Creating Release Note' %}
                                                <td>
                                                    <div class="btn-group"> 
                                                        <a href="{% url 'supplier:view_release_note' activity.reference_id %}" type="button" class="btn btn-labeled btn-success btn-sm">
                                                            <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                                                        </a>                                                             
                                                             
                                                    </div>
                                                </td>
                                                {% elif activity.action == 'Updating Release Note' %}
                                                <td>
                                                    <div class="btn-group"> 
                                                        <a href="{% url 'supplier:view_release_note' activity.reference_id %}" type="button" class="btn btn-labeled btn-success btn-sm">
                                                            <span class="btn-label"><i class="fa fa-eye"></i></span>Click to View
                                                        </a>                                                             
                                                             
                                                    </div>
                                                </td>
                                               
                                                
                                                {% endif %}
                                            </tr>
                                            <div class="modal fade modal-success in" id="stock{{activity.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                            aria-hidden="true" style="overflow-y: initial !important;" >
                                            <div class="modal-dialog modal-notice">
                                                <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                    <span class="modal-title">Fuel Stocks Info</span>
                                                </div>
                                                    <div class="modal-body" style="padding: 30px;overflow-y: auto;">
                                                        <div class="row" style="padding: 10px;">
                                                            <p class="col-md-6" style="font-weight: bold;">Currency: </p>
                                                            <p class="col-md-6">{{ activity.fuel_object.payment_type }}</p>
                                                        </div>
                                                        <div class="row" style="padding: 10px;">
                                                            <p class="col-md-6" style="font-weight: bold;">Petrol Quantity: </p>
                                                            <p class="col-md-6">{{ activity.fuel_object.petrol_quantity }}</p>
                                                        </div>
                                                        <div class="row" style="padding: 10px;">
                                                            <p class="col-md-6" style="font-weight: bold;">Diesel Quantity </p>
                                                            <p class="col-md-6">{{activity.fuel_object.diesel_quantity }}</p>
                                                        </div>
                                                      
                                                       
                                                        <div class="modal-footer">  
                                                            <button class="btn btn-default" data-dismiss="modal" >Close</button>
                                                        </div>    
                        
                                                    </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>


                        <div class="modal fade modal-success in" id="d_schedule{{activity.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                        aria-hidden="true" style="overflow-y: initial !important;" >
                        <div class="modal-dialog modal-notice">
                            <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <span class="modal-title">Delivery Schedule Info</span>
                            </div>
                                <div class="modal-body" style="padding: 30px;height: 600px;overflow-y: auto;">
                                    <div class="row" style="padding: 10px;">
                                        <p class="col-md-6" style="font-weight: bold;">Delivery Date/Time: </p>
                                        <p class="col-md-6">{{ activity.delivery.date }} | {{ activity.delivery.delivery_time }}</p>
                                    </div>
                                    <div class="row" style="padding: 10px;">
                                        <p class="col-md-6" style="font-weight: bold;">Recipient: </p>
                                        <p class="col-md-6">{{ activity.delivery.transaction.buyer.company.name|title }}</p>
                                    </div>
                                    <div class="row" style="padding: 10px;">
                                        <p class="col-md-6" style="font-weight: bold;">Address: </p>
                                        <p class="col-md-6">{{activity.delivery.transaction.buyer.company.address}}</p>
                                    </div>
                                    <div class="row" style="padding: 10px;">
                                        <p class="col-md-6" style="font-weight: bold;">Product: </p>
                                        <p class="col-md-6">{{activity.delivery.transaction.offer.request.fuel_type}}</p>
                                    </div>
                                    <div class="row" style="padding: 10px;">
                                        <p class="col-md-6" style="font-weight: bold;">Transporter </p>
                                        <p class="col-md-6">{{activity.delivery.transport_company}}</p>
                                    </div>
                                    <div class="row" style="padding: 10px;">
                                        <p class="col-md-6" style="font-weight: bold;">Quantity: </p>
                                        <p class="col-md-6">{{activity.delivery.delivery_quantity|floatformat:2|intcomma}} (Litres)</p>
                                    </div>
                                    <div class="row" style="padding: 10px;">
                                        <p class="col-md-6" style="font-weight: bold;">Contact Person: </p>
                                        <p class="col-md-6">{{activity.delivery.transaction.buyer.first_name|title}} {{activity.delivery.transaction.buyer.last_name|title}} </p>
                                    </div>
                                    <div class="row" style="padding: 10px;">
                                        <p class="col-md-6" style="font-weight: bold;">Contact Phone: </p>
                                        <p class="col-md-6">{{activity.delivery.transaction.buyer.phone_number}}</p>
                                    </div>       
                                    <div class="row" style="padding: 10px;">
                                        <p class="col-md-6" style="font-weight: bold;">Driver Name: </p>
                                        <p class="col-md-6">{{activity.delivery.driver_name}}</p>
                                    </div>   
                                    <div class="row" style="padding: 10px;">
                                        <p class="col-md-6" style="font-weight: bold;"> Driver Phone Number: </p>
                                        <p class="col-md-6">{{activity.delivery.phone_number}}</p>
                                    </div>   
                                    <div class="row" style="padding: 10px;">
                                        <p class="col-md-6" style="font-weight: bold;">Id Number: </p>
                                        <p class="col-md-6">{{activity.delivery.id_number}}</p>
                                    </div>   
                                    <div class="row" style="padding: 10px;">
                                        <p class="col-md-6" style="font-weight: bold;">Vehicle Reg: </p>
                                        <p class="col-md-6">{{activity.delivery.vehicle_reg}}</p>
                                    </div>
                                    <div class="row" style="padding: 10px;">
                                        <p class="col-md-6" style="font-weight: bold;">Tank Details: </p>
                                        <p class="col-md-6">{{activity.delivery.transaction.offer.request.storage_tanks}}</p>
                                    </div>
                                    
                                    <div class="row" style="padding: 10px;">
                                        <p class="col-md-6" style="font-weight: bold;">Equipment Required: </p>
                                        <p class="col-md-6">
                                            {% if activity.delivery.transaction.offer.request.pump_required %}
                                            Pump
                                            {% endif %}
                                            {% if activity.delivery.transaction.offer.request.dipping_stick_required %}
                                            Dipping Stick
                                            {% endif %}
                                            {% if activity.delivery.transaction.offer.request.meter_required %}
                                            Meter Required
                                            {% else %}
                                            N/A
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="row" style="padding: 10px;">
                                        <p class="col-md-6" style="font-weight: bold;">Status: </p>
                                        {% if activity.delivery.confirmation_date %}
                                        <p class="col-md-6"> 
                                            <a class="btn btn-purple btn-sm" href="{% url 'supplier:view_confirmation_doc' delivery.id %}">View Confirmation Doc</a>
                                        </p>       
                                        {%else %}
                                        <p class="col-md-6">Status: Pending </p>    
                                        {% endif %} 
                                    </div>     
                                    <div class="modal-footer">  
                                        <button class="btn btn-default" data-dismiss="modal" >Close</button>
                                    </div>    

                                </div>
                                </div>
                                
                            </div>
                        </div>


                        <div class="modal fade modal-success in" id="update_schedule{{activity.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                        aria-hidden="true" style="overflow-y: initial !important;" >
                        <div class="modal-dialog modal-notice">
                            <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <span class="modal-title">Updated Delivery Schedule Info</span>
                            </div>
                            <div class="modal-body" style="padding: 30px;height: 600px;overflow-y: auto;">
                                <div class="row" style="padding: 10px;">
                                    <p class="col-md-6" style="font-weight: bold;">Delivery Date/Time: </p>
                                    <p class="col-md-6">{{ activity.delivery.date }} | {{ activity.delivery.delivery_time }}</p>
                                </div>
                                <div class="row" style="padding: 10px;">
                                    <p class="col-md-6" style="font-weight: bold;">Recipient: </p>
                                    <p class="col-md-6">{{ activity.delivery.transaction.buyer.company.name|title }}</p>
                                </div>
                                <div class="row" style="padding: 10px;">
                                    <p class="col-md-6" style="font-weight: bold;">Address: </p>
                                    <p class="col-md-6">{{activity.delivery.transaction.buyer.company.address}}</p>
                                </div>
                                <div class="row" style="padding: 10px;">
                                    <p class="col-md-6" style="font-weight: bold;">Product: </p>
                                    <p class="col-md-6">{{activity.delivery.transaction.offer.request.fuel_type}}</p>
                                </div>
                                <div class="row" style="padding: 10px;">
                                    <p class="col-md-6" style="font-weight: bold;">Transporter </p>
                                    <p class="col-md-6">{{activity.delivery.transport_company}}</p>
                                </div>
                                <div class="row" style="padding: 10px;">
                                    <p class="col-md-6" style="font-weight: bold;">Quantity: </p>
                                    <p class="col-md-6">{{activity.delivery.delivery_quantity|floatformat:2|intcomma}} (Litres)</p>
                                </div>
                                <div class="row" style="padding: 10px;">
                                    <p class="col-md-6" style="font-weight: bold;">Contact Person: </p>
                                    <p class="col-md-6">{{activity.delivery.transaction.buyer.first_name|title}} {{activity.delivery.transaction.buyer.last_name|title}} </p>
                                </div>
                                <div class="row" style="padding: 10px;">
                                    <p class="col-md-6" style="font-weight: bold;">Contact Phone: </p>
                                    <p class="col-md-6">{{activity.delivery.transaction.buyer.phone_number}}</p>
                                </div>       
                                <div class="row" style="padding: 10px;">
                                    <p class="col-md-6" style="font-weight: bold;">Driver Name: </p>
                                    <p class="col-md-6">{{activity.delivery.driver_name}}</p>
                                </div>   
                                <div class="row" style="padding: 10px;">
                                    <p class="col-md-6" style="font-weight: bold;"> Driver Phone Number: </p>
                                    <p class="col-md-6">{{activity.delivery.phone_number}}</p>
                                </div>   
                                <div class="row" style="padding: 10px;">
                                    <p class="col-md-6" style="font-weight: bold;">Id Number: </p>
                                    <p class="col-md-6">{{activity.delivery.id_number}}</p>
                                </div>   
                                <div class="row" style="padding: 10px;">
                                    <p class="col-md-6" style="font-weight: bold;">Vehicle Reg: </p>
                                    <p class="col-md-6">{{activity.delivery.vehicle_reg}}</p>
                                </div>
                                <div class="row" style="padding: 10px;">
                                    <p class="col-md-6" style="font-weight: bold;">Tank Details: </p>
                                    <p class="col-md-6">{{activity.delivery.transaction.offer.request.storage_tanks}}</p>
                                </div>
                                
                                <div class="row" style="padding: 10px;">
                                    <p class="col-md-6" style="font-weight: bold;">Equipment Required: </p>
                                    <p class="col-md-6">
                                        {% if activity.delivery.transaction.offer.request.pump_required %}
                                        Pump
                                        {% endif %}
                                        {% if activity.delivery.transaction.offer.request.dipping_stick_required %}
                                        Dipping Stick
                                        {% endif %}
                                        {% if activity.delivery.transaction.offer.request.meter_required %}
                                        Meter Required
                                        {% else %}
                                        N/A
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="row" style="padding: 10px;">
                                    <p class="col-md-6" style="font-weight: bold;">Status: </p>
                                    {% if activity.delivery.confirmation_date %}
                                    <p class="col-md-6"> 
                                        <a class="btn btn-purple btn-sm" href="{% url 'supplier:view_confirmation_doc' delivery.id %}">View Confirmation Doc</a>
                                    </p>       
                                    {%else %}
                                    <p class="col-md-6">Status: Pending </p>    
                                    {% endif %} 
                                </div>     
                                <div class="modal-footer">  
                                    <button class="btn btn-default" data-dismiss="modal" >Close</button>
                                </div>    

                            </div>
                                </div>
                                
                            </div>
                        </div>
                                        {%endfor%}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{%endblock%}