{% extends "supplier/supplier_base.html" %}
{% load humanize %}
{% load staticfiles %}

{%block body%}

<!-- Content Header (Page header) -->
<section class="content-header">
  <form action="#" method="get" class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
      <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn"><i
                      class="fa fa-search"></i></button>
          </span>
      </div>
  </form>
  <!-- <div class="header-icon">
    <i class="fa fa-bank"></i>
  </div> -->
  <div class="header-title" style="margin-left: 0px;">
    <h1>Current Stock</h1>
    <small>Current available fuel</small>
    <ol class="breadcrumb hidden-xs">
        <li><a href="{%url 'fuel-request'%}"><i class="pe-7s-home"></i> Home</a></li>
        <li class="active">Stock</li>
    </ol>
  </div>
</section>
<!-- Main content -->
<div class="content">
  <div class="panel panel-bd lobidrag lobipanel lobipanel-sortable" data-inner-id="nMPzTfz4dU"
      data-index="0">
      <div class="panel-heading ui-sortable-handle">          
          <div class="dropdown">
              <ul class="dropdown-menu dropdown-menu-right">


              </ul>
              <div class="dropdown-toggle" data-toggle="dropdown"><span
                      class="panel-control-icon glyphicon glyphicon-cog"></span>
              </div>
          </div>
      </div>
      <div class="panel-body"> 
        
<div class="col-md-12">
  <div class="table-responsive">
    <table id="available_fuel" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Currency</th>
                <th style="color: #009688;">Petrol</th>
                <th>Price</th>
                <th style="color: #ffb61e;">Diesel</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for update in updates %}
            <tr>

                <td><b style='color:#009688'>{{update.payment_type}} </b></td>
                <td>{{update.petrol_quantity|floatformat:2|intcomma}} Litres {% if update.petrol_quantity < 1000 %} 
                    <i class="fa fa-exclamation-triangle" style="color: crimson;"> Petrol quantity too low</i>{% endif %}</td>

                <td> {% if update.payment_type == 'USD & RTGS' %} <b style='color:#009688'>RTGS</b>
                    {{update.petrol_price|stringformat:".2f"}} | <b style='color:#009688'>USD</b>
                    {{update.petrol_usd_price|stringformat:".2f"}}{%else%}<b style='color:#009688'>
                        {{update.payment_type}}</b>
                    {{update.petrol_price|stringformat:".2f"}}{% endif %}</td>


                <td>{{update.diesel_quantity|floatformat:2|intcomma}} Litres {% if update.diesel_quantity < 1000 %} 
                    <i class="fa fa-exclamation-triangle" style="color: crimson;"> Diesel quantity too low</i>{% endif %}</td>
                <td> {% if update.payment_type == 'USD & RTGS' %} <b style='color:#009688'>RTGS</b>
                    {{update.diesel_price|stringformat:".2f"}} | <b style='color:#009688'>USD</b>
                    {{update.diesel_usd_price|stringformat:".2f"}}{%else%} <b
                        style='color:#009688'>{{update.payment_type}}</b>
                    {{update.diesel_price|stringformat:".2f"}}{% endif %}</td>

                <td>
                    <div class="btn-group">
                        {% if update.payment_type == 'USD' and not update.payment_type == 'RTGS' %}
                        <button class="btn btn-labeled btn-primary btn-sm" style="font-size: 12px;" data-toggle="modal" data-target="#add_usd_fuel{{update.id}}">
                           <span class="btn-label"> <i class="fa fa-refresh" aria-hidden="true"></i></span> Update USD Fuel</button>
                
                        {% elif update.payment_type == 'RTGS' and not update.payment_type == 'USD'%}
                        <button class="btn btn-labeled btn-primary btn-sm" style="font-size: 12px;" data-toggle="modal" data-target="#add_rtgs_fuel{{update.id}}">
                           <span class="btn-label"> <i class="fa fa-refresh" aria-hidden="true"></i></span> Update RTGS Fuel</button>
                        {% elif update.payment_type == 'RTGS' and update.payment_type == 'USD'%}
                        <button class="btn btn-labeled btn-primary btn-sm" style="font-size: 12px;" data-toggle="modal" data-target="#add_fuel{{update.id}}">
                           <span class="btn-label"><i class="fa fa-refresh" aria-hidden="true"></i> </span> Update Both Fuel</button>
                        {%endif%}
                    </div>
                </td>
            </tr>

            <div class="modal fade modal-success in" id="add_rtgs_fuel{{update.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                  <div class="modal-title">Update RTGS Fuel- <i style="color:white"><small>Please Note the fuel you are entering is to be
                      sold in Zimbabwean Local Currency</small></i></div>
              </div>
                <div class="modal-body">
            
                  {% load crispy_forms_tags %}
                  <form action="{% url 'supplier:stock_update' update.id %}" method="POST">
                    {% csrf_token %}
                    <div class="row" style="margin-bottom: 30px;">   
                        <input type="hidden" value="RTGS" name="fuel_payment_type" />
                        <div class="form-group row col-sm-12" style="margin-top: 5%;">
                            <div class="col-sm-6">

                                <label><b style='color:#009688'>Fuel Type</b></label>
                                <select class="form-control" name="fuel_type">

                                    <option>Petrol</option>
                                    <option>Diesel</option>


                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label><b style='color:#009688'>Quantity</b></label>
                                <input type="text" name="quantity" class="form-control"
                                    placeholder="In Litres" required />
                            </div>
                        </div>
                        <div class=" form-group row col-sm-12">
                            <input type="hidden" class=" col-sm-4" name="cash" value="0" />
                            <input type="hidden" class=" col-sm-4" name="swipe" value="0">
                            <input type="hidden" class=" col-sm-4" name="ecocash" value="0">
                            <div class="col-sm-12" name="payment" id="payment{{forloop.counter}}">
                                <label><b style='color:#009688'>Payment Method</b></label>
                                <div class="col-sm-12 row">
                                    <div class=" col-sm-4"><input type="checkbox" name="cash" value="1"> Cash<br></div>
                                    <div class="col-sm-4"><input type="checkbox" value="1" name="swipe">Swipe<br></div>
                                    <div class="col-sm-4"><input type="checkbox" class="col-sm-4" value="1" name="ecocash">Ecocash<br></div>
                                </div>
                            </div>
                        </div>
                    </div>    
            
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save changes</button>

                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Close</button>
            </div>
            </form>
                </div>
                
              </div>
            </div>
          
       

            <div class="modal fade modal-success in" id="add_usd_fuel{{update.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      <div class="modal-title">Update USD Fuel-<i style="color:white"><small>Please Note the fuel you are entering is to be
          sold in United States Dollars</small></i></div>
  </div>
    <div class="modal-body">

      {% load crispy_forms_tags %}
      <form action="{% url 'supplier:stock_update' update.id %}" method="POST">
                                {% csrf_token %}
                        <div class="row" style="margin-bottom: 30px;">        
                                <input type="hidden" value="USD" name="fuel_payment_type" />
                                <div class="form-group row col-sm-12" style="margin-top: 5%;">
                                    <div class="col-sm-6">

                                        <label><b style='color:#009688'>Fuel Type</b></label>
                                        <select class="form-control" name="fuel_type">

                                            <option>Petrol</option>
                                            <option>Diesel</option>


                                        </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <label><b style='color:#009688'>Quantity</b></label>
                                        <input type="text" name="quantity" class="form-control"
                                            placeholder="In Litres" required />
                                    </div>
                                </div>
                                <div class=" form-group row col-sm-12">
                                    <input type="hidden" name="cash" value="0" />
                                    <input type="hidden" name="swipe" value="0">
                                    <div class="col-sm-12" name="payment" id="payment{{forloop.counter}}">
                                        <label><b style='color:#009688'>Payment Method</b></label>
                                        <div class="col-sm-12">
                                            <div class="col-sm-6"><input type="checkbox" name="cash" value="1">&nbsp; Cash<br></div>
                                            <div class="col-sm-6"><input type="checkbox" id="fca{{forloop.counter}}" value="1" name="swipe">&nbsp; FCA<br></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 form-group" name="bank" id="bank{{forloop.counter}}">
                                    <label><b style='color:#009688'>Bank</b></label>
                                    <select class="form-control" name="destination_bank">

                                        <option>CBZ</option>
                                        <option>BancABC</option>
                                        <option>First Capital</option>
                                        <option>Agribank</option>
                                        <option>Ecobank</option>
                                        <option>FBC</option>
                                        <option>Nedbank</option>
                                        <option>Metbank</option>
                                        <option>NMB</option>
                                        <option>Standard Chatered</option>
                                        <option>Steward Bank</option>
                                        <option>ZB Bank</option>
                                        <option>CABS</option>
                                        <option>POSB</option>


                                    </select>
                                </div>
                        </div>        



                        
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save changes</button>
            
                            <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">Close</button>
                        </div>
                        </form>
    </div>
    
  </div>
</div>
           
            

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script>
                $(document).ready(function () {
                    $('#bank{{forloop.counter}}').hide();


                    $('#payments{{forloop.counter}}').change(function () {
                        console.log(('#banks{{forloop.counter}}'))
                        if ($('#fcas{{forloop.counter}}').is(':checked')) {
                            $('#banks{{forloop.counter}}').show();

                            $('#banks{{forloop.counter}} :input').prop('disabled', false);
                        }

                        else {
                            $('#banks{{forloop.counter}}').hide();
                            $('#banks{{forloop.counter}} :input').prop('disabled', true);
                        }
                    });
                    $('#payment{{forloop.counter}}').change(function () {
                        console.log(('#bank{{forloop.counter}}'))
                        if ($('#fca{{forloop.counter}}').is(':checked')) {
                            $('#bank{{forloop.counter}}').show();

                            $('#bank{{forloop.counter}} :input').prop('disabled', false);
                        }

                        else {
                            $('#bank{{forloop.counter}}').hide();
                            $('#bank{{forloop.counter}} :input').prop('disabled', true);
                        }
                    });
                });


            </script>

<div class="modal fade modal-success in" id="add_fuel{{update.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      <span class="modal-title">Update Fuel Quantity</span>
  </div>
    <div class="modal-body">

      {% load crispy_forms_tags %}
      <form action="{% url 'supplier:stock_update' update.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" value="USD" name="fuel_payment_type" />
        <div class="row" style="margin-bottom: 30px;">   
            <div class="form-group row col-sm-12" style="margin-top: 5%;">
                <div class="col-sm-6">

                    <label><b style='color:#009688'>Fuel Type</b></label>
                    <select class="form-control" name="fuel_type">

                        <option>Petrol</option>
                        <option>Diesel</option>


                    </select>
                </div>
                <div class="col-sm-6">
                    <label><b style='color:#009688'>Quantity</b></label>
                    <input type="text" name="quantity" class="form-control"
                        placeholder="In Litres" required />
                </div>
            </div>
            <div class=" form-group row col-sm-12">
                <input type="hidden" name="cash" value="0" />
                <input type="hidden" name="swipe" value="0">
                <input type="hidden" name="ecocash" value="0">
                <div class="col-sm-12" name="payment" id="payment{{forloop.counter}}">
                    <label><b style='color:#009688'>Payment Method (RTGS)</b></label>
                    <div class="col-sm-12 row">
                        <div class="col-sm-4"><input type="checkbox" name="cash" value="1">&nbsp; Cash</div>
                        <div class="col-sm-4"><input type="checkbox" value="1" name="swipe">&nbsp; Swipe</div>
                        <div class="col-sm-4"><input type="checkbox" value="1" name="ecocash">&nbsp; Ecocash</div>
                    </div>
                </div>
            </div>
            <div class=" form-group row col-sm-12">
                <input type="hidden" name="cash" value="0" />
                <input type="hidden" name="swipe" value="0">
                <div class="col-sm-12" name="payment" id="payment{{forloop.counter}}">
                    <label><b style='color:#009688'>Payment Method (USD)</b></label>
                    <div class="col-sm-12 row">
                        <div class="col-sm-6"><input type="checkbox" class=" col-sm-6" name="cash" value="1">&nbsp; Cash</div>
                        <div class="col-sm-6"><input type="checkbox" class="col-sm-6" value="1" name="swipe">&nbsp; FCA</div>
                    </div>


                </div>
            </div>
        </div>    
                                     
            <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save changes</button>

            <button type="button" class="btn btn-secondary"
                data-dismiss="modal">Close</button>
    </div>
</form>
    </div>
    
  </div>
</div>
</div>
           
            <div class="modal fade modal-success in" id="addfuel{{update.id}}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #2f8f87;color: white;">
                            <p><i>please note that the fuel you are updating is USD</i></p>
                            <h3 class="modal-title" id="exampleModalLabel" style="color: blanchedalmond;">
                                Update Fuel Quantity</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            {% load crispy_forms_tags %}
                            <form action="{% url 'supplier:stock_update' update.id %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label><b style='color:#009688'>Fuel Type</b></label>
                                    <select class="form-control" name="fuel_type">

                                        <option>Petrol</option>
                                        <option>Diesel</option>


                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Quantity</label>
                                    <input type="text" name="quantity" class="form-control" value=" " />
                                </div>

                                <div class="form-group">
                                    <label>Price</label>
                                    <input type="text" name="price" class="form-control" value=" " />
                                </div>
                                <div class="form-group" name="payment" id="payment{{forloop.counter}}">
                                    <label><b style='color:#009688'>Payment Method</b></label>
                                    <select class="form-control" name="fuel_type">

                                        <option>Cash</option>
                                        <option>FCA</option>


                                    </select>
                                </div>
                                <div class="form-group" name="bank" id="bank{{forloop.counter}}">
                                    <label><b style='color:#009688'>Bank</b></label>
                                    <select class="form-control" name="destination_bank">

                                        <option>CBZ</option>
                                        <option>BancABC</option>
                                        <option>First Capital</option>
                                        <option>Agribank</option>
                                        <option>Ecobank</option>
                                        <option>FBC</option>
                                        <option>Nedbank</option>
                                        <option>Metbank</option>
                                        <option>NMB</option>
                                        <option>Standard Chatered</option>
                                        <option>Steward Bank</option>
                                        <option>ZB Bank</option>
                                        <option>CABS</option>
                                        <option>POSB</option>


                                    </select>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn"
                                        style="background-color: lightgray; color: #333;"
                                        data-dismiss="modal">Close</button>
                                    <button class="btn btn-primary" type="submit">Update</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <script>
                $('body').click(function (event) {
                    if(!$(event.target).closest('#add_fuel{{update.id}}').length && !$(event.target).is('#add_fuel{{update.id}}')) {
                        $("#add_fuel{{update.id}}").modal('hide');
                    }
                    if(!$(event.target).closest('#add_rtgs_fuel{{update.id}}').length && !$(event.target).is('#add_rtgs_fuel{{update.id}}')) {
                        $("#add_rtgs_fuel{{update.id}}").modal('hide');
                    }
                    if(!$(event.target).closest('#add_usd_fuel{{update.id}}').length && !$(event.target).is('#add_usd_fuel{{update.id}}')) {
                        $("#add_usd_fuel{{update.id}}").modal('hide');
                    }         
                });
            </script>

            {% endfor %}
            
        </tbody>
    </table>
</div>
    </div>
  </div>
</div>
  </div>
{% endblock %}