{% extends "supplier/supplier_base.html" %}
{% load crispy_forms_tags %} 

{% block body %}
        <!-- Content Header (Page header) -->
<section class="content-header">
  <form action="#" method="get" class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
      <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn"><i
                      class="fa fa-search"></i></button>
          </span>
      </div>
  </form>
  <div class="header-icon">
    <i class="fa fa-gear"></i>
  </div>
  <div class="header-title">
    <h1>Settings</h1>
    <small>Change Password</small>
    <ol class="breadcrumb hidden-xs">
        <li><a href="{%url 'fuel-request'%}"><i class="pe-7s-home"></i> Home</a></li>
        <li class="active">Settings</li>
    </ol>
  </div>
</section>
<!-- Main content -->
<div class="content">
  <div class="panel panel-bd lobidrag lobipanel lobipanel-sortable" data-inner-id="nMPzTfz4dU"
      data-index="0">
      <div class="panel-heading ui-sortable-handle">
          
          <div class="dropdown">
              <ul class="dropdown-menu dropdown-menu-right">


              </ul>
              <div class="dropdown-toggle" data-toggle="dropdown"><span
                      class="panel-control-icon glyphicon glyphicon-cog"></span>
              </div>
          </div>
      </div>
      <div class="panel-body">        
        <form action="{% url 'supplier:change_password' %}" method="POST">
        {% csrf_token %}
        {{password_change|crispy}} 
        <p style="text-align: center;"><button type="submit" class="btn btn-primary pull-center">Save Password</button></p>
        </form>
    </div>
    </div>
</div>
{% endblock %}