{% extends "supplier/supplier_base.html" %}
{% load humanize %}

{% block body %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="header-icon">
      <i class="fa fa-truck"></i>
    </div>
    <div class="header-title">
      <h1>Delievery Schedules</h1>
      <small>{{ request.user.company.name|title }}</small>
      <ol class="breadcrumb hidden-xs">
          <li><a href="{%url 'fuel-request'%}"><i class="pe-7s-home"></i> Home</a></li>
          <li class="active">Schedules</li>
      </ol>
    </div>
  </section>

<section class="content">
    <div class="content">
        <div class="panel panel-bd lobidrag lobipanel lobipanel-sortable" data-inner-id="nMPzTfz4dU"
            data-index="0">
            <div class="panel-heading ui-sortable-handle">
                <div class="btn-group"> 
                    <h4>Delivery Schedules</h4>
                </div>
                
                <div class="dropdown">
                    <ul class="dropdown-menu dropdown-menu-right">
    
    
                    </ul>
                    <div class="dropdown-toggle" data-toggle="dropdown"><span
                            class="panel-control-icon glyphicon glyphicon-cog"></span>
                    </div>
                </div>
            </div>
            <div class="panel-body">              
          
          <div class="table-responsive">
            <table id="delivery_example" class="table table-striped table-bordered" style="width:100%">
                <thead style="background-color: lightslategray; color:white;">
                    <tr>
                        <td></td>
                        <th style="color: white;">Date</th>
                        <th style="color: white;">Recipient</th>
                        <th style="color: white;">Delivery Addr</th>
                        <th style="color: white;">Transporter Name</th>
                        <th style="color: white;">Phone No.</th>
                        <th style="color: white;">Id No.</th>
                        <th style="color: white;">Vehicle Regn.</th>
                        <th style="color: white;">Delivery Time</th>
                        <th style="color: white;">Delivery Status</th>
                        <th style="color: white;">Action</th>  
                    </tr>
                </thead>
                <tbody>
                    {% for delivery in schedules %}
                    <tr>
                        <td></td>
                        <td>{{ delivery.date }}</td>
                        <td>{{ delivery.transaction.buyer.username|title }}</td>
                        <td>{{ delivery.transaction.offer.request.delivery_address }}</td>
                        <td>{{ delivery.driver_name }}</td>
                        <td>{{ delivery.phone_number }}</td>
                        <td>{{ delivery.id_number }}</td>
                        <td>{{ delivery.vehicle_reg }}</td> 
                        <td>{{ delivery.delivery_time }}</td>  
                        <td>                            
                        {% if delivery.confirmation_document %}
                        <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#confirmation_doc{{delivery.id}}">View Confirmation </button>
                        {% else %}
                        Pending
                        {%endif%}
                      </td>
                      <td>
                        <button type="button" class="btn btn-purple btn-sm" data-toggle="modal"
                            data-target="#edit_delivery_{{delivery.id}}">Edit Schedule</button>
                      </td>
                    </tr>
                    <div class="modal fade modal-success in" id="edit_delivery_{{delivery.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                          aria-hidden="true">
                          <div class="modal-dialog modal-notice">
                          <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                              <span class="modal-title">Edit Delivery Schedule</span>
                          </div>
                          <div class="modal-body" style="margin-bottom: 150px;">
                          <form method="POST" action="{% url 'supplier:edit_delivery_schedule' %}">
                              {% csrf_token %}
                              <div class=" row col-sm-12" style="margin-bottom: 5px;">
                              

                              <div class="col-sm-6" style="margin-bottom: 10px;">
                                  <label style="margin-bottom: 5px;">Transporter Name</label>
                                  <input type="text" name="driver_name" class="form-control" value="{{delivery.driver_name}}" />
                              </div>
                              <div class="col-sm-6" style="margin-bottom: 10px;">
                                  <label style="margin-bottom: 5px;">Phone Number</label>
                                  <input type="text" name="phone_number" class="form-control" value="{{delivery.phone_number}}"/>
                              </div>
                              </div>
                              <div class=" row col-sm-12">
                                <div class="col-sm-4" style="margin-bottom: 10px;">
                                    <label style="margin-bottom: 5px;">Id Number</label>
                                    <input type="text" name="id_number" class="form-control" value="{{delivery.id_number}}" />
                                </div>
  
                                <div class="col-sm-4" style="margin-bottom: 10px;">
                                    <label style="margin-bottom: 5px;">Vehicle Registration</label>
                                    <input type="text" name="vehicle_reg" class="form-control" value="{{delivery.vehicle_reg}}" />
                                </div>
                                <div class="col-sm-4" style="margin-bottom: 10px;">
                                    <label style="margin-bottom: 5px;">Delivery Time</label>
                                    <input type="time" name="delivery_time" class="form-control" value="{{delivery.delivery_time}}"/>
                                </div>
                                </div>
                              
                                <div class=" row col-sm-12">
    
                                  <div class="col-sm-4" style="margin-bottom: 10px;">
                                      <input type="hidden" name="delivery_id" class="form-control" value="{{delivery.id}}"/>
                                  </div>
                                  
                                  </div>
                          </div>

                          <div class="modal-footer">
                            <div class="row pull-right" style="margin-right: 15px;">                
                                <button class="btn btn-primary" type="submit">Save Changes</button>
                            </div>
                        </div>
                          </form>
                          </div>
                          </div>
                    </div>
                    <div class="modal fade modal-success in" id="confirmation_doc{{delivery.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                          aria-hidden="true">
                          <div class="modal-dialog modal-notice">
                          <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                              <span class="modal-title">Confirmation Document</span>
                          </div>
                          <div class="modal-body" style="margin-bottom: 150px;">
                            <a class="btn btn-purple" href="{% url 'supplier:view_confirmation_doc' delivery.id %}">View Doc</a>
                            {{delivery.display_text_file}}
                          </div>
                          </div>
                    </div>


                    {%endfor%}
                </tbody>
                </table>
    
    </div>
    </div>
    </div>
    </div>
</section>  


  
{%endblock%}
