{% extends "supplier/supplier_base.html" %}
{% load humanize %}
{% load mathfilters %}
 {% block title %}Fuel Payment History {% endblock %}
  {% block body %}
<section class="content-header">
    <form action="#" method="get" class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                  <button type="submit" name="search" id="search-btn" class="btn"><i class="fa fa-search"></i></button>
              </span>
        </div>
    </form>
    
    <div class="header-title" style="margin-left: 0px;">

        <h1> Payment History </h1>
        <small>Zimbabawe Fuel Management System</small>
        <ol class="breadcrumb hidden-xs">
            <li><a href=""><i class="pe-7s-home"></i> Home</a></li>
            <li class="active">Payment History</li>
        </ol>

    </div>

</section>
<section class="content">
    <div class="">
        {% if paid_up == True %}
        <div class="alert-sm alert-success" style="padding: 20px;text-align: center;font-size: initial;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <i class="fa fa-info-circle" style="margin-right: 10px;"></i><strong>Note!</strong> This transaction has been fully paid up, 
                no further approvals required.      
        </div>
        {% else %}
        <div class="alert-sm alert-default" style="padding: 20px;text-align: center;font-size: initial;background-color: lightslategray;
        color: white;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <i class="fa fa-info-circle" style="margin-right: 10px;"></i><strong>Note!</strong> Balance 
            {% if paid_up > 0 %}
            pending : $ {{paid_up}}

            {% elif paid_up < 0 %}

            exceeded by : $ {{paid_up}}

            {% endif %}
            
        </div>
        {% endif %}

    </div>
    <div class="panel panel-bd lobidrag lobipanel lobipanel-sortable" data-inner-id="nMPzTfz4dU" data-index="0">
        <div class="panel-heading ui-sortable-handle">
            <div class="btn-group">
                <h4>Payment Audit Trail</h4>
            </div>
            <div class="dropdown">
                <ul class="dropdown-menu dropdown-menu-right">


                </ul>
                <div class="dropdown-toggle" data-toggle="dropdown"><span class="panel-control-icon glyphicon glyphicon-cog"></span>
                </div>
            </div>
        </div>
        <div class="panel-body">

            
            <div class="table-responsive">
                <table id="payment_history" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>
                                Account
                            </th>

                            <th>
                                Sord Number
                            </th>
                            <th>
                                Transaction
                             </th>
                            <th>
                               Amount Paid ($)
                            </th>
                            <th>
                                Action
                             </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for payment in payment_history%}
                        <tr>
                            <td>{{payment.date}} - {{payment.time}}</td>
                            <td>
                                
                                    <!--call modal-->
                                    <button class="btn btn-labeled btn-primary btn-sm" data-toggle="modal" data-target="#view{{payment.id}}">
                                       <span class="btn-label"><i class="fa fa-eye" aria-hidden="true"></i></span> Account Details
                                    </button>
                                    <!--view details-->
                                    <div class="modal fade modal-success in" id="view{{payment.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header" style="background-color: #009688; color: white">
                                                    <span class="modal-title" id="exampleModalLabel">Details For The Account</span>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <!--buyer company-->
                                                        <div class="col-md-12">
                                                            <h4>Buyer Company &nbsp;&nbsp; : &nbsp;&nbsp; {{ payment.account.buyer_company }} </h4>
                                                        </div>
                                                        <!--supplier company-->
                                                        <div class="col-md-12">
                                                            <h4>Supplier Company &nbsp;&nbsp; : &nbsp;&nbsp; {{ payment.account.supplier_company}}</h4>
                                                        </div>
                                                        <!--applicant-->
                                                        <div class="col-md-12">
                                                            <h4>Applied_by &nbsp;&nbsp; : &nbsp;&nbsp; {{ payment.account.applied_by }}</h4>
                                                        </div>
                                                         <!--acc #-->
                                                         <div class="col-md-12">
                                                            <h4>Account Number &nbsp;&nbsp; : &nbsp;&nbsp; {{ payment.account.account_number}}</h4>
                                                        </div>
                                                        <!--is_verified-->
                                                        <div class="col-md-12">
                                                            <h4>Verified &nbsp;&nbsp; : &nbsp;&nbsp; {{ payment.account.is_verified }}</h4>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default"  data-dismiss="modal" aria-label="Close">
                                                            Close
                                                        </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                
                            </td>
                            <td>{{payment.sord_number}}</td>
                            <td>
                                
                                    <!--call modal-->
                                    <button class="btn  btn-labeled btn-primary btn-sm" data-toggle="modal" data-target="#trans{{payment.id}}">
                                       <span class="btn-label"> <i class="fa fa-eye" aria-hidden="true"></i></span> Transaction Details
                                    </button>
                                    <!--view details-->
                                    <div class="modal fade modal-success in" id="trans{{payment.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header" style="background-color: #009688; color: white">
                                                    <span class="modal-title" id="exampleModalLabel">Details For The Transaction</span>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    {% csrf_token %}
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label><b> Buyer:</b></label>
                                                            &nbsp;{{payment.transaction.buyer.company}}
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label><b>Supplier:</b></label>
                                                            &nbsp;{{payment.transaction.supplier.company}}
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label><b> Fuel Type:</b></label>
                                                            &nbsp;{{payment.transaction.offer.request.fuel_type}}
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label><b>Quantity Requested:</b></label>
                                                            &nbsp;{{payment.transaction.offer.request.amount|floatformat:2|intcomma}}L
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label><b> Quantity Offered:</b></label>
                                                            &nbsp;{{payment.transaction.offer.quantity|floatformat:2|intcomma}}L
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label><b>Price:</b></label>
                                                            &nbsp;${{payment.transaction.offer.price}}
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label><b> Expected:</b></label>
                                                            &nbsp;${{payment.transaction.expected|intcomma}}
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label><b>Paid:</b></label>
                                                            &nbsp;${{payment.transaction.paid|intcomma}}
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label><b> Delivery Address:</b></label>
                                                            &nbsp;{{payment.transaction.buyer.company.address}}
                                                        </div>
                                                       
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default"  data-dismiss="modal" aria-label="Close">
                                                            Close
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                
                            </td>
                            <td>{{payment.value|floatformat:2|intcomma}}</td>
                            {% if payment.pop_approved == False and payment.transaction.paid != payment.transaction.expected %}
                                {% if payment.proof_of_payment %}
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-labeled btn-primary btn-sm" style="color: whitesmoke;" href="{% url 'supplier:download-proof' payment.id %}" > 
                                            <span class="btn-label"><i class="fa fa-download" aria-hidden="true"></i></span> P.O.P</a>
                                        <a class="btn btn-labeled btn-warning btn-sm" style="color: whitesmoke;" data-toggle="modal" data-target="#approve{{payment.id}}" >
                                            <span class="btn-label"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>  Approve</a>
                                    </div>
                                </td>
                                {% else %}
                                <td>
                                    <div class="btn-group">
                                        <a type="button" class="btn btn-labeled btn-success btn-sm" disabled>
                                            <span class="btn-label"><i class="fa fa-download"></i></span>P.O.P.
                                        </a>
                                        <a type="button" class="btn btn-labeled btn-warning btn-sm" disabled>
                                            <span class="btn-label"><i class="glyphicon glyphicon-thumbs-up"></i></span>Approve
                                        </a>
                                    </div>
                                </td>
                                {% endif %}
                            {% else %}
                            <td>
                                <a type="button" class="btn btn-labeled btn-success btn-sm" disabled>
                                    <span class="btn-label"><i class="fa fa-download"></i></span>P.O.P.
                                </a>
                            </td>
                            {% endif %}
                        </tr>

                            <!--approve modal-->
                            <div class="modal fade modal-sucess in" id="approve{{payment.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header" style="background-color: #009688; color: white">
                                            <span class="modal-title" id="exampleModalLabel">Approve Payment</span>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{% url 'complete-transaction' payment.transaction.id %}" method="POST">
                                                {% csrf_token %}

                                                <div class="row">

                                                    <div class="alert-sm alert-default" id="info_panel" style="padding: 10px;text-align: center;font-size: initial; margin-bottom: 30px; margin-left: 15px; margin-right: 15px;">
                                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                        <i class="fa fa-info-circle" style="margin-right: 10px;"></i>Balance :
                                                        <!-- <input id="bal"> {{bal}} </input> -->
                                                        <input type="text" id="bal" name="bal" value={{bal}} style="text-align: center;background-color: mintcream; margin-bottom: 30px;" disabled>
                                                        <!-- <span> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Warning! Fee is in Excess of what is expected</span> -->
                                                        <div id="warning" class="row" style="color: crimson;font-size: smaller;margin-top: 15px;width: 50%;
                                                            text-align:center;
                                                            margin: auto;
                                                            border-radius: 6px;
                                                        ">
                                                        <span> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>  Warning! Amount entered is in excess the fee expected.</span>
                                                        </div>
                                                    </div>



                                                    <div class="form-group col-md-6">
                                                        <label>Expected Payment</label>
                                                        <input type="text" id="expected" name="expected" class="form-control" value="{{payment.transaction.expected}}" disabled/>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label>Amount Received</label>
                                                        <input type="text" name="received" id="received_payment" class="form-control" required/>
                                                    </div>
                                                </div>
                                                <!-- <div class="row">
                                                   {% if transaction.offer.delivery_method == 'DELIVERY' %}
                                                    <div class="form-group col-md-6">
                                                        <label>Transport Charge</label>
                                                        <input type="text" name="transport_charge" class="form-control"  required/>
                                                    </div>
                                                    {% endif %}
                                                </div> -->

                                                <div class="row">
                                                    <input type="hidden" name="payment" class="form-control" value={{payment.id}}  required/>
                                                </div>

                                                <div class="modal-footer">
                                                    <div >

                                                        <button type="submit" class="btn btn-primary" style="margin-left: 15px;">Approve</button>
                                                        <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">
                                                            Close
                                                        </button>
                                                    </div>
                                                </div>


                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!--End approve modal-->

                            <script>
                                $('#warning').hide();
                                //Script for live warnings on payments
                                $('#received_payment').on('keyup', function() {
                                    // Code in here will run when the baseSize input is changed
                                if (isNaN($('#received_payment').val())) {
                                        $('input[name="bal"]').val("Enter float, number.");
                                }else{
                                    var bal = parseFloat($('input[name="expected"]').val() - $('input[name="received"]').val()).toFixed(2);
                                    
                                    if (bal >= 0 ){
                                        $('#warning').hide();
                                    } else{
                                        $('#warning').show();
                                    }

                                    $('input[name="bal"]').val(bal)


                                }    

                               
                                });

                            </script>

                            <script>
                                $('body').click(function (event) {
                                    if(!$(event.target).closest('#view{{payment.id}}').length && !$(event.target).is('#view{{payment.id}}')) {
                                        $("#view{{payment.id}}").modal('hide');
                                    }
                                    if(!$(event.target).closest('#trans{{payment.id}}').length && !$(event.target).is('#trans{{payment.id}}')) {
                                        $("#trans{{payment.id}}").modal('hide');
                                    }if(!$(event.target).closest('#schedule{{payment.id}}').length && !$(event.target).is('#schedule{{payment.id}}')) {
                                        $("#schedule{{payment.id}}").modal('hide');
                                    }
                                     
                                });
                            </script>   
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="4" style="text-align:right">Total:</th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
           


        </div>
    </div>
</section>

{% endblock %}